@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section class="section dark-bg-without-bottom">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-hflex cta-wrapper">
			<div class="w-layout-hflex subtitle dark">
				<div>@Localizer["Contact"]</div>
				<div class="dot white"></div>
			</div>
			<div class="w-layout-vflex cta-right">
				<div data-w-id="09466230-4a3c-b128-8268-bf2e95416850" class="cta-text-wrapper">
					<h2 class="text-white">
						<span class="text-span-image">.</span> @Localizer["Ready"]
						<span class="gray-color">@Localizer["Our team"]</h2>
					<div data-poster-url="/images/cta-poster-00001.jpg"
						 data-video-urls="/images/cta-transcode.mp4,/images/cta-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="cta-video-absolute w-background-video w-background-video-atom">
						<video id="09466230-4a3c-b128-8268-bf2e95416857-video" autoplay="" loop="" style='background-image:url("/images/cta-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
							<source src="/images/cta-transcode.mp4" data-wf-ignore="true" />
							<source src="/images/cta-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
				<a data-w-id="09466230-4a3c-b128-8268-bf2e95416858" href="/contact-us" class="primary-button-white w-inline-block">
					<div>@Localizer["Discover"]</div>
					<div class="clip">
						<div class="clip-icon-wrapper"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						<div class="clip-icon-wrapper right"><img src="/images/group-201.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
