<form action="/search" class="search-desktop">
    <div class="search-wrapper">
        <input class="search-wrap-input"
               autofocus
               maxlength="256"
               name="query"
               placeholder="Enter search keyword"
               type="search"
               id="search-2"
               required />
        <div class="search-bottom-line"></div>
        <input type="submit"
               class="primary-button serch-button"
               value="Search" />
    </div>
    <div class="search-close-button"></div>
</form>
