<form action="/search" class="search-desktop w-form">
    <div class="search-wrapper">
        <input class="search-wrap-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Enter search keyword" type="search" id="search-2" required="" />
        <div class="search-bottom-line"></div>
        <input type="submit" class="primary-button serch-button w-button" value="Search" />
    </div>
    <div data-w-id="cffaa0d6-0cd7-3509-9f08-dbbd1e309db4" class="search-close-button"></div>
</form>