<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2 dark-background">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-hflex home-2-banner-top">
			<div class="w-layout-vflex about-title small">
				<div class="w-layout-vflex vertical-20">
					<div class="position-relative">
						<h1 class="text-white">Voices that inspire The Lab</h1>
					</div>
					<div class="banner-2-description">
						<div class="paragraph-large gray-color">Hear from our clients and collaborators about their experiences working with TheLab.</div>
					</div>
				</div>
			</div>
		</div>
		<div class="lightbox-home-2">
			<div data-poster-url="~/images/testimonials-poster-00001.jpg"
				 data-video-urls="~/images/testimonials-transcode.mp4,~/images/testimonials-transcode.webm"
				 data-autoplay="true"
				 data-loop="true"
				 data-wf-ignore="true"
				 class="full-video-bg z1 w-background-video w-background-video-atom">
				<video id="a723251a-d165-ec57-e326-030f736c1f10-video"
					   autoplay
					   loop
					   style='background-image:url("~/images/testimonials-poster-00001.jpg")'
					   muted
					   playsinline
					   data-wf-ignore="true"
					   data-object-fit="cover">
					<source src="~/images/testimonials-transcode.mp4" data-wf-ignore="true" />
					<source src="~/images/testimonials-transcode.webm" data-wf-ignore="true" />
				</video>
			</div>
		</div>
	</div>
</section>
<section class="section overflow-hidden">
	<div class="w-layout-blockcontainer base-container position-relative w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-hflex subtitle">
				<div>Reviews</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-vflex vertical-20 centered">
				<h2 class="home-3-testimonials-title">Our clients’ satisfaction is our top priority.</h2>
				<div class="rewiews-desription">
					<div class="gray-color">We’re proud of the relationships we’ve built and the impact our videos have made.</div>
				</div>
			</div>
			<div class="w-layout-grid testimonials-grid">
				<div class="w-layout-vflex slide-intro">
					<div class="w-layout-vflex vertical-20">
						<div class="w-layout-hflex stars-wrapper">
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
						</div>
						<h5>
							"From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect with our audience in a way we hadn’t imagined."
						</h5>
					</div>
					<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
				</div>
				<div class="w-layout-vflex slide-intro">
					<div class="w-layout-vflex vertical-20">
						<div class="w-layout-hflex stars-wrapper">
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
						</div>
						<h5>
							"We’ve worked with many studios, but The Lab stands out. Their expertise, communication, and passion for storytelling are unmatched. We couldn’t be happier with the final result, and it’s helping us reach new customers."
						</h5>
					</div>
					<div class="upper-text-600 gray-color">Rebecca, Creative Director, Urban</div>
				</div>
				<div class="w-layout-vflex slide-intro">
					<div class="w-layout-vflex vertical-20">
						<div class="w-layout-hflex stars-wrapper">
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
						</div>
						<h5>
							"From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect with our audience in a way we hadn’t imagined."
						</h5>
					</div>
					<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
				</div>
				<div class="w-layout-vflex slide-intro">
					<div class="w-layout-vflex vertical-20">
						<div class="w-layout-hflex stars-wrapper">
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							<img src="~/images/star-201.svg" loading="lazy" alt="star" />
						</div>
						<h5>
							"The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a huge impact on our brand."
						</h5>
					</div>
					<div class="upper-text-600 gray-color">Daniel, CEO AZS Agency</div>
				</div>
			</div>
		</div>
		<div class="testimonials-adsolute"></div>
	</div>
</section>

<section class="section without-top-spacing">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex home-2-testimonials">
			<div class="home-2-reviews-slider w-slider" data-autoplay="false" data-hide-arrows="false" data-disable-swipe="false">
				<div class="home-2-testimonials-mask-copy w-slider-mask">
					<div class="reviews-slide w-slide">
						<div class="w-layout-hflex testimonials-2-intro">
							<div class="testimonials-page-text-wrapper">
								<div class="clip">
									<h2 class="testimonial-text-home-2">
										"The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a huge impact on our brand."
									</h2>
								</div>
							</div>
							<div class="w-layout-vflex testimonials-member-wrapper">
								<div class="clip">
									<div class="w-layout-vflex vertical-20 mobile-flex-hor">
										<img src="~/images/rectangle-2064-20-1-.webp" loading="lazy" width="132" alt="man" class="testimonials-image small" />
										<div class="position-testimonials">
											<div class="upper-text-600">Martin, <span class="gray-color">CEO GreenE Solutions</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="reviews-slide w-slide">
						<div class="w-layout-hflex testimonials-2-intro">
							<div class="testimonials-page-text-wrapper">
								<div class="clip">
									<h2 class="testimonial-text-home-2">
										"From start to finish, The Lab team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect with our audience in a way we hadn’t imagined."
									</h2>
								</div>
							</div>
							<div class="w-layout-vflex testimonials-member-wrapper">
								<div class="clip">
									<div class="w-layout-vflex vertical-20 mobile-flex-hor">
										<img src="~/images/member-photo-2.webp" loading="lazy" width="132" alt="photo" class="testimonials-image small" />
										<div class="position-testimonials">
											<div class="upper-text-600">Daniel, <span class="gray-color">CEO AZS Agency</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="reviews-slide w-slide">
						<div class="w-layout-hflex testimonials-2-intro">
							<div class="testimonials-page-text-wrapper">
								<div class="clip">
									<h2 class="testimonial-text-home-2">
										"The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a huge impact on our brand."
									</h2>
								</div>
							</div>
							<div class="w-layout-vflex testimonials-member-wrapper">
								<div class="clip">
									<div class="w-layout-vflex vertical-20 mobile-flex-hor">
										<img src="~/images/member-photo-9.webp" loading="lazy" width="132" alt="photo" class="testimonials-image small" />
										<div class="position-testimonials">
											<div class="upper-text-600">Rebecca, <span class="gray-color">Creative Director, Urban</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="reviews-slide w-slide">
						<div class="w-layout-hflex testimonials-2-intro">
							<div class="testimonials-page-text-wrapper">
								<div class="clip">
									<h2 class="testimonial-text-home-2">
										"We’ve worked with many studios, but The Lab stands out. Their expertise, communication, and passion for storytelling are unmatched. We couldn’t be happier with the final result."
									</h2>
								</div>
							</div>
							<div class="w-layout-vflex testimonials-member-wrapper">
								<div class="clip">
									<div class="w-layout-vflex vertical-20 mobile-flex-hor">
										<img src="~/images/member-photo.webp" loading="lazy" width="132" alt="photo" class="testimonials-image small" />
										<div class="position-testimonials">
											<div class="upper-text-600">Anna, <span class="gray-color">CEO Flowers Shop</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-2-arrow w-slider-arrow-left">
					<img src="~/images/group-201-20-2-.svg" loading="lazy" alt="icon" />
				</div>
				<div class="slider-2-arrow right w-slider-arrow-right">
					<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
				</div>
				<div class="hidden w-slider-nav w-round w-num"></div>
			</div>
		</div>
	</div>
</section>

<section class="section dark-bg-without-bottom">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-hflex cta-wrapper">
			<div class="w-layout-hflex subtitle dark">
				<div>Contact us</div>
				<div class="dot white"></div>
			</div>
			<div class="w-layout-vflex cta-right">
				<div class="cta-text-wrapper">
					<h2 class="text-white">
						<span class="text-span-image">.</span> Ready to bring your vision to life?
						<span class="gray-color">Our team at The Lab is here to make it happen. Get in touch with us today to start your next video project!</span>
					</h2>
					<div class="cta-video-absolute w-background-video w-background-video-atom">
						<video style='background-image:url("~/images/cta-poster-00001.jpg")' muted playsinline data-object-fit="cover" autoplay loop>
							<source src="~/images/cta-transcode.mp4" type="video/mp4" />
							<source src="~/images/cta-transcode.webm" type="video/webm" />
						</video>
					</div>
				</div>
				<a href="~/contact-us" class="primary-button-white w-inline-block">
					<div>Discover next project</div>
					<div class="clip">
						<div class="clip-icon-wrapper">
							<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
						</div>
						<div class="clip-icon-wrapper right">
							<img src="~/images/group-201.svg" loading="lazy" alt="icon" class="btn-icon" />
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
