<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2 dark-background">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-hflex home-2-banner-top">
			<div class="w-layout-vflex about-title small">
				<div class="w-layout-vflex vertical-20">
					<div class="position-relative">
						<h1 class="text-white">The Minds Behind the Magic</h1>
					</div>
					<div class="banner-2-description">
						<div class="paragraph-large gray-color">Meet the creative visionaries who make it all happen at TheLab. Our team work together to push boundaries and deliver exceptional results.</div>
					</div>
				</div>
			</div>
			<a href="#Scroll-link" class="scroll-link-light w-inline-block">
				<div>Scroll for more</div>
				<div class="dot"></div>
			</a>
		</div>
		<a href="#" id="Scroll-link" class="lightbox-home-2 w-inline-block w-lightbox">
			<div class="relative-20">
				<div class="w-layout-hflex primary-button-white">
					<div>Watch reel</div>
					<div class="clip">
						<div class="clip-icon-wrapper">
							<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
						</div>
						<div class="clip-icon-wrapper right">
							<img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
						</div>
					</div>
				</div>
			</div>
			<div class="full-video-bg z1 w-background-video w-background-video-atom">
				<video id="home-video" autoplay loop muted playsinline style='background-image:url("~/images/6883825-sd_960_506_25fps-poster-00001.jpg")' data-object-fit="cover">
					<source src="~/images/6883825-sd_960_506_25fps-transcode.mp4" type="video/mp4" />
					<source src="~/images/6883825-sd_960_506_25fps-transcode.webm" type="video/webm" />
				</video>
			</div>
		</a>
	</div>
</section>
<section class="section overflow-hidden">
	<div class="w-layout-blockcontainer base-container position-relative w-container">
		<div class="w-layout-vflex vertical-40">
			<div class="w-layout-vflex vertical-20">
				<h2 class="quote-title">The Lab was founded by Eric Labbonski.</h2>
				<div class="quote-description">
					<div class="gray-color paragraph-large">A visionary in the world of video production with a deep passion for storytelling and creative excellence.</div>
				</div>
			</div>
			<div class="quote-video w-background-video w-background-video-atom">
				<video id="quote-video" autoplay loop muted playsinline style='background-image:url("~/images/523b-4675-8716-1b62195303ef-poster-00001.jpg")' data-object-fit="cover">
					<source src="~/images/523b-4675-8716-1b62195303ef-transcode.mp4" type="video/mp4" />
					<source src="~/images/523b-4675-8716-1b62195303ef-transcode.webm" type="video/webm" />
				</video>
			</div>
			<div class="w-layout-vflex quote-wrapper">
				<div class="quote-text-wrapper">
					<h3 class="text-white">
						At The Lab, we believe that every frame tells a story. Our mission is to turn ideas into unforgettable experiences, where creativity and technology unite to inspire and engage.
					</h3>
				</div>
				<div class="w-layout-vflex vertical-8">
					<h6 class="upper-text-600 text-white">Eric Labbonski</h6>
					<h6 class="upper-text gray-color">CEO of TheLab</h6>
				</div>
			</div>
		</div>
		<div class="quote-absolute"></div>
	</div>
</section>
<section>
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-hflex subtitle">
				<div>the team</div>
				<div class="dot"></div>
			</div>
			<div class="team-title-wrapper center"><h2>Meet the people behind the camera</h2></div>
			<div class="w-layout-grid team-grid">
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img"><img src="~/images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Amélie Laurent</h6>
							<div class="upper-text gray-color">Creative Director</div>
						</div>
						<div class="gray-color">Visionary leader turning ideas into powerful stories.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img second"><img src="~/images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Nikolas Gibbons</h6>
							<div class="upper-text gray-color">Producer</div>
						</div>
						<div class="gray-color">Organizes and manages projects from start to finish.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img third"><img src="~/images/image-20-6-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Sienna Hewitt</h6>
							<div class="upper-text gray-color">Director of Photography</div>
						</div>
						<div class="gray-color">Captures stunning visuals with precision.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _04"><img src="~/images/image-20-7-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Lily-Rose Chedjou</h6>
							<div class="upper-text gray-color">Editor</div>
						</div>
						<div class="gray-color">Transforms raw footage into engaging content.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _05"><img src="~/images/image-20-8-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Zahra Christensen</h6>
							<div class="upper-text gray-color">Motion Graphics Designer</div>
						</div>
						<div class="gray-color">Creates dynamic graphics to elevate projects.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _06"><img src="~/images/image-20-9-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Caitlyn King</h6>
							<div class="upper-text gray-color">Project Manager</div>
						</div>
						<div class="gray-color">Ensures smooth coordination and timely delivery.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24 tablet-hidden">
					<div class="team-member-img _07"><img src="~/images/image-20-10-.webp" loading="lazy" alt="man" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Zaid Schwartz</h6>
							<div class="upper-text gray-color">Assistant Director</div>
						</div>
						<div class="gray-color">Supports logistics and contributes fresh ideas.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24 tablet-hidden">
					<div class="team-member-img _08"><img src="~/images/image-20-11-.webp" loading="lazy" alt="Man" class="cover-image" /></div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Marco Kelly</h6>
							<div class="upper-text gray-color">Customer Success</div>
						</div>
						<div class="gray-color">Lead CX at Wealthsimple. Former PagerDuty and Sqreen.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-hflex subtitle">
				<div>the team</div>
				<div class="dot"></div>
			</div>
			<div class="team-title-wrapper center">
				<h2>Meet the people behind the camera</h2>
			</div>
			<div class="w-layout-grid team-grid">
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img">
						<img src="~/images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<h6 class="upper-text-600">Amélie Laurent</h6>
						<div class="upper-text gray-color">Creative Director</div>
						<div class="gray-color">Visionary leader turning ideas into powerful stories.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img second">
						<img src="~/images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<h6 class="upper-text-600">Nikolas Gibbons</h6>
						<div class="upper-text gray-color">Producer</div>
						<div class="gray-color">Organizes and manages projects from start to finish.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="w-layout-blockcontainer base-container position-relative w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-hflex subtitle">
				<div>Reviews</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-vflex vertical-20 centered">
				<h2 class="home-3-testimonials-title">Our clients’ satisfaction is our top priority.</h2>
				<div class="gray-color">We’re proud of the relationships we’ve built and the impact our videos have made.</div>
			</div>
			<div class="testimonials-slider-home-3">
				<div class="home-testimonials-slide">
					<div class="w-layout-vflex slide-intro">
						<div class="w-layout-vflex vertical-20">
							<div class="w-layout-hflex stars-wrapper">
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							</div>
							<h5>"The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a huge impact on our brand."</h5>
						</div>
						<div class="upper-text-600 gray-color">Daniel, CEO AZS Agency</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
