<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2 dark-background">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex home-2-banner-top">
				<div class="w-layout-vflex about-title large">
					<div class="w-layout-vflex vertical-20">
						<div data-w-id="96862b0d-f9e7-34f2-6896-4f057ded4d23" style="opacity:0" class="position-relative"><h1 class="text-white">Our Works</h1></div>
						<div data-w-id="96862b0d-f9e7-34f2-6896-4f057ded4d26" style="opacity:0" class="banner-2-description">
							<div class="paragraph-large gray-color">Each project reflects our dedication to excellence, creativity, and innovation.</div>
						</div>
					</div>
				</div>
				<a data-w-id="96862b0d-f9e7-34f2-6896-4f057ded4d29" style="opacity:0" href="#scroll" class="scroll-link-light w-inline-block">
					<div>Scroll for more</div>
					<div class="dot"></div>
				</a>
			</div>
		</div>
	</section>
<section id="scroll" class="section">
		<div class="w-layout-blockcontainer base-container w-container">
			<div id="w-node-_5778d16f-8c1f-97a4-751e-f1cec88d3ecb-1425c523" data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ecb" style="opacity:0" class="position-relative">
				<div class="collection-list-wrapper w-dyn-list">
					<div role="list" class="collection-grid-2-column w-dyn-items">
						<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ece" role="listitem" class="collection-item w-dyn-item">
							<a href="/works/fuji-mountain-cinematic" class="w-inline-block">
								<img src="/images/5607843-uhd_2560_1440_24fps-20-1-.jpg"
									 loading="lazy"
									 alt="Work Image"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
									 srcset="
											/images/5607843-uhd_2560_1440_24fps-20-1-p-500.jpg   500w,
											/images/5607843-uhd_2560_1440_24fps-20-1-p-800.jpg   800w,
											/images/5607843-uhd_2560_1440_24fps-20-1-p-1080.jpg 1080w,
											/images/5607843-uhd_2560_1440_24fps-20-1-.jpg       1300w
										"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ed3" class="clip">
										<div class="clip-text-wrapper"><a href="/works/fuji-mountain-cinematic" class="works-title white">Fuji mountain cinematic</a></div>
										<div class="clip-text-wrapper bottom"><a href="/works/fuji-mountain-cinematic" class="works-title white">Fuji mountain cinematic</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Yolo studio</div>
										<div>/</div>
										<div>2025</div>
									</div>
								</div>
								<a href="/works/fuji-mountain-cinematic" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
						<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ece" role="listitem" class="collection-item w-dyn-item">
							<a href="/works/love-story" class="w-inline-block">
								<img src="/images/4873410-hd_1920_1080_25fps-20-3-.jpg"
									 loading="lazy"
									 alt="Work Image"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
									 srcset="
											/images/4873410-hd_1920_1080_25fps-20-3-p-500.jpg   500w,
											/images/4873410-hd_1920_1080_25fps-20-3-p-800.jpg   800w,
											/images/4873410-hd_1920_1080_25fps-20-3-p-1080.jpg 1080w,
											/images/4873410-hd_1920_1080_25fps-20-3-.jpg       1300w
										"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ed3" class="clip">
										<div class="clip-text-wrapper"><a href="/works/love-story" class="works-title white">Love story</a></div>
										<div class="clip-text-wrapper bottom"><a href="/works/love-story" class="works-title white">Love story</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Kate &amp; Daniel</div>
										<div>/</div>
										<div>2025</div>
									</div>
								</div>
								<a href="/works/love-story" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
						<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ece" role="listitem" class="collection-item w-dyn-item">
							<a href="/works/winter-arcane" class="w-inline-block">
								<img src="/images/4873410-hd_1920_1080_25fps-20-2-.jpg"
									 loading="lazy"
									 alt="Work Image"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
									 srcset="
											/images/4873410-hd_1920_1080_25fps-20-2-p-500.jpg   500w,
											/images/4873410-hd_1920_1080_25fps-20-2-p-800.jpg   800w,
											/images/4873410-hd_1920_1080_25fps-20-2-p-1080.jpg 1080w,
											/images/4873410-hd_1920_1080_25fps-20-2-.jpg       1300w
										"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ed3" class="clip">
										<div class="clip-text-wrapper"><a href="/works/winter-arcane" class="works-title white">Winter Arcane</a></div>
										<div class="clip-text-wrapper bottom"><a href="/works/winter-arcane" class="works-title white">Winter Arcane</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Prompt studio</div>
										<div>/</div>
										<div>2025</div>
									</div>
								</div>
								<a href="/works/winter-arcane" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
						<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ece" role="listitem" class="collection-item w-dyn-item">
							<a href="/works/quiet-depth" class="w-inline-block">
								<img src="/images/8733251-uhd_1440_2732_25fps-20-1-.jpg"
									 loading="lazy"
									 alt="Work Image"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
									 srcset="
											/images/8733251-uhd_1440_2732_25fps-20-1-p-500.jpg   500w,
											/images/8733251-uhd_1440_2732_25fps-20-1-p-800.jpg   800w,
											/images/8733251-uhd_1440_2732_25fps-20-1-p-1080.jpg 1080w,
											/images/8733251-uhd_1440_2732_25fps-20-1-.jpg       1300w
										"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ed3" class="clip">
										<div class="clip-text-wrapper"><a href="/works/quiet-depth" class="works-title white">Quiet Depth</a></div>
										<div class="clip-text-wrapper bottom"><a href="/works/quiet-depth" class="works-title white">Quiet Depth</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Insight Studio</div>
										<div>/</div>
										<div>2022</div>
									</div>
								</div>
								<a href="/works/quiet-depth" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
						<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ece" role="listitem" class="collection-item w-dyn-item">
							<a href="/works/hidden-gaze" class="w-inline-block">
								<img src="/images/11721832-hd_1920_1080_30fps.jpg"
									 loading="lazy"
									 alt="Work Image"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
									 srcset="
											/images/11721832-hd_1920_1080_30fps-p-500.jpg   500w,
											/images/11721832-hd_1920_1080_30fps-p-800.jpg   800w,
											/images/11721832-hd_1920_1080_30fps-p-1080.jpg 1080w,
											/images/11721832-hd_1920_1080_30fps.jpg        1300w
										"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ed3" class="clip">
										<div class="clip-text-wrapper"><a href="/works/hidden-gaze" class="works-title white">Hidden Gaze</a></div>
										<div class="clip-text-wrapper bottom"><a href="/works/hidden-gaze" class="works-title white">Hidden Gaze</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Insight Studio</div>
										<div>/</div>
										<div>2022</div>
									</div>
								</div>
								<a href="/works/hidden-gaze" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
						<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ece" role="listitem" class="collection-item w-dyn-item">
							<a href="/works/silent-reflection" class="w-inline-block">
								<img src="/images/6153801-uhd_2732_1440_30fps-20-2-.jpg"
									 loading="lazy"
									 alt="Work Image"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
									 srcset="
											/images/6153801-uhd_2732_1440_30fps-20-2-p-500.jpg   500w,
											/images/6153801-uhd_2732_1440_30fps-20-2-p-800.jpg   800w,
											/images/6153801-uhd_2732_1440_30fps-20-2-p-1080.jpg 1080w,
											/images/6153801-uhd_2732_1440_30fps-20-2-.jpg       1300w
										"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div data-w-id="5778d16f-8c1f-97a4-751e-f1cec88d3ed3" class="clip">
										<div class="clip-text-wrapper"><a href="/works/silent-reflection" class="works-title white">Silent Reflection</a></div>
										<div class="clip-text-wrapper bottom"><a href="/works/silent-reflection" class="works-title white">Silent Reflection</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Insight Studio</div>
										<div>/</div>
										<div>2022</div>
									</div>
								</div>
								<a href="/works/silent-reflection" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
					</div>
					<div role="navigation" aria-label="List" class="w-pagination-wrapper"></div>
				</div>
				<div class="w-layout-grid works-videos">
					<div class="work-video-wrapper">
						<div data-poster-url="/images/work1-poster-00001.jpg"
							 data-video-urls="/images/work1-transcode.mp4,/images/work1-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="full-video-work w-background-video w-background-video-atom">
							<video id="5778d16f-8c1f-97a4-751e-f1cec88d3ee8-video" autoplay="" loop="" style='background-image:url("/images/work1-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
								<source src="/images/work1-transcode.mp4" data-wf-ignore="true" />
								<source src="/images/work1-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<div class="work-video-wrapper">
						<div data-poster-url="/images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg"
							 data-video-urls="/images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4,/images/7dd3-47f6-bdd3-add3a236def8-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="full-video-work w-background-video w-background-video-atom">
							<video id="79d15239-1990-a08b-352f-417518e4becb-video"
								   autoplay=""
								   loop=""
								   style='background-image:url("/images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg")'
								   muted=""
								   playsinline=""
								   data-wf-ignore="true"
								   data-object-fit="cover">
								<source src="/images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4" data-wf-ignore="true" />
								<source src="/images/7dd3-47f6-bdd3-add3a236def8-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<div class="work-video-wrapper">
						<div data-poster-url="/images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg"
							 data-video-urls="/images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4,/images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="full-video-work w-background-video w-background-video-atom">
							<video id="e4f52a9f-91cf-7c9c-c223-f5664d758505-video"
								   autoplay=""
								   loop=""
								   style='background-image:url("/images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg")'
								   muted=""
								   playsinline=""
								   data-wf-ignore="true"
								   data-object-fit="cover">
								<source src="/images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4" data-wf-ignore="true" />
								<source src="/images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<div class="work-video-wrapper">
						<div data-poster-url="/images/work-poster-00001.jpg"
							 data-video-urls="/images/work-transcode.mp4,/images/work-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="full-video-work w-background-video w-background-video-atom">
							<video id="884e9c84-12ab-120e-1562-866491b16fb6-video" autoplay="" loop="" style='background-image:url("/images/work-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
								<source src="/images/work-transcode.mp4" data-wf-ignore="true" />
								<source src="/images/work-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<div class="work-video-wrapper">
						<div data-poster-url="/images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg"
							 data-video-urls="/images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4,/images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="full-video-work w-background-video w-background-video-atom">
							<video id="4395af8b-a42a-a4d1-f936-156cbc144a7a-video"
								   autoplay=""
								   loop=""
								   style='background-image:url("/images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg")'
								   muted=""
								   playsinline=""
								   data-wf-ignore="true"
								   data-object-fit="cover">
								<source src="/images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4" data-wf-ignore="true" />
								<source src="/images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<div class="work-video-wrapper">
						<div data-poster-url="/images/dfe3-445a-bc6a-6de7501d210b-poster-00001.jpg"
							 data-video-urls="/images/dfe3-445a-bc6a-6de7501d210b-transcode.mp4,/images/dfe3-445a-bc6a-6de7501d210b-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="full-video-work w-background-video w-background-video-atom">
							<video id="ffbc98a1-25bd-d03c-200b-5998e91b18b5-video"
								   autoplay=""
								   loop=""
								   style='background-image:url("/images/dfe3-445a-bc6a-6de7501d210b-poster-00001.jpg")'
								   muted=""
								   playsinline=""
								   data-wf-ignore="true"
								   data-object-fit="cover">
								<source src="/images/dfe3-445a-bc6a-6de7501d210b-transcode.mp4" data-wf-ignore="true" />
								<source src="/images/dfe3-445a-bc6a-6de7501d210b-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Начало dark-bg-without-bottom -->
@Html.Partial("DarkBgWithoutBottom")
<!-- Конец dark-bg-without-bottom -->

