<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
	<section class="banner-home-2">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex home-2-banner-top">
				<div class="w-layout-vflex about-title">
					<div class="w-layout-vflex vertical-20">
						<div data-w-id="b2ae228a-f1fc-a4ab-f020-dc3183615d66" style="opacity:0" class="position-relative"><h1>Our Portfolio</h1></div>
						<div data-w-id="b2ae228a-f1fc-a4ab-f020-dc3183615d69" style="opacity:0" class="banner-2-description">
							<div class="paragraph-large gray-color">At TheLab, we bring your vision to life through captivating storytelling and cinematic excellence.</div>
						</div>
					</div>
				</div>
				<a data-w-id="b2ae228a-f1fc-a4ab-f020-dc3183615d6c" style="opacity:0" href="#scroll" class="scroll-link mobile-hidden w-inline-block">
					<div>Scroll for more</div>
					<div class="dot"></div>
				</a>
			</div>
		</div>
	</section>
	<section id="scroll" class="section">
		<div class="w-layout-blockcontainer base-container w-container">
			<div data-w-id="2fa8fdbd-bba1-f32d-f5b3-bc84f4f1d8e3" style="opacity:0" class="position-relative">
				<div class="collection-list-wrapper w-dyn-list">
					<div role="list" class="latest-project-list w-dyn-items">
						<div data-w-id="5a5d39f4-0103-d3de-af3b-626a3cde19ab" role="listitem" class="latest-portfolio-item w-dyn-item">
							<a href="/works/fuji-mountain-cinematic" class="hero-portfolio-row w-inline-block">
								<div class="w-layout-grid portfolio-grid">
									<div id="w-node-ddd1df09-9ef9-b5fa-3c1c-e8ae1364a79b-1425c524" class="w-layout-vflex portfolio-2-text">
										<div class="clip">
											<div class="clip-text-wrapper"><h3 class="row-portfolio-title">Fuji mountain cinematic</h3></div>
											<div class="clip-text-wrapper bottom"><h3 class="row-portfolio-title">Fuji mountain cinematic</h3></div>
										</div>
										<div class="w-layout-vflex vertical-16">
											<div class="work-description">A breathtaking visual tale of serenity and grandeur, showcasing the majestic beauty of Mount Fuji.</div>
											<div class="w-layout-hflex bottom-info-work">
												<div class="w-layout-hflex date-work-wrapp dark">
													<div>Yolo studio</div>
													<div>/</div>
													<div>2025</div>
												</div>
												<div class="clip">
													<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
														 class="clip-icon-wrapper">
														<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
													</div>
													<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" /></div>
												</div>
											</div>
										</div>
									</div>
									<div id="w-node-_097933da-4187-ddec-117c-0435ce28764f-1425c524" class="w-layout-hflex photo-item-image">
										<div class="portfolio-image-item">
											<img src="/images/5607843-uhd_2560_1440_24fps-20-1-.jpg"
												 loading="lazy"
												 alt=""
												 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1439px) 98vw, 1300px"
												 srcset="
														/images/5607843-uhd_2560_1440_24fps-20-1-p-500.jpg   500w,
														/images/5607843-uhd_2560_1440_24fps-20-1-p-800.jpg   800w,
														/images/5607843-uhd_2560_1440_24fps-20-1-p-1080.jpg 1080w,
														/images/5607843-uhd_2560_1440_24fps-20-1-.jpg       1300w
													"
												 class="image-fill" />
										</div>
									</div>
								</div>
								<div class="line-bottom"></div>
							</a>
						</div>
						<div data-w-id="5a5d39f4-0103-d3de-af3b-626a3cde19ab" role="listitem" class="latest-portfolio-item w-dyn-item">
							<a href="/works/love-story" class="hero-portfolio-row w-inline-block">
								<div class="w-layout-grid portfolio-grid">
									<div id="w-node-ddd1df09-9ef9-b5fa-3c1c-e8ae1364a79b-1425c524" class="w-layout-vflex portfolio-2-text">
										<div class="clip">
											<div class="clip-text-wrapper"><h3 class="row-portfolio-title">Love story</h3></div>
											<div class="clip-text-wrapper bottom"><h3 class="row-portfolio-title">Love story</h3></div>
										</div>
										<div class="w-layout-vflex vertical-16">
											<div class="work-description">A heartfelt journey capturing moments of passion, connection, and timeless romance.</div>
											<div class="w-layout-hflex bottom-info-work">
												<div class="w-layout-hflex date-work-wrapp dark">
													<div>Kate &amp; Daniel</div>
													<div>/</div>
													<div>2025</div>
												</div>
												<div class="clip">
													<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
														 class="clip-icon-wrapper">
														<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
													</div>
													<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" /></div>
												</div>
											</div>
										</div>
									</div>
									<div id="w-node-_097933da-4187-ddec-117c-0435ce28764f-1425c524" class="w-layout-hflex photo-item-image">
										<div class="portfolio-image-item">
											<img src="/images/4873410-hd_1920_1080_25fps-20-3-.jpg"
												 loading="lazy"
												 alt=""
												 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1439px) 98vw, 1300px"
												 srcset="
														/images/4873410-hd_1920_1080_25fps-20-3-p-500.jpg   500w,
														/images/4873410-hd_1920_1080_25fps-20-3-p-800.jpg   800w,
														/images/4873410-hd_1920_1080_25fps-20-3-p-1080.jpg 1080w,
														/images/4873410-hd_1920_1080_25fps-20-3-.jpg       1300w
													"
												 class="image-fill" />
										</div>
									</div>
								</div>
								<div class="line-bottom"></div>
							</a>
						</div>
						<div data-w-id="5a5d39f4-0103-d3de-af3b-626a3cde19ab" role="listitem" class="latest-portfolio-item w-dyn-item">
							<a href="/works/winter-arcane" class="hero-portfolio-row w-inline-block">
								<div class="w-layout-grid portfolio-grid">
									<div id="w-node-ddd1df09-9ef9-b5fa-3c1c-e8ae1364a79b-1425c524" class="w-layout-vflex portfolio-2-text">
										<div class="clip">
											<div class="clip-text-wrapper"><h3 class="row-portfolio-title">Winter Arcane</h3></div>
											<div class="clip-text-wrapper bottom"><h3 class="row-portfolio-title">Winter Arcane</h3></div>
										</div>
										<div class="w-layout-vflex vertical-16">
											<div class="work-description">A heartfelt journey capturing moments of passion, connection, and timeless romance.</div>
											<div class="w-layout-hflex bottom-info-work">
												<div class="w-layout-hflex date-work-wrapp dark">
													<div>Prompt studio</div>
													<div>/</div>
													<div>2025</div>
												</div>
												<div class="clip">
													<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
														 class="clip-icon-wrapper">
														<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
													</div>
													<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" /></div>
												</div>
											</div>
										</div>
									</div>
									<div id="w-node-_097933da-4187-ddec-117c-0435ce28764f-1425c524" class="w-layout-hflex photo-item-image">
										<div class="portfolio-image-item">
											<img src="/images/4873410-hd_1920_1080_25fps-20-2-.jpg"
												 loading="lazy"
												 alt=""
												 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1439px) 98vw, 1300px"
												 srcset="
														/images/4873410-hd_1920_1080_25fps-20-2-p-500.jpg   500w,
														/images/4873410-hd_1920_1080_25fps-20-2-p-800.jpg   800w,
														/images/4873410-hd_1920_1080_25fps-20-2-p-1080.jpg 1080w,
														/images/4873410-hd_1920_1080_25fps-20-2-.jpg       1300w
													"
												 class="image-fill" />
										</div>
									</div>
								</div>
								<div class="line-bottom"></div>
							</a>
						</div>
						<div data-w-id="5a5d39f4-0103-d3de-af3b-626a3cde19ab" role="listitem" class="latest-portfolio-item w-dyn-item">
							<a href="/works/quiet-depth" class="hero-portfolio-row w-inline-block">
								<div class="w-layout-grid portfolio-grid">
									<div id="w-node-ddd1df09-9ef9-b5fa-3c1c-e8ae1364a79b-1425c524" class="w-layout-vflex portfolio-2-text">
										<div class="clip">
											<div class="clip-text-wrapper"><h3 class="row-portfolio-title">Quiet Depth</h3></div>
											<div class="clip-text-wrapper bottom"><h3 class="row-portfolio-title">Quiet Depth</h3></div>
										</div>
										<div class="w-layout-vflex vertical-16">
											<div class="work-description">A heartfelt journey capturing moments of passion, connection, and timeless romance.</div>
											<div class="w-layout-hflex bottom-info-work">
												<div class="w-layout-hflex date-work-wrapp dark">
													<div>Insight Studio</div>
													<div>/</div>
													<div>2022</div>
												</div>
												<div class="clip">
													<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
														 class="clip-icon-wrapper">
														<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
													</div>
													<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" /></div>
												</div>
											</div>
										</div>
									</div>
									<div id="w-node-_097933da-4187-ddec-117c-0435ce28764f-1425c524" class="w-layout-hflex photo-item-image">
										<div class="portfolio-image-item">
											<img src="/images/8733251-uhd_1440_2732_25fps-20-1-.jpg"
												 loading="lazy"
												 alt=""
												 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1439px) 98vw, 1300px"
												 srcset="
														/images/8733251-uhd_1440_2732_25fps-20-1-p-500.jpg   500w,
														/images/8733251-uhd_1440_2732_25fps-20-1-p-800.jpg   800w,
														/images/8733251-uhd_1440_2732_25fps-20-1-p-1080.jpg 1080w,
														/images/8733251-uhd_1440_2732_25fps-20-1-.jpg       1300w
													"
												 class="image-fill" />
										</div>
									</div>
								</div>
								<div class="line-bottom"></div>
							</a>
						</div>
						<div data-w-id="5a5d39f4-0103-d3de-af3b-626a3cde19ab" role="listitem" class="latest-portfolio-item w-dyn-item">
							<a href="/works/hidden-gaze" class="hero-portfolio-row w-inline-block">
								<div class="w-layout-grid portfolio-grid">
									<div id="w-node-ddd1df09-9ef9-b5fa-3c1c-e8ae1364a79b-1425c524" class="w-layout-vflex portfolio-2-text">
										<div class="clip">
											<div class="clip-text-wrapper"><h3 class="row-portfolio-title">Hidden Gaze</h3></div>
											<div class="clip-text-wrapper bottom"><h3 class="row-portfolio-title">Hidden Gaze</h3></div>
										</div>
										<div class="w-layout-vflex vertical-16">
											<div class="work-description">A heartfelt journey capturing moments of passion, connection, and timeless romance.</div>
											<div class="w-layout-hflex bottom-info-work">
												<div class="w-layout-hflex date-work-wrapp dark">
													<div>Insight Studio</div>
													<div>/</div>
													<div>2022</div>
												</div>
												<div class="clip">
													<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
														 class="clip-icon-wrapper">
														<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
													</div>
													<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" /></div>
												</div>
											</div>
										</div>
									</div>
									<div id="w-node-_097933da-4187-ddec-117c-0435ce28764f-1425c524" class="w-layout-hflex photo-item-image">
										<div class="portfolio-image-item">
											<img src="/images/11721832-hd_1920_1080_30fps.jpg"
												 loading="lazy"
												 alt=""
												 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1439px) 98vw, 1300px"
												 srcset="
														/images/11721832-hd_1920_1080_30fps-p-500.jpg   500w,
														/images/11721832-hd_1920_1080_30fps-p-800.jpg   800w,
														/images/11721832-hd_1920_1080_30fps-p-1080.jpg 1080w,
														/images/11721832-hd_1920_1080_30fps.jpg        1300w
													"
												 class="image-fill" />
										</div>
									</div>
								</div>
								<div class="line-bottom"></div>
							</a>
						</div>
						<div data-w-id="5a5d39f4-0103-d3de-af3b-626a3cde19ab" role="listitem" class="latest-portfolio-item w-dyn-item">
							<a href="/works/silent-reflection" class="hero-portfolio-row w-inline-block">
								<div class="w-layout-grid portfolio-grid">
									<div id="w-node-ddd1df09-9ef9-b5fa-3c1c-e8ae1364a79b-1425c524" class="w-layout-vflex portfolio-2-text">
										<div class="clip">
											<div class="clip-text-wrapper"><h3 class="row-portfolio-title">Silent Reflection</h3></div>
											<div class="clip-text-wrapper bottom"><h3 class="row-portfolio-title">Silent Reflection</h3></div>
										</div>
										<div class="w-layout-vflex vertical-16">
											<div class="work-description">A captivating exploration of emotions revealed through subtle expressions and shadows.</div>
											<div class="w-layout-hflex bottom-info-work">
												<div class="w-layout-hflex date-work-wrapp dark">
													<div>Insight Studio</div>
													<div>/</div>
													<div>2022</div>
												</div>
												<div class="clip">
													<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
														 class="clip-icon-wrapper">
														<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
													</div>
													<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" /></div>
												</div>
											</div>
										</div>
									</div>
									<div id="w-node-_097933da-4187-ddec-117c-0435ce28764f-1425c524" class="w-layout-hflex photo-item-image">
										<div class="portfolio-image-item">
											<img src="/images/6153801-uhd_2732_1440_30fps-20-2-.jpg"
												 loading="lazy"
												 alt=""
												 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1439px) 98vw, 1300px"
												 srcset="
														/images/6153801-uhd_2732_1440_30fps-20-2-p-500.jpg   500w,
														/images/6153801-uhd_2732_1440_30fps-20-2-p-800.jpg   800w,
														/images/6153801-uhd_2732_1440_30fps-20-2-p-1080.jpg 1080w,
														/images/6153801-uhd_2732_1440_30fps-20-2-.jpg       1300w
													"
												 class="image-fill" />
										</div>
									</div>
								</div>
								<div class="line-bottom"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="w-layout-vflex latest-project-video">
					<div class="hero-portfolio-row static">
						<div class="w-layout-grid portfolio-grid video">
							<div id="w-node-e3395893-cc2d-2919-0f48-b9e0bc0a3e62-1425c524" class="work-2-video-wrapper">
								<div data-poster-url="/images/ac82-4a63-96c0-67f582c89a6e-poster-00001.jpg"
									 data-video-urls="/images/ac82-4a63-96c0-67f582c89a6e-transcode.mp4,/images/ac82-4a63-96c0-67f582c89a6e-transcode.webm"
									 data-autoplay="true"
									 data-loop="true"
									 data-wf-ignore="true"
									 class="video-fill w-background-video w-background-video-atom">
									<video id="b2be4d71-1989-fa81-9f9c-c692f3d39020-video"
										   autoplay=""
										   loop=""
										   style='background-image:url("/images/ac82-4a63-96c0-67f582c89a6e-poster-00001.jpg")'
										   muted=""
										   playsinline=""
										   data-wf-ignore="true"
										   data-object-fit="cover">
										<source src="/images/ac82-4a63-96c0-67f582c89a6e-transcode.mp4" data-wf-ignore="true" />
										<source src="/images/ac82-4a63-96c0-67f582c89a6e-transcode.webm" data-wf-ignore="true" />
									</video>
								</div>
							</div>
						</div>
					</div>
					<div class="hero-portfolio-row static">
						<div class="w-layout-grid portfolio-grid video">
							<div id="w-node-_1cc2f67a-010a-0749-f910-b6f955e408cf-1425c524" class="work-2-video-wrapper">
								<div data-poster-url="/images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg"
									 data-video-urls="/images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4,/images/7dd3-47f6-bdd3-add3a236def8-transcode.webm"
									 data-autoplay="true"
									 data-loop="true"
									 data-wf-ignore="true"
									 class="video-fill w-background-video w-background-video-atom">
									<video id="1cc2f67a-010a-0749-f910-b6f955e408d0-video"
										   autoplay=""
										   loop=""
										   style='background-image:url("/images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg")'
										   muted=""
										   playsinline=""
										   data-wf-ignore="true"
										   data-object-fit="cover">
										<source src="/images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4" data-wf-ignore="true" />
										<source src="/images/7dd3-47f6-bdd3-add3a236def8-transcode.webm" data-wf-ignore="true" />
									</video>
								</div>
							</div>
						</div>
					</div>
					<div class="hero-portfolio-row static">
						<div class="w-layout-grid portfolio-grid video">
							<div id="w-node-_8ebfb0ca-b5f6-5443-d93f-701feed6ccd2-1425c524" class="work-2-video-wrapper">
								<div data-poster-url="/images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg"
									 data-video-urls="/images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4,/images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm"
									 data-autoplay="true"
									 data-loop="true"
									 data-wf-ignore="true"
									 class="video-fill w-background-video w-background-video-atom">
									<video id="8ebfb0ca-b5f6-5443-d93f-701feed6ccd3-video"
										   autoplay=""
										   loop=""
										   style='background-image:url("/images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg")'
										   muted=""
										   playsinline=""
										   data-wf-ignore="true"
										   data-object-fit="cover">
										<source src="/images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4" data-wf-ignore="true" />
										<source src="/images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm" data-wf-ignore="true" />
									</video>
								</div>
							</div>
						</div>
					</div>
					<div class="hero-portfolio-row static">
						<div class="w-layout-grid portfolio-grid video">
							<div id="w-node-e00bb0fa-230d-e97e-fc25-f4b553454dfc-1425c524" class="work-2-video-wrapper">
								<div data-poster-url="/images/work-poster-00001.jpg"
									 data-video-urls="/images/work-transcode.mp4,/images/work-transcode.webm"
									 data-autoplay="true"
									 data-loop="true"
									 data-wf-ignore="true"
									 class="video-fill w-background-video w-background-video-atom">
									<video id="e00bb0fa-230d-e97e-fc25-f4b553454dfd-video"
										   autoplay=""
										   loop=""
										   style='background-image:url("/images/work-poster-00001.jpg")'
										   muted=""
										   playsinline=""
										   data-wf-ignore="true"
										   data-object-fit="cover">
										<source src="/images/work-transcode.mp4" data-wf-ignore="true" />
										<source src="/images/work-transcode.webm" data-wf-ignore="true" />
									</video>
								</div>
							</div>
						</div>
					</div>
					<div class="hero-portfolio-row static">
						<div class="w-layout-grid portfolio-grid video">
							<div id="w-node-_8cbe90e0-67a2-fa4d-c19d-3c2641c279bd-1425c524" class="work-2-video-wrapper">
								<div data-poster-url="/images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg"
									 data-video-urls="/images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4,/images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm"
									 data-autoplay="true"
									 data-loop="true"
									 data-wf-ignore="true"
									 class="video-fill w-background-video w-background-video-atom">
									<video id="8cbe90e0-67a2-fa4d-c19d-3c2641c279be-video"
										   autoplay=""
										   loop=""
										   style='background-image:url("/images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg")'
										   muted=""
										   playsinline=""
										   data-wf-ignore="true"
										   data-object-fit="cover">
										<source src="/images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4" data-wf-ignore="true" />
										<source src="/images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm" data-wf-ignore="true" />
									</video>
								</div>
							</div>
						</div>
					</div>
					<div class="hero-portfolio-row static">
						<div class="w-layout-grid portfolio-grid video">
							<div id="w-node-_2c92468b-7253-b243-58ef-4dee435cd269-1425c524" class="work-2-video-wrapper">
								<div data-poster-url="/images/dfe3-445a-bc6a-6de7501d210b-poster-00001.jpg"
									 data-video-urls="/images/dfe3-445a-bc6a-6de7501d210b-transcode.mp4,/images/dfe3-445a-bc6a-6de7501d210b-transcode.webm"
									 data-autoplay="true"
									 data-loop="true"
									 data-wf-ignore="true"
									 class="video-fill w-background-video w-background-video-atom">
									<video id="2c92468b-7253-b243-58ef-4dee435cd26a-video"
										   autoplay=""
										   loop=""
										   style='background-image:url("/images/dfe3-445a-bc6a-6de7501d210b-poster-00001.jpg")'
										   muted=""
										   playsinline=""
										   data-wf-ignore="true"
										   data-object-fit="cover">
										<source src="/images/dfe3-445a-bc6a-6de7501d210b-transcode.mp4" data-wf-ignore="true" />
										<source src="/images/dfe3-445a-bc6a-6de7501d210b-transcode.webm" data-wf-ignore="true" />
									</video>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Начало dark-bg-without-bottom -->
@Html.Partial("DarkBgWithoutBottom")
<!-- Конец dark-bg-without-bottom -->

