<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2">
    <div data-poster-url="images/6883825-sd_960_506_25fps-poster-00001.jpg"
         data-video-urls="images/6883825-sd_960_506_25fps-transcode.mp4,images/6883825-sd_960_506_25fps-transcode.webm"
         data-autoplay="true"
         data-loop="true"
         data-wf-ignore="true"
         class="full-video-bg z1 w-background-video w-background-video-atom">
        <video id="cc57ec87-c150-acf5-684a-9ed12583358a-video"
               autoplay=""
               loop=""
               style='background-image:url("images/6883825-sd_960_506_25fps-poster-00001.jpg")'
               muted=""
               playsinline=""
               data-wf-ignore="true"
               data-object-fit="cover">
            <source src="~/images/6883825-sd_960_506_25fps-transcode.mp4" data-wf-ignore="true" />
            <source src="~/images/6883825-sd_960_506_25fps-transcode.webm" data-wf-ignore="true" />
        </video>
    </div>
    <div class="services-ov"></div>
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-hflex banner-contacts">
            <div class="w-layout-vflex contact-title">
                <h1 data-w-id="cc57ec87-c150-acf5-684a-9ed125833591" style="opacity:0" class="text-white">Contact us</h1>
                <div data-w-id="cc57ec87-c150-acf5-684a-9ed125833593" style="opacity:0" class="contact-description">
                    <h3 class="text-white">Got a project in mind? Looking for collaboration or just have questions? Connect with us to bring your ideas to life.</h3>
                </div>
            </div>
            <div data-w-id="92a8d9be-2b86-6361-2ecb-849b408b23c7" style="opacity:0" class="contacts-form-wrapper">
                <div class="form-block-contacts w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-contacts" data-wf-page-id="677d4f3a6705411b1425c4e5" data-wf-element-id="ea41af14-8b87-8ae8-ae5d-f8373dc8aafa">
                        <div class="w-layout-vflex vertical-8">
                            <div class="upper-text-600 text-white">Your Name</div>
                            <input class="contacts-input w-input" maxlength="256" name="name" data-name="Name" placeholder="" type="text" id="name" required="" />
                        </div>
                        <div class="w-layout-vflex vertical-8">
                            <div class="upper-text-600 text-white">Your email</div>
                            <input class="contacts-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="" type="email" id="Email" required="" />
                        </div>
                        <div class="w-layout-vflex vertical-8">
                            <div class="upper-text-600 text-white">Your text</div>
                            <textarea placeholder="" maxlength="5000" id="field" name="field" data-name="field" required="" class="contacts-textarea w-input"></textarea>
                        </div>
                        <input type="submit" data-wait="Please wait..." class="primary-button-white w-button" value="Submit" />
                    </form>
                    <div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
                    <div class="error-message-white w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                </div>
            </div>
        </div>
        <div data-w-id="382420eb-1d64-9299-a764-92f5db60f555" style="opacity:0" class="contacts-detail-wrapper">
            <a href="https://g.co/kgs/Vu9jmQ4" target="_blank" class="contacts-detail w-inline-block">
                <div class="contacts-icon"></div>
                <div class="paragraph-no-margin">14 Tottenham Road, London, England</div>
            </a>
            <a href="tel:+12124258617" class="contacts-detail w-inline-block">
                <div class="contacts-icon"></div>
                <div class="paragraph-no-margin">+1 212 425 8617</div>
            </a>
            <a href="mailto: info@example.com" class="contacts-detail w-inline-block">
                <div class="contacts-icon"></div>
                <div class="paragraph-no-margin">info@example.com</div>
            </a>
        </div>
    </div>
</section>
<section class="section">
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-grid process-grid">
            <div class="our-process-video-wrapper">
                <div data-poster-url="images/process-poster-00001.jpg"
                     data-video-urls="images/process-transcode.mp4,images/process-transcode.webm"
                     data-autoplay="true"
                     data-loop="true"
                     data-wf-ignore="true"
                     class="absolute-video w-background-video w-background-video-atom">
                    <video id="6ebcb402-4763-bdce-d0d3-e91d2b3de27e-video" autoplay="" loop="" style='background-image:url("images/process-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                        <source src="~/images/process-transcode.mp4" data-wf-ignore="true" />
                        <source src="~/images/process-transcode.webm" data-wf-ignore="true" />
                    </video>
                </div>
                <div class="w-layout-hflex subtitle">
                    <div>get in touch</div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="w-layout-vflex vertical-40">
                <h2 data-w-id="6ebcb402-4763-bdce-d0d3-e91d2b3de284" style="opacity:0">What’s included in every package</h2>
                <div data-w-id="6ebcb402-4763-bdce-d0d3-e91d2b3de286" style="opacity:0" class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">01.</div>
                        <div class="upper-text-600">Access to our talented creative team</div>
                    </div>
                    <div class="proces-item-description"><div class="gray-color">We start by getting to know your brand, your vision, and your target audience.</div></div>
                </div>
                <div data-w-id="6ebcb402-4763-bdce-d0d3-e91d2b3de28f" style="opacity:0" class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">02.</div>
                        <div class="upper-text-600">Use of state-of-the-art equipment</div>
                    </div>
                    <div class="proces-item-description"><div class="gray-color">Our team of experts collaborates with you to develop a strong concept and compelling script.</div></div>
                </div>
                <div data-w-id="6ebcb402-4763-bdce-d0d3-e91d2b3de298" style="opacity:0" class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">03.</div>
                        <div class="upper-text-600">Transparent communication throughout the process</div>
                    </div>
                    <div class="proces-item-description">
                        <div class="gray-color">From location scouting and casting to scheduling and organizing, we handle all the logistics to ensure a smooth and efficient production phase.</div>
                    </div>
                </div>
                <div data-w-id="6ebcb402-4763-bdce-d0d3-e91d2b3de2a1" style="opacity:0" class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">04.</div>
                        <div class="upper-text-600">Commitment to delivering your unique vision</div>
                    </div>
                    <div class="proces-item-description">
                        <div class="gray-color">Our skilled crew works tirelessly to capture every moment with precision, using the latest equipment and techniques to achieve the highest quality results.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section dark-bg-without-bottom">
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-hflex cta-wrapper">
            <div class="w-layout-hflex subtitle dark">
                <div>Contact us</div>
                <div class="dot white"></div>
            </div>
            <div class="w-layout-vflex cta-right">
                <div data-w-id="09466230-4a3c-b128-8268-bf2e95416850" class="cta-text-wrapper">
                    <h2 class="text-white">
                        <span class="text-span-image">.</span> Ready to bring your vision to life?
                        <span class="gray-color">Our team at The Lab is here to make it happen. Get in touch with us today to start your next video project!</span>
                    </h2>
                    <div data-poster-url="images/cta-poster-00001.jpg"
                         data-video-urls="images/cta-transcode.mp4,images/cta-transcode.webm"
                         data-autoplay="true"
                         data-loop="true"
                         data-wf-ignore="true"
                         class="cta-video-absolute w-background-video w-background-video-atom">
                        <video id="09466230-4a3c-b128-8268-bf2e95416857-video" autoplay="" loop="" style='background-image:url("images/cta-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                            <source src="~/images/cta-transcode.mp4" data-wf-ignore="true" />
                            <source src="~/images/cta-transcode.webm" data-wf-ignore="true" />
                        </video>
                    </div>
                </div>
                <a data-w-id="09466230-4a3c-b128-8268-bf2e95416858" href="/contact-us" aria-current="page" class="primary-button-white w-inline-block w--current">
                    <div>Discover next project</div>
                    <div class="clip">
                        <div class="clip-icon-wrapper"><img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
                        <div class="clip-icon-wrapper right"><img src="~/images/group-201.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>