@model string

<!-- Contact Form Area Start -->
<section class="contact-form-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Oops, something went wrong</p>
                <h6>@Model</h6>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form Area End -->