	<form action="/search" class="search-desktop w-form">
		<div class="search-wrapper">
			<input class="search-wrap-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Enter search keyword" type="search" id="search-2" required="" />
			<div class="search-bottom-line"></div>
			<input type="submit" class="primary-button serch-button w-button" value="Search" />
		</div>
		<div data-w-id="cffaa0d6-0cd7-3509-9f08-dbbd1e309db4" class="search-close-button"></div>
	</form>
	<section class="banner-home-2 dark-background">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex home-2-banner-top">
				<div class="w-layout-vflex about-title large">
					<div class="w-layout-vflex vertical-20">
						<div data-w-id="b7ec0b2b-bdf1-6102-44a3-6706400bb845" style="opacity:0" class="position-relative"><h1 class="text-white">Frequently asked questions</h1></div>
						<div data-w-id="b7ec0b2b-bdf1-6102-44a3-6706400bb848" style="opacity:0" class="banner-2-description">
							<div class="paragraph-large gray-color">Looking for collaboration or just have questions? Connect with us to bring your ideas to life.</div>
						</div>
					</div>
				</div>
				<a data-w-id="b7ec0b2b-bdf1-6102-44a3-6706400bb84b" style="opacity:0" href="#scroll" class="scroll-link-light w-inline-block">
					<div>Scroll for more</div>
					<div class="dot"></div>
				</a>
			</div>
		</div>
	</section>
	<div id="scroll" class="section">
		<div class="base-container w-container">
			<div class="w-layout-grid process-grid">
				<div class="our-process-video-wrapper">
					<div data-poster-url="images/7346384-hd_720_960_25fps-poster-00001.jpg"
						 data-video-urls="images/7346384-hd_720_960_25fps-transcode.mp4,images/7346384-hd_720_960_25fps-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="absolute-video w-background-video w-background-video-atom">
						<video id="c1fc2201-924f-92ed-a268-534cd9ef3e4b-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/7346384-hd_720_960_25fps-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/7346384-hd_720_960_25fps-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/7346384-hd_720_960_25fps-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div class="w-layout-hflex subtitle">
						<div>FAQ</div>
						<div class="dot"></div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-40">
					<h2 data-w-id="c1fc2201-924f-92ed-a268-534cd9ef3e51" style="opacity:0">The most common questions</h2>
					<div class="accordion-wrap-one-column">
						<div data-delay="0" data-hover="false" data-w-id="d8d1a290-4086-58af-299c-750b6a8a53cf" style="opacity:0" class="accordion-item w-dropdown">
							<div class="accordion-toggle w-dropdown-toggle">
								<div class="clip">
									<div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
										 class="clip-text-wrapper">
										<h6 class="accordion-title">What types of videos do you produce?</h6>
									</div>
									<div class="clip-text-wrapper bottom"><h6 class="accordion-title">What types of videos do you produce?</h6></div>
								</div>
								<img style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
									 loading="lazy"
									 alt="icon"
									 src="~/images/group-201-20-2-.svg"
									 class="accordion-icon" />
							</div>
							<nav style="height:0px" class="accordion-list w-dropdown-list">
								<p class="accordion-list-content">We create a variety of videos, including brand films, promotional content, cinematic storytelling, and more.</p>
							</nav>
						</div>
						<div data-delay="0" data-hover="false" data-w-id="d8d1a290-4086-58af-299c-750b6a8a53dc" style="opacity:0" class="accordion-item w-dropdown">
							<div class="accordion-toggle w-dropdown-toggle">
								<div class="clip">
									<div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
										 class="clip-text-wrapper">
										<h6 class="accordion-title">Can I customize a service to fit my project needs?</h6>
									</div>
									<div class="clip-text-wrapper bottom"><h6 class="accordion-title">Can I customize a service to fit my project needs?</h6></div>
								</div>
								<img style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
									 loading="lazy"
									 alt="icon"
									 src="~/images/group-201-20-2-.svg"
									 class="accordion-icon" />
							</div>
							<nav style="height:0px" class="accordion-list w-dropdown-list"><p class="accordion-list-content">Absolutely! We tailor our services to meet your unique vision and requirements.</p></nav>
						</div>
						<div data-delay="0" data-hover="false" data-w-id="d8d1a290-4086-58af-299c-750b6a8a53e9" style="opacity:0" class="accordion-item w-dropdown">
							<div class="accordion-toggle w-dropdown-toggle">
								<div class="clip">
									<div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
										 class="clip-text-wrapper">
										<h6 class="accordion-title">How long does it take to complete a project?</h6>
									</div>
									<div class="clip-text-wrapper bottom"><h6 class="accordion-title">How long does it take to complete a project?</h6></div>
								</div>
								<img style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
									 loading="lazy"
									 alt="icon"
									 src="~/images/group-201-20-2-.svg"
									 class="accordion-icon" />
							</div>
							<nav style="height:0px" class="accordion-list w-dropdown-list"><p class="accordion-list-content">Project timelines vary based on complexity but typically range from 2 to 6 weeks.</p></nav>
						</div>
						<div data-delay="0" data-hover="false" data-w-id="d8d1a290-4086-58af-299c-750b6a8a53f6" style="opacity:0" class="accordion-item w-dropdown">
							<div class="accordion-toggle w-dropdown-toggle">
								<div class="clip">
									<div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
										 class="clip-text-wrapper">
										<h6 class="accordion-title">Do you provide scriptwriting and creative concepts?</h6>
									</div>
									<div class="clip-text-wrapper bottom"><h6 class="accordion-title">Do you provide scriptwriting and creative concepts?</h6></div>
								</div>
								<img style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
									 loading="lazy"
									 alt="icon"
									 src="~/images/group-201-20-2-.svg"
									 class="accordion-icon" />
							</div>
							<nav style="height:0px" class="accordion-list w-dropdown-list"><p class="accordion-list-content">Yes, our team offers full pre-production support, including scriptwriting and concept development.</p></nav>
						</div>
						<div data-delay="0" data-hover="false" data-w-id="e3fce10f-d1f4-344b-0ba3-1d2d8566fc0d" style="opacity:0" class="accordion-item w-dropdown">
							<div class="accordion-toggle w-dropdown-toggle">
								<div class="clip">
									<div style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
										 class="clip-text-wrapper">
										<h6 class="accordion-title">What is the average turnaround time for a video project?</h6>
									</div>
									<div class="clip-text-wrapper bottom"><h6 class="accordion-title">Do you provide scriptwriting and creative concepts?</h6></div>
								</div>
								<img style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(null) rotateY(null) rotateZ(-90deg) skew(0, 0);transform-style:preserve-3d"
									 loading="lazy"
									 alt="icon"
									 src="~/images/group-201-20-2-.svg"
									 class="accordion-icon" />
							</div>
							<nav style="height:0px" class="accordion-list w-dropdown-list">
								<p class="accordion-list-content">The turnaround time depends on the project&#x27;s scope, but most projects are completed within 2–4 weeks.</p>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section dark-bg-without-bottom">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex cta-wrapper">
				<div class="w-layout-hflex subtitle dark">
					<div>Contact us</div>
					<div class="dot white"></div>
				</div>
				<div class="w-layout-vflex cta-right">
					<div data-w-id="09466230-4a3c-b128-8268-bf2e95416850" class="cta-text-wrapper">
						<h2 class="text-white">
							<span class="text-span-image">.</span> Ready to bring your vision to life?
							<span class="gray-color">Our team at The Lab is here to make it happen. Get in touch with us today to start your next video project!</span>
						</h2>
						<div data-poster-url="images/cta-poster-00001.jpg"
							 data-video-urls="images/cta-transcode.mp4,images/cta-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="cta-video-absolute w-background-video w-background-video-atom">
							<video id="09466230-4a3c-b128-8268-bf2e95416857-video" autoplay="" loop="" style='background-image:url("images/cta-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
								<source src="~/images/cta-transcode.mp4" data-wf-ignore="true" />
								<source src="~/images/cta-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<a data-w-id="09466230-4a3c-b128-8268-bf2e95416858" href="/contact-us" class="primary-button-white w-inline-block">
						<div>Discover next project</div>
						<div class="clip">
							<div class="clip-icon-wrapper"><img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
							<div class="clip-icon-wrapper right"><img src="~/images/group-201.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>