<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-hflex home-2-banner-top">
			<div class="w-layout-vflex banner-text-wrapper">
				<div class="w-layout-vflex vertical-20">
					<div class="position-relative">
						<div class="home-small-video w-background-video w-background-video-atom">
							<video id="small-video"
								   autoplay
								   loop
								   muted
								   playsinline
								   style='background-image:url("~/images/small-poster-00001.jpg")'
								   data-object-fit="cover">
								<source src="~/images/small-transcode.mp4" type="video/mp4" />
								<source src="~/images/small-transcode.webm" type="video/webm" />
							</video>
						</div>
						<h1 class="home-2-banner-text">Innovation in every <span class="banner-text-video"></span> frame</h1>
					</div>
					<div class="banner-2-description">
						<div class="paragraph-large gray-color">From concept to final cut, our team specializes in crafting compelling visual stories that captivate and inspire.</div>
					</div>
				</div>
				<a href="/contact-us" class="primary-button w-inline-block">
					<div>Discover next project</div>
				</a>
			</div>
			<a href="#Scroll-link" class="scroll-link w-inline-block">
				<div>Scroll for more</div>
				<div class="dot"></div>
			</a>
		</div>
		<a href="#" id="Scroll-link" class="lightbox-home-2 w-inline-block w-lightbox">
			<div class="relative-20">
				<div class="w-layout-hflex primary-button-white">
					<div>Watch reel</div>
				</div>
			</div>
			<div class="full-video-bg z1 w-background-video w-background-video-atom">
				<video id="full-video"
					   autoplay
					   loop
					   muted
					   playsinline
					   style='background-image:url("~/images/home-201-20video-poster-00001.jpg")'
					   data-object-fit="cover">
					<source src="~/images/home-201-20video-transcode.mp4" type="video/mp4" />
					<source src="~/images/home-201-20video-transcode.webm" type="video/webm" />
				</video>
			</div>
		</a>
	</div>
</section>
<section class="section light-background">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-100">
			<div class="w-layout-hflex subtitle white">
				<div>About Studio</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-hflex about-home-wrapper">
				<div class="w-layout-vflex vertical-20">
					<div class="about-2-title-wrapper">
						<h2>A premier video production studio where creativity and innovation come together to craft visually stunning and impactful content.</h2>
					</div>
					<div class="about-description">
						<p class="paragraph-large paragraph-no-margin">With a focus on both artistry and technical precision, we work closely with our clients to bring their unique stories to life.</p>
					</div>
				</div>
				<div class="w-layout-vflex">
					<a href="~/about-us" class="link-with-line w-inline-block">
						<div>About Us</div>
						<div class="hover-line"><div class="hover-line-fill"></div></div>
					</a>
				</div>
			</div>
			<div class="w-layout-grid about-grid">
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">01.</div>
						<div class="upper-text-600">Creative Excellence</div>
					</div>
					<div class="proces-item-description"><div class="gray-color">We start by getting to know your brand, your vision, and your target audience.</div></div>
				</div>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">02.</div>
						<div class="upper-text-600">End-to-End Service</div>
					</div>
					<div class="proces-item-description"><div class="gray-color">From concept development to final delivery, we handle every aspect of video production.</div></div>
				</div>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">03.</div>
						<div class="upper-text-600">Tailored Solutions</div>
					</div>
					<div class="proces-item-description"><div class="gray-color">We tailor our approach to meet your specific needs, ensuring that your video perfectly matches your vision.</div></div>
				</div>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">04.</div>
						<div class="upper-text-600">Cutting-Edge Technology</div>
					</div>
					<div class="proces-item-description"><div class="gray-color">We invest in the latest technology to ensure that every video we produce is of the highest quality.</div></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section light-bg-without-top">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-grid home-2-work-content">
			<div class="w-layout-hflex subtitle white">
				<div>Latest Work</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-vflex vertical-20">
				<h2>Our latest projects</h2>
				<div class="mobile-hidden">
					<a href="~/works-1" class="link-with-line w-inline-block">
						<div>All Works<span class="gray-color">(34)</span></div>
						<div class="hover-line">
							<div class="hover-line-fill"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="position-relative">
				<div class="collection-list-wrapper w-dyn-list">
					<div role="list" class="collection-grid-3-column w-dyn-items">
						<div role="listitem" class="collection-item w-dyn-item">
							<a href="~/works/fuji-mountain-cinematic" class="w-inline-block">
								<img src="~/images/5607843-uhd_2560_1440_24fps-20-1-.jpg" loading="lazy" alt="Work Image" class="image-work-2" />
							</a>
							<div class="w-layout-vflex bottom-work-2">
								<div class="w-layout-vflex vertical-8">
									<div class="clip">
										<div class="clip-text-wrapper"><a href="~/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
										<div class="clip-text-wrapper bottom"><a href="~/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp dark">
										<div>Yolo studio</div>
										<div>/</div>
										<div>2025</div>
									</div>
								</div>
								<a href="~/works/fuji-mountain-cinematic" class="link-with-line w-inline-block">
									<div>View Project</div>
									<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill"></div></div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="w-layout-grid home-2-grid-videos">
					<div class="video-wrapper">
						<video autoplay loop muted playsinline style='background-image:url("~/images/work1-poster-00001.jpg")' data-object-fit="cover">
							<source src="~/images/work1-transcode.mp4" />
							<source src="~/images/work1-transcode.webm" />
						</video>
					</div>
				</div>
			</div>
			<div class="mobile-visible">
				<a href="~/works-1" class="link-with-line w-inline-block">
					<div>All Works<span class="gray-color">(34)</span></div>
					<div class="hover-line">
						<div class="hover-line-fill"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-vflex vertical-100 centered">
				<div class="w-layout-hflex subtitle">
					<div>We are more than just a video production studio</div>
					<div class="dot"></div>
				</div>
				<h2 class="values-2-title">We are a creative powerhouse dedicated to transforming ideas into captivating visual stories.</h2>
			</div>
			<a href="~/contact-us" class="primary-button w-inline-block">
				<div>Discover next project</div>
				<div class="clip">
					<div class="clip-icon-wrapper">
						<img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
					</div>
					<div class="clip-icon-wrapper right"><img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
				</div>
			</a>
			<div class="w-layout-grid values-grid">
				<div class="values-left-wrapper">
					<div class="w-layout-vflex vertical-40">
						<div class="w-layout-vflex vertical-30">
							<img src="~/images/group-206.svg" loading="lazy" alt="svg element" class="values-icon" />
							<div class="w-layout-vflex vertical-20">
								<h3>Cutting-edge technology</h3>
								<div class="gray-color">
									We invest in the latest technology to ensure that every video we produce is of the highest quality. From cameras and drones to advanced editing software, we use state-of-the-art tools to bring
									your ideas to life.
								</div>
							</div>
						</div>
						<div class="w-layout-vflex vertical-30">
							<img src="~/images/group-207.svg" loading="lazy" alt="svg element" class="values-icon" />
							<div class="w-layout-vflex vertical-20">
								<h3>Proven results</h3>
								<div class="gray-color">
									Our videos don’t just look great—they drive results. Our clients experience increased brand awareness, engagement, and conversions because we focus on delivering content that speaks directly to
									your target audience.
								</div>
							</div>
						</div>
						<div class="w-layout-vflex vertical-30">
							<img src="~/images/group-208.svg" loading="lazy" alt="svg element" class="values-icon" />
							<div class="w-layout-vflex vertical-20">
								<h3>A passion for storytelling</h3>
								<div class="gray-color">Above all, we are storytellers. We understand the power of a great story, and we’re committed to making sure yours is told in the most impactful way possible.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="our-process-video-wrapper home-2">
					<div class="absolute-video w-background-video w-background-video-atom">
						<video autoplay loop muted playsinline style='background-image:url("~/images/process-poster-00001.jpg")' data-object-fit="cover">
							<source src="~/images/process-transcode.mp4" />
							<source src="~/images/process-transcode.webm" />
						</video>
					</div>
				</div>
			</div>
		</div>
		<div class="w-layout-grid numbers-grid top-100">
			<div class="w-layout-vflex">
				<div class="w-layout-vflex vertical-8">
					<div class="number">500+</div>
					<div class="upper-text">Projects Completed</div>
				</div>
				<p class="margin-top-20">Successful video productions for clients across various industries.</p>
			</div>
			<div class="w-layout-vflex">
				<div class="w-layout-vflex vertical-8">
					<div class="number">100+</div>
					<div class="upper-text">happy clients</div>
				</div>
				<p class="margin-top-20">Trusted by top brands and businesses worldwide.</p>
			</div>
			<div class="w-layout-vflex">
				<div class="w-layout-vflex vertical-8">
					<div class="number">2,000+</div>
					<div class="upper-text">Hours of Footage</div>
				</div>
				<p class="margin-top-20">Capturing every angle, every moment, and every emotion.</p>
			</div>
			<div class="w-layout-vflex">
				<div class="w-layout-vflex vertical-8">
					<div class="number">20+</div>
					<div class="upper-text">Award-Winning Videos</div>
				</div>
				<p class="margin-top-20">Recognized for outstanding creativity and production quality.</p>
			</div>
		</div>
	</div>
</section>
<section class="section without-top-spacing">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex home-2-testimonials">
			<div class="w-layout-hflex subtitle">
				<div>reviews</div>
				<div class="dot"></div>
			</div>
			<div class="home-2-reviews-slider w-slider">
				<div class="home-2-testimonials-mask w-slider-mask">
					<div class="reviews-slide w-slide">
						<div class="w-layout-hflex testimonials-2-intro">
							<div class="testimonials-2-text-wrapper">
								<div class="clip">
									<h2 class="testimonial-text-home-2">
										"The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a huge impact on our brand."
									</h2>
								</div>
							</div>
							<div class="w-layout-vflex testimonials-member-wrapper">
								<div class="clip">
									<div class="w-layout-vflex vertical-20 mobile-flex-hor">
										<img src="~/images/rectangle-2064-20-1-.webp" loading="lazy" width="132" alt="man" class="testimonials-image" />
										<div class="position-testimonials">
											<div class="upper-text-600">Martin, <span class="gray-color">CEO GreenEarth Solutions</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="reviews-slide w-slide">
						<div class="w-layout-hflex testimonials-2-intro">
							<div class="testimonials-2-text-wrapper">
								<div class="clip">
									<h2 class="testimonial-text-home-2">
										"From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect with our audience in a way we hadn’t imagined."
									</h2>
								</div>
							</div>
							<div class="w-layout-vflex testimonials-member-wrapper">
								<div class="clip">
									<div class="w-layout-vflex vertical-20 mobile-flex-hor">
										<img src="~/images/member-photo-2.webp" loading="lazy" width="132" alt="photo" class="testimonials-image" />
										<div class="position-testimonials">
											<div class="upper-text-600">Daniel, <span class="gray-color">CEO AZS Agency</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-2-arrow w-slider-arrow-left">
					<div class="clip">
						<img src="~/images/group-201-20-2-.svg" loading="lazy" alt="icon" />
					</div>
				</div>
				<div class="slider-2-arrow right w-slider-arrow-right">
					<div class="clip">
						<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section dark-bg-without-bottom">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-40">
			<div class="w-layout-hflex subtitle dark">
				<div>the team</div>
				<div class="dot white"></div>
			</div>
			<div class="team-title-wrapper">
				<h2 class="text-white">Meet the people behind the camera</h2>
			</div>
			<div class="w-layout-grid team-grid">
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img">
						<img src="~/images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Amélie Laurent</h6>
							<div class="upper-text gray-color">Creative Director</div>
						</div>
						<div class="gray-color">Visionary leader turning ideas into powerful stories.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img second">
						<img src="~/images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Nikolas Gibbons</h6>
							<div class="upper-text gray-color">Producer</div>
						</div>
						<div class="gray-color">Organizes and manages projects from start to finish.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img third">
						<img src="~/images/image-20-6-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Sienna Hewitt</h6>
							<div class="upper-text gray-color">Director of Photography</div>
						</div>
						<div class="gray-color">Captures stunning visuals with precision.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _04">
						<img src="~/images/image-20-7-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Lily-Rose Chedjou</h6>
							<div class="upper-text gray-color">Editor</div>
						</div>
						<div class="gray-color">Transforms raw footage into engaging content.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _05">
						<img src="~/images/image-20-8-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Zahra Christensen</h6>
							<div class="upper-text gray-color">Motion Graphics Designer</div>
						</div>
						<div class="gray-color">Creates dynamic graphics to elevate projects.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _06">
						<img src="~/images/image-20-9-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Caitlyn King</h6>
							<div class="upper-text gray-color">Project Manager</div>
						</div>
						<div class="gray-color">Ensures smooth coordination and timely delivery.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24 tablet-hidden">
					<div class="team-member-img _07">
						<img src="~/images/image-20-10-.webp" loading="lazy" alt="man" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Zaid Schwartz</h6>
							<div class="upper-text gray-color">Assistant Director</div>
						</div>
						<div class="gray-color">Supports logistics and contributes fresh ideas.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24 tablet-hidden">
					<div class="team-member-img _08">
						<img src="~/images/image-20-11-.webp" loading="lazy" alt="man" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600 text-white">Marco Kelly</h6>
							<div class="upper-text gray-color">Customer Success</div>
						</div>
						<div class="gray-color">Lead CX at Wealthsimple. Former PagerDuty and Sqreen.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Начало dark-bg-without-bottom -->
@Html.Partial("DarkBgWithoutBottom")
<!-- Конец dark-bg-without-bottom -->
