<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<div id="Top" class="home-banner-section">
		<div data-poster-url="images/home-201-20video-poster-00001.jpg"
			 data-video-urls="images/home-201-20video-transcode.mp4,images/home-201-20video-transcode.webm"
			 data-autoplay="true"
			 data-loop="true"
			 data-wf-ignore="true"
			 class="full-video-bg w-background-video w-background-video-atom">
			<video id="0508473a-bd98-7f6d-3b73-a383cdf05239-video" autoplay="" loop="" style='background-image:url("images/home-201-20video-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
				<source src="~/images/home-201-20video-transcode.mp4" data-wf-ignore="true" />
				<source src="~/images/home-201-20video-transcode.webm" data-wf-ignore="true" />
			</video>
		</div>
		<div class="w-layout-blockcontainer base-container position-relative w-container">
			<div class="w-layout-vflex banner-content">
				<div class="w-layout-hflex home-1-banner-title">
					<h1 data-w-id="4328f988-6618-5854-a95b-f454c35cec51" style="opacity:0" class="home-1-heading text-white">Innovation</h1>
					<div id="w-node-_1d6e6b76-187c-6ef9-73a3-3d4debba0f05-1425c4b4" data-w-id="1d6e6b76-187c-6ef9-73a3-3d4debba0f05" style="opacity:0" class="home-1-heading text-white">in</div>
					<div data-w-id="836feb20-3ce5-f1a1-fc0b-8545caab11ba" style="opacity:0" class="home-1-heading text-white">every</div>
					<div id="w-node-_50823de1-7253-a16c-5da0-61de004de1de-1425c4b4" data-w-id="50823de1-7253-a16c-5da0-61de004de1de" style="opacity:0" class="home-1-heading text-white">frame</div>
				</div>
				<div data-w-id="280c591a-942d-5ac6-e25b-1eb87d675a8a" style="opacity:0" class="w-layout-vflex banner-bottom-wrapper">
					<h3 class="text-white">From concept to final cut, our team specializes in crafting compelling visual stories that captivate and inspire.</h3>
					<a data-w-id="a20a0c28-8aa4-d57e-5bb9-65608e0a024c" href="/contact-us" class="primary-button-white w-inline-block">
						<div>Discover next project</div>
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="~/images/group-201.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<section class="section">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-grid home-work-content">
				<div id="w-node-_5ff252ed-5be1-8336-872b-e6109c42f4f6-1425c4b4" class="w-layout-hflex subtitle">
					<div>Latest Work</div>
					<div class="dot"></div>
				</div>
				<a id="w-node-_49daf9bf-95f4-e168-63cb-018c29d3667d-1425c4b4" data-w-id="49daf9bf-95f4-e168-63cb-018c29d3667d" style="opacity:0" href="/works-1" class="link-with-line w-inline-block">
					<div>All Works<span class="gray-color">(34)</span></div>
					<div class="hover-line">
						<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
							 class="hover-line-fill"></div>
					</div>
				</a>
				<div id="w-node-d49df024-7daf-d53f-26fe-2c346c28d33c-1425c4b4" data-w-id="d49df024-7daf-d53f-26fe-2c346c28d33c" style="opacity:0" class="position-relative">
					<div class="collection-list-wrapper w-dyn-list">
						<div role="list" class="collection-grid-2-column w-dyn-items">
							<div data-w-id="a2c124b5-3f79-f4a1-95a4-c5b6e1cd02d9" role="listitem" class="w-dyn-item">
								<a href="/works/fuji-mountain-cinematic" class="w-inline-block">
									<img src="~/images/5607843-uhd_2560_1440_24fps-20-1-.jpg"
										 loading="lazy"
										 alt="Work Image"
										 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
										 srcset="
												images/5607843-uhd_2560_1440_24fps-20-1-p-500.jpg   500w,
												images/5607843-uhd_2560_1440_24fps-20-1-p-800.jpg   800w,
												images/5607843-uhd_2560_1440_24fps-20-1-p-1080.jpg 1080w,
												images/5607843-uhd_2560_1440_24fps-20-1-.jpg       1300w
											"
										 class="image-work-1" />
								</a>
								<div class="w-layout-hflex bottom-work">
									<div class="w-layout-vflex vertical-8">
										<div data-w-id="4a92dd52-dd06-d885-243c-37874921cfac" class="clip">
											<div class="clip-text-wrapper"><a href="/works/fuji-mountain-cinematic" class="works-title white">Fuji mountain cinematic</a></div>
											<div class="clip-text-wrapper bottom"><a href="/works/fuji-mountain-cinematic" class="works-title white">Fuji mountain cinematic</a></div>
										</div>
										<div class="w-layout-hflex date-work-wrapp">
											<div>Yolo studio</div>
											<div>/</div>
											<div>2025</div>
										</div>
									</div>
									<a href="/works/fuji-mountain-cinematic" class="link-with-line white w-inline-block">
										<div class="text-white">View Project</div>
										<img src="~/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
										<div class="hover-line"><div class="hover-line-fill white"></div></div>
									</a>
								</div>
							</div>
							<div data-w-id="a2c124b5-3f79-f4a1-95a4-c5b6e1cd02d9" role="listitem" class="w-dyn-item">
								<a href="/works/love-story" class="w-inline-block">
									<img src="~/images/4873410-hd_1920_1080_25fps-20-3-.jpg"
										 loading="lazy"
										 alt="Work Image"
										 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
										 srcset="
												images/4873410-hd_1920_1080_25fps-20-3-p-500.jpg   500w,
												images/4873410-hd_1920_1080_25fps-20-3-p-800.jpg   800w,
												images/4873410-hd_1920_1080_25fps-20-3-p-1080.jpg 1080w,
												images/4873410-hd_1920_1080_25fps-20-3-.jpg       1300w
											"
										 class="image-work-1" />
								</a>
								<div class="w-layout-hflex bottom-work">
									<div class="w-layout-vflex vertical-8">
										<div data-w-id="4a92dd52-dd06-d885-243c-37874921cfac" class="clip">
											<div class="clip-text-wrapper"><a href="/works/love-story" class="works-title white">Love story</a></div>
											<div class="clip-text-wrapper bottom"><a href="/works/love-story" class="works-title white">Love story</a></div>
										</div>
										<div class="w-layout-hflex date-work-wrapp">
											<div>Kate &amp; Daniel</div>
											<div>/</div>
											<div>2025</div>
										</div>
									</div>
									<a href="/works/love-story" class="link-with-line white w-inline-block">
										<div class="text-white">View Project</div>
										<img src="~/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
										<div class="hover-line"><div class="hover-line-fill white"></div></div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="w-layout-grid home-1-grid-videos">
						<div class="video-wrapper">
							<div data-poster-url="images/work1-poster-00001.jpg"
								 data-video-urls="images/work1-transcode.mp4,images/work1-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="full-video-work w-background-video w-background-video-atom">
								<video id="694984ab-482b-ea95-b3b1-6198d123c842-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("images/work1-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="~/images/work1-transcode.mp4" data-wf-ignore="true" />
									<source src="~/images/work1-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
						</div>
						<div class="video-wrapper">
							<div data-poster-url="images/work2-poster-00001.jpg"
								 data-video-urls="images/work2-transcode.mp4,images/work2-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="full-video-work w-background-video w-background-video-atom">
								<video id="e2192980-eb21-6aca-9167-bfe0d061bab5-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("images/work2-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="~/images/work2-transcode.mp4" data-wf-ignore="true" />
									<source src="~/images/work2-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section without-space">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-100">
				<div class="w-layout-hflex subtitle">
					<div>About Studio</div>
					<div class="dot"></div>
				</div>
				<div class="w-layout-hflex about-home-wrapper">
					<div data-w-id="83245860-5583-d6f9-ccd7-cf1f01d6c1fe" style="opacity:0" class="about-title-wrapper">
						<h2>A premier video <span class="text-span-image">.</span> production studio where creativity and innovation come together to craft visually stunning and impactful content.</h2>
						<div data-poster-url="images/small-poster-00001.jpg"
							 data-video-urls="images/small-transcode.mp4,images/small-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="about-small-video w-background-video w-background-video-atom">
							<video id="e6f656a3-b6ec-bc61-0954-9e7da981f928-video" autoplay="" loop="" style='background-image:url("images/small-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
								<source src="images/small-transcode.mp4" data-wf-ignore="true" />
								<source src="images/small-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<div data-w-id="080b0d18-cf88-108d-70b3-2f228118144c" style="opacity:0" class="w-layout-vflex vertical-40 max-w">
						<p class="paragraph-large paragraph-no-margin">With a focus on both artistry and technical precision, we work closely with our clients to bring their unique stories to life.</p>
						<a href="/about-us" class="link-with-line w-inline-block">
							<div>About Us</div>
							<div class="hover-line"><div class="hover-line-fill"></div></div>
						</a>
					</div>
				</div>
				<div class="w-layout-grid numbers-grid">
					<div data-w-id="c9880de8-1ea5-91dd-7bfb-6ffe8a4b7ad3" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8">
							<div class="number">500+</div>
							<div class="upper-text">Projects Completed</div>
						</div>
						<p class="margin-top-20">Successful video productions for clients across various industries.</p>
					</div>
					<div data-w-id="8b5ae159-a91f-41db-9a70-627591679724" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8">
							<div class="number">100+</div>
							<div class="upper-text">happy clients</div>
						</div>
						<p class="margin-top-20">Trusted by top brands and businesses worldwide.</p>
					</div>
					<div data-w-id="8a5b9311-ab3b-75d3-8200-5735cae964d4" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8">
							<div class="number">2,000+</div>
							<div class="upper-text">Hours of Footage</div>
						</div>
						<p class="margin-top-20">Capturing every angle, every moment, and every emotion.</p>
					</div>
					<div data-w-id="15557371-e8f3-311f-9a33-35649abf5ac7" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8">
							<div class="number">20+</div>
							<div class="upper-text">Award-Winning Videos</div>
						</div>
						<p class="margin-top-20">Recognized for outstanding creativity and production quality.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-grid process-grid">
				<div class="our-process-video-wrapper">
					<div data-poster-url="images/process-poster-00001.jpg"
						 data-video-urls="images/process-transcode.mp4,images/process-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="absolute-video w-background-video w-background-video-atom">
						<video id="207cb05b-d99c-52e8-dbaa-d9e55e1ca041-video" autoplay="" loop="" style='background-image:url("images/process-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
							<source src="images/process-transcode.mp4" data-wf-ignore="true" />
							<source src="images/process-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div class="w-layout-hflex subtitle">
						<div>Our Process</div>
						<div class="dot"></div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-40">
					<h2 data-w-id="d904635e-dd88-dda9-d63d-dae014060c43" style="opacity:0">We believe that every great video starts with a clear vision.</h2>
					<div data-w-id="1dee9794-47a4-95e8-4b3c-666122d7e704" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">01.</div>
							<div class="upper-text-600">Discovery &amp; Planning</div>
						</div>
						<div class="proces-item-description"><div class="gray-color">We start by getting to know your brand, your vision, and your target audience.</div></div>
					</div>
					<div data-w-id="df4763dc-fe1d-e704-8636-38ee414a340f" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">02.</div>
							<div class="upper-text-600">Concept &amp; Scripting</div>
						</div>
						<div class="proces-item-description"><div class="gray-color">Our team of experts collaborates with you to develop a strong concept and compelling script.</div></div>
					</div>
					<div data-w-id="c273db18-a353-276f-92d4-f421b2e5d1ee" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">03.</div>
							<div class="upper-text-600">Pre-Production</div>
						</div>
						<div class="proces-item-description">
							<div class="gray-color">From location scouting and casting to scheduling and organizing, we handle all the logistics to ensure a smooth and efficient production phase.</div>
						</div>
					</div>
					<div data-w-id="46581d3b-1b49-f130-3ef8-dbd94feb6e53" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">04.</div>
							<div class="upper-text-600">Production</div>
						</div>
						<div class="proces-item-description">
							<div class="gray-color">Our skilled crew works tirelessly to capture every moment with precision, using the latest equipment and techniques to achieve the highest quality results.</div>
						</div>
					</div>
					<div data-w-id="a062d630-8289-e707-1fa6-cf6d9ed66e52" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">05.</div>
							<div class="upper-text-600">Delivery &amp; Review</div>
						</div>
						<div class="proces-item-description"><div class="gray-color">We work closely with you to make sure everything is just right, making any necessary revisions before final delivery.</div></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section without-space">
		<div class="w-layout-blockcontainer base-container w-container">
			<div data-poster-url="images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg"
				 data-video-urls="images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4,images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm"
				 data-autoplay="true"
				 data-loop="true"
				 data-wf-ignore="true"
				 class="background-video w-background-video w-background-video-atom">
				<video id="086525c2-fd8d-a868-29c8-d8e0c8efa0f2-video"
					   autoplay=""
					   loop=""
					   style='background-image:url("images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg")'
					   muted=""
					   playsinline=""
					   data-wf-ignore="true"
					   data-object-fit="cover">
					<source src="images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4" data-wf-ignore="true" />
					<source src="images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm" data-wf-ignore="true" />
				</video>
				<div class="subtitle-top">
					<div class="w-layout-hflex subtitle">
						<div>Our Values</div>
						<div class="dot"></div>
					</div>
				</div>
				<div class="values-title"><h2 data-w-id="d6d242da-99a5-d378-7532-2ad0d5a27648" style="opacity:0" class="text-white">Our values are at the core of everything we do.</h2></div>
				<div class="w-layout-hflex values-items-wrapper">
					<div data-w-id="202c66cd-50a0-ad3d-723b-58aca2cc145c" style="opacity:0" class="first-values-item">
						<div class="w-layout-vflex values-item">
							<div class="w-layout-hflex values-item-title">
								<div>Creativity</div>
								<div class="dot white"></div>
							</div>
							<div>We are passionate about bringing innovative ideas to life.</div>
						</div>
					</div>
					<div class="w-layout-grid right-values-items">
						<div id="w-node-c4c93062-2d19-dcc5-ad4d-2e73ccbdef19-1425c4b4" data-w-id="c4c93062-2d19-dcc5-ad4d-2e73ccbdef19" style="opacity:0" class="w-layout-vflex values-item">
							<div class="w-layout-hflex values-item-title">
								<div>Collaboration</div>
								<div class="dot white"></div>
							</div>
							<div>We believe in the power of teamwork.</div>
						</div>
						<div id="w-node-_1a8c0c25-70b1-617b-6921-003cbdd7be12-1425c4b4" data-w-id="1a8c0c25-70b1-617b-6921-003cbdd7be12" style="opacity:0" class="w-layout-vflex values-item">
							<div class="w-layout-hflex values-item-title">
								<div>Quality</div>
								<div class="dot white"></div>
							</div>
							<div>We are committed to delivering the highest-quality videos that showcase the best of your brand.</div>
						</div>
						<div id="w-node-_3285a81a-0be6-868d-9e87-771da5346dc5-1425c4b4" data-w-id="3285a81a-0be6-868d-9e87-771da5346dc5" style="opacity:0" class="w-layout-vflex values-item">
							<div class="w-layout-hflex values-item-title">
								<div>integrity</div>
								<div class="dot white"></div>
							</div>
							<div>We value transparency and honesty in every aspect of our work.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section overflow-hidden">
		<div class="w-layout-blockcontainer base-container position-relative w-container">
			<div class="w-layout-vflex vertical-100">
				<div class="w-layout-hflex subtitle">
					<div>Reviews</div>
					<div class="dot"></div>
				</div>
				<div class="w-layout-vflex testimonial-title-wrapper">
					<h2 data-w-id="79556dac-bdda-923e-4b87-01425232d98c" style="opacity:0">Our clients’ satisfaction is our top priority.</h2>
					<div class="rewiews-desription"><p data-w-id="7b1f5cf3-dfec-e1c6-3ed4-d8f6f9a7f0e7" style="opacity:0" class="margin-top-20">We’re proud of the relationships we’ve built and the impact our videos have made.</p></div>
				</div>
			</div>
			<div data-delay="4000"
				 data-animation="slide"
				 class="testimonials-slider w-slider"
				 data-autoplay="false"
				 data-easing="ease"
				 style="opacity:0"
				 data-hide-arrows="false"
				 data-disable-swipe="false"
				 data-w-id="8e5c4217-904c-4f51-99bc-c3fdf450e02a"
				 data-autoplay-limit="0"
				 data-nav-spacing="3"
				 data-duration="500"
				 data-infinite="true">
				<div class="home-testimonials-mask w-slider-mask">
					<div class="home-testimonials-slide w-slide">
						<div class="w-layout-vflex slide-intro">
							<div class="w-layout-vflex vertical-20">
								<div class="w-layout-hflex stars-wrapper">
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
								</div>
								<h5>
									&quot;The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a
									huge impact on our brand.&quot;
								</h5>
							</div>
							<div class="upper-text-600 gray-color">Daniel, CEO AZS Agency</div>
						</div>
					</div>
					<div class="home-testimonials-slide w-slide">
						<div class="w-layout-vflex slide-intro">
							<div class="w-layout-vflex vertical-20">
								<div class="w-layout-hflex stars-wrapper">
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
								</div>
								<h5>
									&quot;From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect
									with our audience in a way we hadn’t imagined.&quot;
								</h5>
							</div>
							<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
						</div>
					</div>
					<div class="home-testimonials-slide w-slide">
						<div class="w-layout-vflex slide-intro">
							<div class="w-layout-vflex vertical-20">
								<div class="w-layout-hflex stars-wrapper">
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
								</div>
								<h5>
									&quot;We’ve worked with many production studios, but The Lab stands out. Their expertise, communication, and passion for storytelling are unmatched. We couldn’t be happier with the final result, and
									it’s already helping us reach new customers.&quot;
								</h5>
							</div>
							<div class="upper-text-600 gray-color">Rebecca, Creative Director, Urban Designs</div>
						</div>
					</div>
					<div class="home-testimonials-slide w-slide">
						<div class="w-layout-vflex slide-intro">
							<div class="w-layout-vflex vertical-20">
								<div class="w-layout-hflex stars-wrapper">
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
								</div>
								<h5>
									&quot;From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect
									with our audience in a way we hadn’t imagined.&quot;
								</h5>
							</div>
							<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
						</div>
					</div>
				</div>
				<div data-w-id="8e5c4217-904c-4f51-99bc-c3fdf450e02e" class="slider-left-arrow w-slider-arrow-left">
					<div class="clip">
						<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
							 class="clip-icon-wrapper">
							<img src="images/group-201-20-2-.svg" loading="lazy" alt="icon" />
						</div>
						<div class="clip-icon-wrapper left"><img src="images/group-201-20-3-.svg" loading="lazy" alt="icon" /></div>
					</div>
				</div>
				<div data-w-id="8e5c4217-904c-4f51-99bc-c3fdf450e030" class="slider-left-arrow right w-slider-arrow-right">
					<div class="clip">
						<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
							 class="clip-icon-wrapper">
							<img src="images/group-201-20-1-.svg" loading="lazy" alt="icon" />
						</div>
						<div class="clip-icon-wrapper right"><img src="images/group-201-20-4-.svg" loading="lazy" alt="icon" /></div>
					</div>
				</div>
				<div class="hidden w-slider-nav w-round w-num"></div>
			</div>
			<div class="testimonials-adsolute"></div>
		</div>
	</section>