<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<div id="Top" class="home-banner-section">
	<div data-poster-url="images/home-201-20video-poster-00001.jpg"
		 data-video-urls="images/home-201-20video-transcode.mp4,images/home-201-20video-transcode.webm"
		 data-autoplay="true"
		 data-loop="true"
		 data-wf-ignore="true"
		 class="full-video-bg w-background-video w-background-video-atom">
		<video id="0508473a-bd98-7f6d-3b73-a383cdf05239-video" autoplay="" loop="" style='background-image:url("images/home-201-20video-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
			<source src="~/images/home-201-20video-transcode.mp4" data-wf-ignore="true" />
			<source src="~/images/home-201-20video-transcode.webm" data-wf-ignore="true" />
		</video>
	</div>
	<div class="w-layout-blockcontainer base-container position-relative w-container">
		<div class="w-layout-vflex banner-content">
			<div class="w-layout-hflex home-1-banner-title">
				<h1 data-w-id="4328f988-6618-5854-a95b-f454c35cec51" style="opacity:0" class="home-1-heading text-white">Innovation</h1>
				<div id="w-node-_1d6e6b76-187c-6ef9-73a3-3d4debba0f05-1425c4b4" data-w-id="1d6e6b76-187c-6ef9-73a3-3d4debba0f05" style="opacity:0" class="home-1-heading text-white">in</div>
				<div data-w-id="836feb20-3ce5-f1a1-fc0b-8545caab11ba" style="opacity:0" class="home-1-heading text-white">every</div>
				<div id="w-node-_50823de1-7253-a16c-5da0-61de004de1de-1425c4b4" data-w-id="50823de1-7253-a16c-5da0-61de004de1de" style="opacity:0" class="home-1-heading text-white">frame</div>
			</div>
			<div data-w-id="280c591a-942d-5ac6-e25b-1eb87d675a8a" style="opacity:0" class="w-layout-vflex banner-bottom-wrapper">
				<h3 class="text-white">From concept to final cut, our team specializes in crafting compelling visual stories that captivate and inspire.</h3>
				<a data-w-id="a20a0c28-8aa4-d57e-5bb9-65608e0a024c" href="/contact-us" class="primary-button-white w-inline-block">
					<div>Discover next project</div>
					<div class="clip">
						<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
							 class="clip-icon-wrapper">
							<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
						</div>
						<div class="clip-icon-wrapper right"><img src="~/images/group-201.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<section class="section">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-grid home-work-content">
			<div class="w-layout-hflex subtitle">
				<div>Latest Work</div>
				<div class="dot"></div>
			</div>
			<a href="~/works-1" class="link-with-line w-inline-block">
				<div>All Works<span class="gray-color">(34)</span></div>
				<div class="hover-line">
					<div class="hover-line-fill"></div>
				</div>
			</a>
			<div class="position-relative">
				<div class="collection-list-wrapper w-dyn-list">
					<div role="list" class="collection-grid-2-column w-dyn-items">
						<div role="listitem" class="w-dyn-item">
							<a href="~/works/fuji-mountain-cinematic" class="w-inline-block">
								<img src="~/images/5607843-uhd_2560_1440_24fps-20-1-.jpg" loading="lazy" alt="Work Image"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div class="clip">
										<div class="clip-text-wrapper">
											<a href="~/works/fuji-mountain-cinematic" class="works-title white">Fuji mountain cinematic</a>
										</div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Yolo studio</div>
										<div>/</div>
										<div>2025</div>
									</div>
								</div>
								<a href="~/works/fuji-mountain-cinematic" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="~/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
						<div role="listitem" class="w-dyn-item">
							<a href="~/works/love-story" class="w-inline-block">
								<img src="~/images/4873410-hd_1920_1080_25fps-20-3-.jpg" loading="lazy" alt="Work Image"
									 class="image-work-1" />
							</a>
							<div class="w-layout-hflex bottom-work">
								<div class="w-layout-vflex vertical-8">
									<div class="clip">
										<div class="clip-text-wrapper">
											<a href="~/works/love-story" class="works-title white">Love story</a>
										</div>
									</div>
									<div class="w-layout-hflex date-work-wrapp">
										<div>Kate &amp; Daniel</div>
										<div>/</div>
										<div>2025</div>
									</div>
								</div>
								<a href="~/works/love-story" class="link-with-line white w-inline-block">
									<div class="text-white">View Project</div>
									<img src="~/images/group-201.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill white"></div></div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="w-layout-grid home-1-grid-videos">
					<div class="video-wrapper">
						<video autoplay loop muted playsinline class="full-video-work" style='background-image:url("~/images/work1-poster-00001.jpg")'>
							<source src="~/images/work1-transcode.mp4" type="video/mp4" />
							<source src="~/images/work1-transcode.webm" type="video/webm" />
						</video>
					</div>
					<div class="video-wrapper">
						<video autoplay loop muted playsinline class="full-video-work" style='background-image:url("~/images/work2-poster-00001.jpg")'>
							<source src="~/images/work2-transcode.mp4" type="video/mp4" />
							<source src="~/images/work2-transcode.webm" type="video/webm" />
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section without-space">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-100">
			<div class="w-layout-hflex subtitle">
				<div>About Studio</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-hflex about-home-wrapper">
				<div class="about-title-wrapper">
					<h2>A premier video <span class="text-span-image">.</span> production studio where creativity and innovation come together to craft visually stunning and impactful content.</h2>
					<div data-poster-url="~/images/small-poster-00001.jpg"
						 data-video-urls="~/images/small-transcode.mp4,~/images/small-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="about-small-video w-background-video w-background-video-atom">
						<video style='background-image:url("~/images/small-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
							<source src="~/images/small-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/small-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
				<div class="w-layout-vflex vertical-40 max-w">
					<p class="paragraph-large paragraph-no-margin">With a focus on both artistry and technical precision, we work closely with our clients to bring their unique stories to life.</p>
					<a href="/about-us" class="link-with-line w-inline-block">
						<div>About Us</div>
						<div class="hover-line"><div class="hover-line-fill"></div></div>
					</a>
				</div>
			</div>
			<div class="w-layout-grid numbers-grid">
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">500+</div>
						<div class="upper-text">Projects Completed</div>
					</div>
					<p class="margin-top-20">Successful video productions for clients across various industries.</p>
				</div>
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">100+</div>
						<div class="upper-text">happy clients</div>
					</div>
					<p class="margin-top-20">Trusted by top brands and businesses worldwide.</p>
				</div>
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">2,000+</div>
						<div class="upper-text">Hours of Footage</div>
					</div>
					<p class="margin-top-20">Capturing every angle, every moment, and every emotion.</p>
				</div>
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">20+</div>
						<div class="upper-text">Award-Winning Videos</div>
					</div>
					<p class="margin-top-20">Recognized for outstanding creativity and production quality.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-grid process-grid">
			<div class="our-process-video-wrapper">
				<div class="absolute-video w-background-video w-background-video-atom">
					<video autoplay loop muted playsinline style='background-image:url("~/images/process-poster-00001.jpg")' data-object-fit="cover">
						<source src="~/images/process-transcode.mp4" />
						<source src="~/images/process-transcode.webm" />
					</video>
				</div>
				<div class="w-layout-hflex subtitle">
					<div>Our Process</div>
					<div class="dot"></div>
				</div>
			</div>
			<div class="w-layout-vflex vertical-40">
				<h2>We believe that every great video starts with a clear vision.</h2>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">01.</div>
						<div class="upper-text-600">Discovery &amp; Planning</div>
					</div>
					<div class="proces-item-description"><div class="gray-color">We start by getting to know your brand, your vision, and your target audience.</div></div>
				</div>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">02.</div>
						<div class="upper-text-600">Concept &amp; Scripting</div>
					</div>
					<div class="proces-item-description"><div class="gray-color">Our team of experts collaborates with you to develop a strong concept and compelling script.</div></div>
				</div>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">03.</div>
						<div class="upper-text-600">Pre-Production</div>
					</div>
					<div class="proces-item-description">
						<div class="gray-color">From location scouting and casting to scheduling and organizing, we handle all the logistics to ensure a smooth and efficient production phase.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">04.</div>
						<div class="upper-text-600">Production</div>
					</div>
					<div class="proces-item-description">
						<div class="gray-color">Our skilled crew works tirelessly to capture every moment with precision, using the latest equipment and techniques to achieve the highest quality results.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-16">
					<div class="w-layout-hflex horizontal-20">
						<div class="upper-text-600 gray-color">05.</div>
						<div class="upper-text-600">Delivery &amp; Review</div>
					</div>
					<div class="proces-item-description"><div class="gray-color">We work closely with you to make sure everything is just right, making any necessary revisions before final delivery.</div></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section without-space">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="background-video w-background-video w-background-video-atom">
			<video id="background-video"
				   autoplay=""
				   loop=""
				   style='background-image:url("~/images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg")'
				   muted=""
				   playsinline=""
				   data-object-fit="cover">
				<source src="~/images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4" />
				<source src="~/images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm" />
			</video>
			<div class="subtitle-top">
				<div class="w-layout-hflex subtitle">
					<div>Our Values</div>
					<div class="dot"></div>
				</div>
			</div>
			<div class="values-title">
				<h2 class="text-white">Our values are at the core of everything we do.</h2>
			</div>
			<div class="w-layout-hflex values-items-wrapper">
				<div class="first-values-item">
					<div class="w-layout-vflex values-item">
						<div class="w-layout-hflex values-item-title">
							<div>Creativity</div>
							<div class="dot white"></div>
						</div>
						<div>We are passionate about bringing innovative ideas to life.</div>
					</div>
				</div>
				<div class="w-layout-grid right-values-items">
					<div class="w-layout-vflex values-item">
						<div class="w-layout-hflex values-item-title">
							<div>Collaboration</div>
							<div class="dot white"></div>
						</div>
						<div>We believe in the power of teamwork.</div>
					</div>
					<div class="w-layout-vflex values-item">
						<div class="w-layout-hflex values-item-title">
							<div>Quality</div>
							<div class="dot white"></div>
						</div>
						<div>We are committed to delivering the highest-quality videos that showcase the best of your brand.</div>
					</div>
					<div class="w-layout-vflex values-item">
						<div class="w-layout-hflex values-item-title">
							<div>Integrity</div>
							<div class="dot white"></div>
						</div>
						<div>We value transparency and honesty in every aspect of our work.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section overflow-hidden">
	<div class="w-layout-blockcontainer base-container position-relative w-container">
		<div class="w-layout-vflex vertical-100">
			<div class="w-layout-hflex subtitle">
				<div>Reviews</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-vflex testimonial-title-wrapper">
				<h2>Our clients’ satisfaction is our top priority.</h2>
				<div class="rewiews-desription">
					<p class="margin-top-20">We’re proud of the relationships we’ve built and the impact our videos have made.</p>
				</div>
			</div>
		</div>
		<div class="testimonials-slider w-slider">
			<div class="home-testimonials-mask w-slider-mask">
				<div class="home-testimonials-slide w-slide">
					<div class="w-layout-vflex slide-intro">
						<div class="w-layout-vflex vertical-20">
							<div class="w-layout-hflex stars-wrapper">
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								<img src="~/images/star-201.svg" loading="lazy" alt="star" />
							</div>
							<h5>
								"The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a
								huge impact on our brand."
							</h5>
						</div>
						<div class="upper-text-600 gray-color">Daniel, CEO AZS Agency</div>
					</div>
				</div>
			</div>
			<div class="slider-left-arrow w-slider-arrow-left">
				<img src="~/images/group-201-20-2-.svg" loading="lazy" alt="icon" />
			</div>
			<div class="slider-left-arrow right w-slider-arrow-right">
				<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
			</div>
		</div>
		<div class="testimonials-adsolute"></div>
	</div>
</section>