<div data-animation="over-left" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" data-doc-height="1" role="banner"
	 class="navbar white w-nav">
	<div class="nav-container w-container">
		<div class="nav-menu-wrapper">
			<a href="/home-1" class="brand w-nav-brand"><img loading="lazy" height="21" alt="logo" src="~/images/union-20-8-.svg" /></a>
			<nav role="navigation" class="nav-menu white w-nav-menu">
				<div class="tablet-menu white">
					<a href="/home-1" class="brand-tablet w-nav-brand"><img loading="lazy" height="21" alt="logo" src="~/images/union-20-8-.svg" /></a>
					<div class="close-menu-button w-nav-button"><img loading="lazy" src="~/images/close-btn.svg" alt="icon" class="nav-close-icon filter" /></div>
				</div>
				<div class="menu-wrap white">
					<div data-delay="0" data-hover="true" data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a3b3" class="nav-dropdown w-dropdown">
						<div class="nav-dropdown-toggle w-dropdown-toggle">
							<div class="nav-dropdown-icon dark w-icon-dropdown-toggle"></div>
							<p class="nav-item-title dark">Demos</p>
						</div>
						<nav class="nav-dropdown-list white w-dropdown-list">
							<div class="nav-dropdown-link-wrapper">
								<a href="/home-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 1</a>
								<a href="/home-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 2</a>
								<a href="/home-3" aria-current="page" class="nav-dropdown-link dark w-dropdown-link w--current"><span class="nav-dropdown-link-line dark"> </span>Home 3</a>
							</div>
						</nav>
					</div>
					<div data-delay="0" data-hover="true" data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a3c6" class="nav-dropdown w-dropdown">
						<div class="nav-dropdown-toggle w-dropdown-toggle">
							<div class="nav-dropdown-icon dark w-icon-dropdown-toggle"></div>
							<p class="nav-item-title dark">Studio</p>
						</div>
						<nav class="nav-dropdown-list white w-dropdown-list">
							<div class="nav-dropdown-link-wrapper">
								<a href="/about-us" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>About Us</a>
								<a href="/services" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Services</a>
								<a href="/our-team" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Our Team</a>
								<a href="/pricing" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Pricing</a>
								<a href="/testimonials" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Testimonilas</a>
								<a href="/faq" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>FAQ</a>
							</div>
						</nav>
					</div>
					<a href="/works-1" class="nav-link dark w-nav-link">Our Works</a><a href="/blog-1" class="nav-link dark w-nav-link">Blog</a>
					<div data-delay="0" data-hover="true" data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a3e9" class="nav-dropdown w-dropdown">
						<div class="nav-dropdown-toggle w-dropdown-toggle">
							<div class="nav-dropdown-icon dark w-icon-dropdown-toggle"></div>
							<div class="nav-item-title dark">All Pages</div>
						</div>
						<nav class="nav-dropdown-list megamenu-white w-dropdown-list">
							<div class="nav-dropdown-column">
								<div class="nav-dropdown-link-wrapper">
									<a href="/home-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 1</a>
									<a href="/home-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 2</a>
									<a href="/home-3" aria-current="page" class="nav-dropdown-link dark w-dropdown-link w--current"><span class="nav-dropdown-link-line dark"> </span>Home 3</a>
									<a href="/about-us" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>About Us</a>
									<a href="/our-team" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Our Team</a>
									<a href="/services" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Our services</a>
								</div>
							</div>
							<div class="nav-dropdown-column">
								<div class="nav-dropdown-link-wrapper">
									<div class="collection-list-wrapper w-dyn-list">
										<div role="list" class="w-dyn-items">
											<div role="listitem" class="w-dyn-item">
												<a href="/services/cinematic-storytelling" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Srvice Details</a>
											</div>
										</div>
									</div>
									<a href="/pricing" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Pricing</a>
									<a href="/faq" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>FAQ</a>
									<a href="/contact-us" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Contact Us</a>
									<a href="/works-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Works 1</a>
									<a href="/works-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Works 2</a>
								</div>
							</div>
							<div class="nav-dropdown-column">
								<div class="nav-dropdown-link-wrapper">
									<a href="/works-3" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Works 3</a>
									<div class="collection-list-wrapper w-dyn-list">
										<div role="list" class="w-dyn-items">
											<div role="listitem" class="w-dyn-item">
												<a href="/works/fuji-mountain-cinematic" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Work Details</a>
											</div>
										</div>
									</div>
									<a href="/blog-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog 1</a>
									<a href="/blog-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog 2</a>
									<a href="/blog-3" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog 3</a>
									<div class="collection-list-wrapper w-dyn-list">
										<div role="list" class="w-dyn-items">
											<div role="listitem" class="w-dyn-item">
												<a href="/blog-posts/the-power-of-minimalist-design" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog details</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</nav>
					</div>
					<div class="desctop-nav-btn-wrapper">
						<a data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a450" href="/contact-us" class="nav-link-cta dark w-inline-block">
							<div>Let&#x27;s Talk</div>
							<div class="hover-line header"><div class="hover-line-fill"></div></div>
						</a>
					</div>
				</div>
			</nav>
			<div class="menu-button w-nav-button"><img loading="lazy" height="16" alt="icon" src="~/images/menu-btn.svg" class="image-burger dark" /></div>
			<div class="nav-underline dark"></div>
		</div>
	</div>
</div>
<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner">
	<div class="video-container">
		<video autoplay muted loop>
			<source src="~/videos/banner-video.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="content">
		<h1>Добро пожаловать</h1>
		<p>Ваше описание здесь</p>
		<a href="~/about" class="btn">Подробнее</a>
	</div>
</section>

<link rel="stylesheet" href="~/css/style.css">
<script src="~/js/script.js"></script>
<section class="section dark-bg-without-bottom">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-100 center-flex">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-hflex subtitle white">
					<div>Who we are</div>
					<div class="dot"></div>
				</div>
				<div class="who-we-are-title">
					<h2 class="text-white">We’re a passionate team of storytellers, creators, and innovators dedicated to producing high-quality video content.</h2>
				</div>
			</div>
			<div class="w-layout-grid numbers-grid">
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8 text-white">
						<div class="number">500+</div>
						<div class="upper-text">Projects Completed</div>
					</div>
					<p class="margin-top-20">Successful video productions for clients across various industries.</p>
				</div>
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8 text-white">
						<div class="number">100+</div>
						<div class="upper-text">happy clients</div>
					</div>
					<p class="margin-top-20">Trusted by top brands and businesses worldwide.</p>
				</div>
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8 text-white">
						<div class="number">2,000+</div>
						<div class="upper-text">Hours of Footage</div>
					</div>
					<p class="margin-top-20">Capturing every angle, every moment, and every emotion.</p>
				</div>
				<div class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8 text-white">
						<div class="number">20+</div>
						<div class="upper-text">Award-Winning Videos</div>
					</div>
					<p class="margin-top-20">Recognized for outstanding creativity and production quality.</p>
				</div>
			</div>
			<a href="#" id="Scroll-link" class="lightbox-home-2 medium w-inline-block w-lightbox">
				<div class="relative-20">
					<div class="w-layout-hflex primary-button-white">
						<div>Watch reel</div>
						<div class="clip">
							<div class="clip-icon-wrapper">
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
							</div>
							<div class="clip-icon-wrapper right">
								<img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
							</div>
						</div>
					</div>
				</div>
				<div class="full-video-bg z1 w-background-video w-background-video-atom">
					<video autoplay loop muted playsinline style='background-image:url("~/images/ac82-4a63-96c0-67f582c89a6e-poster-00001.jpg")' data-object-fit="cover">
						<source src="~/images/ac82-4a63-96c0-67f582c89a6e-transcode.mp4" />
						<source src="~/images/ac82-4a63-96c0-67f582c89a6e-transcode.webm" />
					</video>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="section light-background">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-grid home-3-work-content">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-hflex subtitle white">
					<div>Latest Work</div>
					<div class="dot"></div>
				</div>
				<h2>Our latest projects</h2>
			</div>
			<div>
				<a href="/works-1" class="link-with-line w-inline-block">
					<div>All Works<span class="gray-color">(34)</span></div>
					<div class="hover-line">
						<div class="hover-line-fill"></div>
					</div>
				</a>
			</div>
			<div class="position-relative">
				<div class="collection-list-wrapper w-dyn-list">
					<div role="list" class="collection-grid-2-column w-dyn-items">
						<div role="listitem" class="collection-item w-dyn-item">
							<a href="/works/fuji-mountain-cinematic" class="w-inline-block">
								<img src="~/images/5607843-uhd_2560_1440_24fps-20-1-.jpg" loading="lazy" alt="Work Image"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
									 srcset="~/images/5607843-uhd_2560_1440_24fps-20-1-p-500.jpg 500w,
                                            ~/images/5607843-uhd_2560_1440_24fps-20-1-p-800.jpg 800w,
                                            ~/images/5607843-uhd_2560_1440_24fps-20-1-p-1080.jpg 1080w,
                                            ~/images/5607843-uhd_2560_1440_24fps-20-1-.jpg 1300w"
									 class="image-work-2" />
							</a>
							<div class="w-layout-vflex bottom-work-2">
								<div class="w-layout-vflex vertical-8">
									<div class="clip">
										<div class="clip-text-wrapper"><a href="/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
										<div class="clip-text-wrapper bottom"><a href="/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
									</div>
									<div class="w-layout-hflex date-work-wrapp dark">
										<div>Yolo studio</div>
										<div>/</div>
										<div>2025</div>
									</div>
								</div>
								<a href="/works/fuji-mountain-cinematic" class="link-with-line w-inline-block">
									<div>View Project</div>
									<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
									<div class="hover-line"><div class="hover-line-fill"></div></div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="w-layout-grid home-2-grid-videos _2-columns">
					<div class="video-wrapper">
						<video autoplay loop muted playsinline class="full-video-work" style='background-image:url("~/images/work1-poster-00001.jpg")'>
							<source src="~/images/work1-transcode.mp4" type="video/mp4" />
							<source src="~/images/work1-transcode.webm" type="video/webm" />
						</video>
					</div>
					<div class="video-wrapper">
						<video autoplay loop muted playsinline class="full-video-work" style='background-image:url("~/images/work2-poster-00001.jpg")'>
							<source src="~/images/work2-transcode.mp4" type="video/mp4" />
							<source src="~/images/work2-transcode.webm" type="video/webm" />
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section overflow-hidden">
	<div class="w-layout-blockcontainer base-container position-relative w-container">
		<div class="w-layout-vflex vertical-40">
			<div class="w-layout-hflex subtitle">
				<div>the team</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-vflex vertical-20">
				<h2 class="quote-title">The Lab was founded by Eric Labbonski.</h2>
				<div class="quote-description">
					<div class="gray-color paragraph-large">
						A visionary in the world of video production with a deep passion for storytelling and creative excellence.
					</div>
				</div>
			</div>
			<div class="quote-video w-background-video w-background-video-atom">
				<video autoplay loop muted playsinline data-object-fit="cover"
					   style='background-image:url("~/images/523b-4675-8716-1b62195303ef-poster-00001.jpg")'>
					<source src="~/images/523b-4675-8716-1b62195303ef-transcode.mp4" type="video/mp4" />
					<source src="~/images/523b-4675-8716-1b62195303ef-transcode.webm" type="video/webm" />
				</video>
			</div>
			<div class="w-layout-vflex quote-wrapper">
				<div class="quote-text-wrapper">
					<h3 class="text-white">
						At The Lab, we believe that every frame tells a story. Our mission is to turn ideas into unforgettable experiences, where creativity and technology unite to inspire and engage.
					</h3>
				</div>
				<div class="w-layout-vflex vertical-8">
					<h6 class="upper-text-600 text-white">Eric Labbonski</h6>
					<h6 class="upper-text gray-color">CEO of thelab</h6>
				</div>
			</div>
		</div>
		<div class="quote-absolute"></div>
	</div>
</section>
<section>
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-hflex subtitle">
				<div>the team</div>
				<div class="dot"></div>
			</div>
			<div class="team-title-wrapper center">
				<h2>Meet the people behind the camera</h2>
			</div>
			<div class="w-layout-grid team-grid">
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img">
						<img src="~/images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Amélie Laurent</h6>
							<div class="upper-text gray-color">Creative Director</div>
						</div>
						<div class="gray-color">Visionary leader turning ideas into powerful stories.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img second">
						<img src="~/images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Nikolas Gibbons</h6>
							<div class="upper-text gray-color">Producer</div>
						</div>
						<div class="gray-color">Organizes and manages projects from start to finish.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img third">
						<img src="~/images/image-20-6-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Sienna Hewitt</h6>
							<div class="upper-text gray-color">Director of Photography</div>
						</div>
						<div class="gray-color">Captures stunning visuals with precision.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _04">
						<img src="~/images/image-20-7-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Lily-Rose Chedjou</h6>
							<div class="upper-text gray-color">Editor</div>
						</div>
						<div class="gray-color">Transforms raw footage into engaging content.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _05">
						<img src="~/images/image-20-8-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Zahra Christensen</h6>
							<div class="upper-text gray-color">Motion Graphics Designer</div>
						</div>
						<div class="gray-color">Creates dynamic graphics to elevate projects.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24">
					<div class="team-member-img _06">
						<img src="~/images/image-20-9-.webp" loading="lazy" alt="woman" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Caitlyn King</h6>
							<div class="upper-text gray-color">Project Manager</div>
						</div>
						<div class="gray-color">Ensures smooth coordination and timely delivery.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24 tablet-hidden">
					<div class="team-member-img _07">
						<img src="~/images/image-20-10-.webp" loading="lazy" alt="man" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Zaid Schwartz</h6>
							<div class="upper-text gray-color">Assistant Director</div>
						</div>
						<div class="gray-color">Supports logistics and contributes fresh ideas.</div>
					</div>
				</div>
				<div class="w-layout-vflex vertical-24 tablet-hidden">
					<div class="team-member-img _08">
						<img src="~/images/image-20-11-.webp" loading="lazy" alt="Man" class="cover-image" />
					</div>
					<div class="w-layout-vflex vertical-16">
						<div class="w-layout-vflex vertical-2">
							<h6 class="upper-text-600">Marco Kelly</h6>
							<div class="upper-text gray-color">Customer Success</div>
						</div>
						<div class="gray-color">Lead CX at Wealthsimple. Former PagerDuty and Sqreen.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section overflow-hidden">
	<div class="w-layout-blockcontainer base-container position-relative w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-hflex subtitle">
				<div>Reviews</div>
				<div class="dot"></div>
			</div>
			<div class="w-layout-vflex vertical-20 centered">
				<h2 class="home-3-testimonials-title">Our clients’ satisfaction is our top priority.</h2>
				<div class="reviews-description">
					<div class="gray-color">We’re proud of the relationships we’ve built and the impact our videos have made.</div>
				</div>
			</div>
			<div class="testimonials-slider-home-3 w-slider" data-autoplay="false" data-hide-arrows="false">
				<div class="home-testimonials-mask w-slider-mask">
					<div class="home-testimonials-slide w-slide">
						<div class="w-layout-vflex slide-intro">
							<div class="w-layout-vflex vertical-20">
								<div class="w-layout-hflex stars-wrapper">
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								</div>
								<h5>
									"The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s made a huge impact on our brand."
								</h5>
							</div>
							<div class="upper-text-600 gray-color">Daniel, CEO AZS Agency</div>
						</div>
					</div>
					<div class="home-testimonials-slide w-slide">
						<div class="w-layout-vflex slide-intro">
							<div class="w-layout-vflex vertical-20">
								<div class="w-layout-hflex stars-wrapper">
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
									<img src="~/images/star-201.svg" loading="lazy" alt="star" />
								</div>
								<h5>
									"From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect with our audience in a way we hadn’t imagined."
								</h5>
							</div>
							<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
						</div>
					</div>
				</div>
				<div class="slider-left-arrow-center w-slider-arrow-left">
					<div class="clip">
						<div class="clip-icon-wrapper">
							<img src="~/images/group-201-20-2-.svg" loading="lazy" alt="icon" />
						</div>
						<div class="clip-icon-wrapper left">
							<img src="~/images/group-201-20-3-.svg" loading="lazy" alt="icon" />
						</div>
					</div>
				</div>
				<div class="slider-left-arrow-center right w-slider-arrow-right">
					<div class="clip">
						<div class="clip-icon-wrapper">
							<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
						</div>
						<div class="clip-icon-wrapper right">
							<img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" />
						</div>
					</div>
				</div>
				<div class="hidden w-slider-nav w-round w-num"></div>
			</div>
		</div>
		<div class="testimonials-absolute"></div>
	</div>
</section>
<section class="section dark-bg-without-bottom">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-vflex vertical-40 centered">
			<div class="w-layout-vflex vertical-20 centered">
				<div class="cta-text-wrapper center">
					<h2 class="text-white">Ready to bring your vision <span class="text-span-image">.</span> to life?</h2>
					<div class="cta-video-absolute center w-background-video w-background-video-atom">
						<video style='background-image:url("~/images/cta-poster-00001.jpg")' muted playsinline data-object-fit="cover" autoplay loop>
							<source src="~/images/cta-transcode.mp4" />
							<source src="~/images/cta-transcode.webm" />
						</video>
					</div>
				</div>
				<div class="cta-par-wrapper">
					<div class="gray-color">Our team at The Lab is here to make it happen. Get in touch with us today to start your next video project!</div>
				</div>
			</div>
			<a href="/contact-us" class="primary-button-white w-inline-block">
				<div>Discover next project</div>
				<div class="clip">
					<div class="clip-icon-wrapper">
						<img loading="lazy" src="~/images/group-201-20-1-.svg" alt="icon" class="btn-icon" />
					</div>
					<div class="clip-icon-wrapper right">
						<img loading="lazy" src="~/images/group-201.svg" alt="icon" class="btn-icon" />
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

home3