	<div data-animation="over-left" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" data-doc-height="1" role="banner" class="navbar white w-nav">
		<div class="nav-container w-container">
			<div class="nav-menu-wrapper">
				<a href="/home-1" class="brand w-nav-brand"><img loading="lazy" height="21" alt="logo" src="~/images/union-20-8-.svg" /></a>
				<nav role="navigation" class="nav-menu white w-nav-menu">
					<div class="tablet-menu white">
						<a href="/home-1" class="brand-tablet w-nav-brand"><img loading="lazy" height="21" alt="logo" src="~/images/union-20-8-.svg" /></a>
						<div class="close-menu-button w-nav-button"><img loading="lazy" src="~/images/close-btn.svg" alt="icon" class="nav-close-icon filter" /></div>
					</div>
					<div class="menu-wrap white">
						<div data-delay="0" data-hover="true" data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a3b3" class="nav-dropdown w-dropdown">
							<div class="nav-dropdown-toggle w-dropdown-toggle">
								<div class="nav-dropdown-icon dark w-icon-dropdown-toggle"></div>
								<p class="nav-item-title dark">Demos</p>
							</div>
							<nav class="nav-dropdown-list white w-dropdown-list">
								<div class="nav-dropdown-link-wrapper">
									<a href="/home-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 1</a>
									<a href="/home-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 2</a>
									<a href="/home-3" aria-current="page" class="nav-dropdown-link dark w-dropdown-link w--current"><span class="nav-dropdown-link-line dark"> </span>Home 3</a>
								</div>
							</nav>
						</div>
						<div data-delay="0" data-hover="true" data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a3c6" class="nav-dropdown w-dropdown">
							<div class="nav-dropdown-toggle w-dropdown-toggle">
								<div class="nav-dropdown-icon dark w-icon-dropdown-toggle"></div>
								<p class="nav-item-title dark">Studio</p>
							</div>
							<nav class="nav-dropdown-list white w-dropdown-list">
								<div class="nav-dropdown-link-wrapper">
									<a href="/about-us" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>About Us</a>
									<a href="/services" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Services</a>
									<a href="/our-team" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Our Team</a>
									<a href="/pricing" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Pricing</a>
									<a href="/testimonials" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Testimonilas</a>
									<a href="/faq" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>FAQ</a>
								</div>
							</nav>
						</div>
						<a href="/works-1" class="nav-link dark w-nav-link">Our Works</a><a href="/blog-1" class="nav-link dark w-nav-link">Blog</a>
						<div data-delay="0" data-hover="true" data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a3e9" class="nav-dropdown w-dropdown">
							<div class="nav-dropdown-toggle w-dropdown-toggle">
								<div class="nav-dropdown-icon dark w-icon-dropdown-toggle"></div>
								<div class="nav-item-title dark">All Pages</div>
							</div>
							<nav class="nav-dropdown-list megamenu-white w-dropdown-list">
								<div class="nav-dropdown-column">
									<div class="nav-dropdown-link-wrapper">
										<a href="/home-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 1</a>
										<a href="/home-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Home 2</a>
										<a href="/home-3" aria-current="page" class="nav-dropdown-link dark w-dropdown-link w--current"><span class="nav-dropdown-link-line dark"> </span>Home 3</a>
										<a href="/about-us" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>About Us</a>
										<a href="/our-team" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Our Team</a>
										<a href="/services" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Our services</a>
									</div>
								</div>
								<div class="nav-dropdown-column">
									<div class="nav-dropdown-link-wrapper">
										<div class="collection-list-wrapper w-dyn-list">
											<div role="list" class="w-dyn-items">
												<div role="listitem" class="w-dyn-item">
													<a href="/services/cinematic-storytelling" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Srvice Details</a>
												</div>
											</div>
										</div>
										<a href="/pricing" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Pricing</a>
										<a href="/faq" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>FAQ</a>
										<a href="/contact-us" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Contact Us</a>
										<a href="/works-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Works 1</a>
										<a href="/works-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Works 2</a>
									</div>
								</div>
								<div class="nav-dropdown-column">
									<div class="nav-dropdown-link-wrapper">
										<a href="/works-3" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Works 3</a>
										<div class="collection-list-wrapper w-dyn-list">
											<div role="list" class="w-dyn-items">
												<div role="listitem" class="w-dyn-item">
													<a href="/works/fuji-mountain-cinematic" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Work Details</a>
												</div>
											</div>
										</div>
										<a href="/blog-1" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog 1</a>
										<a href="/blog-2" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog 2</a>
										<a href="/blog-3" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog 3</a>
										<div class="collection-list-wrapper w-dyn-list">
											<div role="list" class="w-dyn-items">
												<div role="listitem" class="w-dyn-item">
													<a href="/blog-posts/the-power-of-minimalist-design" class="nav-dropdown-link dark w-dropdown-link"><span class="nav-dropdown-link-line dark"> </span>Blog details</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</nav>
						</div>
						<div class="desctop-nav-btn-wrapper">
							<a data-w-id="49eb5b2e-e258-3310-7eca-f5eabdd2a450" href="/contact-us" class="nav-link-cta dark w-inline-block">
								<div>Let&#x27;s Talk</div>
								<div class="hover-line header"><div class="hover-line-fill"></div></div>
							</a>
						</div>
					</div>
				</nav>
				<div class="menu-button w-nav-button"><img loading="lazy" height="16" alt="icon" src="~/images/menu-btn.svg" class="image-burger dark" /></div>
				<div class="nav-underline dark"></div>
			</div>
		</div>
	</div>
	<form action="/search" class="search-desktop w-form">
		<div class="search-wrapper">
			<input class="search-wrap-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Enter search keyword" type="search" id="search-2" required="" />
			<div class="search-bottom-line"></div>
			<input type="submit" class="primary-button serch-button w-button" value="Search" />
		</div>
		<div data-w-id="cffaa0d6-0cd7-3509-9f08-dbbd1e309db4" class="search-close-button"></div>
	</form>
	<section class="banner-home-3">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex home-3-banner-wrapp">
				<div class="w-layout-vflex banner-text-wrapper">
					<div class="w-layout-vflex vertical-20">
						<div data-w-id="853a3b01-cd5e-325e-b50e-f657c6642f14" style="opacity:0" class="position-relative"><h1 class="home-3-heading">A premier video production studio where creativity and innovation.</h1></div>
						<div data-w-id="853a3b01-cd5e-325e-b50e-f657c6642f1b" style="opacity:0" class="banner-2-description">
							<div class="paragraph-large gray-color">From concept to final cut, our team specializes in crafting compelling visual stories that captivate and inspire.</div>
						</div>
					</div>
					<a data-w-id="853a3b01-cd5e-325e-b50e-f657c6642f1e" style="opacity:0" href="/contact-us" class="primary-button w-inline-block">
						<div>Discover next project</div>
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						</div>
					</a>
				</div>
				<div data-w-id="b99b8f3b-effc-0b98-cea6-dd694c93cc11" style="opacity:0" class="w-layout-hflex banner-3-videos">
					<div class="banner-item _03">
						<img src="~/images/group-206.svg" loading="lazy" alt="svg element" class="filter" />
						<div>Award-Winning Team</div>
					</div>
					<div class="banner-item _02">
						<img src="~/images/group-208.svg" loading="lazy" alt="svg element" class="filter" />
						<div>State-of-the-Art Equipment</div>
					</div>
					<div class="banner-item _01">
						<img src="~/images/group-207.svg" loading="lazy" alt="svg element" class="filter" />
						<div>Diverse Portfolio</div>
					</div>
					<div data-poster-url="images/home-201-20video-poster-00001.jpg"
						 data-video-urls="images/home-201-20video-transcode.mp4,images/home-201-20video-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="e1d3c351-3d35-96cd-c7f1-9108258c5f47"
						 class="video-6 w-background-video w-background-video-atom">
						<video id="e1d3c351-3d35-96cd-c7f1-9108258c5f47-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/home-201-20video-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/home-201-20video-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/home-201-20video-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg"
						 data-video-urls="images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4,images/7dd3-47f6-bdd3-add3a236def8-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="fa68c73c-38ac-d88b-dd7e-6c879cb5d788"
						 class="video-5 w-background-video w-background-video-atom">
						<video id="fa68c73c-38ac-d88b-dd7e-6c879cb5d788-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/7dd3-47f6-bdd3-add3a236def8-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/1394254-sd_640_338_24fps-poster-00001.jpg"
						 data-video-urls="images/1394254-sd_640_338_24fps-transcode.mp4,images/1394254-sd_640_338_24fps-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="43e6e493-75d8-461c-b44f-83b67a85644f"
						 class="video-4 w-background-video w-background-video-atom">
						<video id="43e6e493-75d8-461c-b44f-83b67a85644f-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/1394254-sd_640_338_24fps-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/1394254-sd_640_338_24fps-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/1394254-sd_640_338_24fps-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg"
						 data-video-urls="images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4,images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="75c121e8-fd41-1ae8-d0ec-a996b552c59f"
						 class="video-3 w-background-video w-background-video-atom">
						<video id="75c121e8-fd41-1ae8-d0ec-a996b552c59f-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/process-poster-00001.jpg"
						 data-video-urls="images/process-transcode.mp4,images/process-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="4d01e6ec-3149-1bff-852b-171a8cf35f9d"
						 class="video-2 w-background-video w-background-video-atom">
						<video id="4d01e6ec-3149-1bff-852b-171a8cf35f9d-video" autoplay="" loop="" style='background-image:url("images/process-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
							<source src="~/images/process-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/process-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg"
						 data-video-urls="images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4,images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="af671148-3527-56ad-d5b5-47cbfc0c8335"
						 class="video-1 w-background-video w-background-video-atom">
						<video id="af671148-3527-56ad-d5b5-47cbfc0c8335-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/dfe3-445a-bc6a-6de7501d210b-poster-00001.jpg"
						 data-video-urls="images/dfe3-445a-bc6a-6de7501d210b-transcode.mp4,images/dfe3-445a-bc6a-6de7501d210b-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="d815437b-46b2-f2ab-d47d-ca989e1e6fd9"
						 class="video-6-copy w-background-video w-background-video-atom">
						<video id="d815437b-46b2-f2ab-d47d-ca989e1e6fd9-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/dfe3-445a-bc6a-6de7501d210b-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/dfe3-445a-bc6a-6de7501d210b-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/dfe3-445a-bc6a-6de7501d210b-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg"
						 data-video-urls="images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4,images/7dd3-47f6-bdd3-add3a236def8-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="5044bb5f-c4c3-c4db-c170-cddb7e479e40"
						 class="video-5-copy w-background-video w-background-video-atom">
						<video id="5044bb5f-c4c3-c4db-c170-cddb7e479e40-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/7dd3-47f6-bdd3-add3a236def8-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/7dd3-47f6-bdd3-add3a236def8-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/7dd3-47f6-bdd3-add3a236def8-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/1394254-sd_640_338_24fps-poster-00001.jpg"
						 data-video-urls="images/1394254-sd_640_338_24fps-transcode.mp4,images/1394254-sd_640_338_24fps-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="8d1f3786-28e3-9b87-6098-73c28e02a1f1"
						 class="video-4-copy w-background-video w-background-video-atom">
						<video id="8d1f3786-28e3-9b87-6098-73c28e02a1f1-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/1394254-sd_640_338_24fps-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/1394254-sd_640_338_24fps-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/1394254-sd_640_338_24fps-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg"
						 data-video-urls="images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4,images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="5bd8c771-f537-0f30-2830-f5b13ec3236a"
						 class="video-3-copy w-background-video w-background-video-atom">
						<video id="5bd8c771-f537-0f30-2830-f5b13ec3236a-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/daa0-4d63-bb94-0c2046acf5d8-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/daa0-4d63-bb94-0c2046acf5d8-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/daa0-4d63-bb94-0c2046acf5d8-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/process-poster-00001.jpg"
						 data-video-urls="images/process-transcode.mp4,images/process-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="d507220d-67cf-dba5-65f8-9e1e634ccaa3"
						 class="video-2-copy w-background-video w-background-video-atom">
						<video id="d507220d-67cf-dba5-65f8-9e1e634ccaa3-video" autoplay="" loop="" style='background-image:url("images/process-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
							<source src="~/images/process-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/process-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<div data-poster-url="images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg"
						 data-video-urls="images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4,images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 data-w-id="e1ac48f6-3288-31d9-338b-8142e0393340"
						 class="video-1-copy w-background-video w-background-video-atom">
						<video id="e1ac48f6-3288-31d9-338b-8142e0393340-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/2ce4-49ee-99f5-495d7b41ab67-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/2ce4-49ee-99f5-495d7b41ab67-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/2ce4-49ee-99f5-495d7b41ab67-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section dark-bg-without-bottom">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-100 center-flex">
				<div class="w-layout-vflex vertical-40 centered">
					<div class="w-layout-hflex subtitle white">
						<div>Who we are</div>
						<div class="dot"></div>
					</div>
					<div class="who-we-are-title">
						<h2 data-w-id="12624b65-beeb-3729-dc0e-4030294c81ec" style="opacity:0" class="text-white">We’re a passionate team of storytellers, creators, and innovators dedicated to producing high-quality video content.</h2>
					</div>
				</div>
				<div class="w-layout-grid numbers-grid">
					<div data-w-id="6df87934-7212-b182-7478-9b8356790d01" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8 text-white">
							<div class="number">500+</div>
							<div class="upper-text">Projects Completed</div>
						</div>
						<p class="margin-top-20">Successful video productions for clients across various industries.</p>
					</div>
					<div data-w-id="6df87934-7212-b182-7478-9b8356790d09" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8 text-white">
							<div class="number">100+</div>
							<div class="upper-text">happy clients</div>
						</div>
						<p class="margin-top-20">Trusted by top brands and businesses worldwide.</p>
					</div>
					<div data-w-id="6df87934-7212-b182-7478-9b8356790d11" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8 text-white">
							<div class="number">2,000+</div>
							<div class="upper-text">Hours of Footage</div>
						</div>
						<p class="margin-top-20">Capturing every angle, every moment, and every emotion.</p>
					</div>
					<div data-w-id="6df87934-7212-b182-7478-9b8356790d19" style="opacity:0" class="w-layout-vflex">
						<div class="w-layout-vflex vertical-8 text-white">
							<div class="number">20+</div>
							<div class="upper-text">Award-Winning Videos</div>
						</div>
						<p class="margin-top-20">Recognized for outstanding creativity and production quality.</p>
					</div>
				</div>
				<a href="#" id="Scroll-link" data-w-id="e848052f-41f4-8380-9747-32c7a80c92db" style="opacity:0" class="lightbox-home-2 medium w-inline-block w-lightbox">
					<div class="relative-20">
						<div data-w-id="e848052f-41f4-8380-9747-32c7a80c92dd" class="w-layout-hflex primary-button-white">
							<div>Watch reel</div>
							<div class="clip">
								<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
									 class="clip-icon-wrapper">
									<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
								</div>
								<div class="clip-icon-wrapper right"><img src="images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
							</div>
						</div>
					</div>
					<div data-poster-url="images/ac82-4a63-96c0-67f582c89a6e-poster-00001.jpg"
						 data-video-urls="images/ac82-4a63-96c0-67f582c89a6e-transcode.mp4,images/ac82-4a63-96c0-67f582c89a6e-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="full-video-bg z1 w-background-video w-background-video-atom">
						<video id="e848052f-41f4-8380-9747-32c7a80c92e5-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("images/ac82-4a63-96c0-67f582c89a6e-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/ac82-4a63-96c0-67f582c89a6e-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/ac82-4a63-96c0-67f582c89a6e-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
					<script type="application/json" class="w-json">
						{
						  "items": [
							{
							  "url": "https://www.youtube.com/watch?v=Q84Ji3PQWLM",
							  "originalUrl": "https://www.youtube.com/watch?v=Q84Ji3PQWLM",
							  "width": 940,
							  "height": 528,
							  "thumbnailUrl": "https://i.ytimg.com/vi/Q84Ji3PQWLM/hqdefault.jpg",
							  "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FQ84Ji3PQWLM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQ84Ji3PQWLM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FQ84Ji3PQWLM%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
							  "type": "video"
							}
						  ],
						  "group": ""
						}
					</script>
				</a>
			</div>
		</div>
	</section>
	<section class="section light-background">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-grid home-3-work-content">
				<div id="w-node-_515982bc-bd23-5326-4f31-8d15a809a95a-1425c52a" class="w-layout-vflex vertical-40 centered">
					<div class="w-layout-hflex subtitle white">
						<div>Latest Work</div>
						<div class="dot"></div>
					</div>
					<h2 data-w-id="515982bc-bd23-5326-4f31-8d15a809a95b" style="opacity:0">Our latest projects</h2>
				</div>
				<div id="w-node-_515982bc-bd23-5326-4f31-8d15a809a95d-1425c52a">
					<a data-w-id="515982bc-bd23-5326-4f31-8d15a809a95e" style="opacity:0" href="/works-1" class="link-with-line w-inline-block">
						<div>All Works<span class="gray-color">(34)</span></div>
						<div class="hover-line">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="hover-line-fill"></div>
						</div>
					</a>
				</div>
				<div id="w-node-_515982bc-bd23-5326-4f31-8d15a809a965-1425c52a" data-w-id="515982bc-bd23-5326-4f31-8d15a809a965" style="opacity:0" class="position-relative">
					<div class="collection-list-wrapper w-dyn-list">
						<div role="list" class="collection-grid-2-column w-dyn-items">
							<div data-w-id="515982bc-bd23-5326-4f31-8d15a809a968" role="listitem" class="collection-item w-dyn-item">
								<a href="/works/fuji-mountain-cinematic" class="w-inline-block">
									<img src="~/images/5607843-uhd_2560_1440_24fps-20-1-.jpg"
										 loading="lazy"
										 alt="Work Image"
										 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
										 srcset="
												images/5607843-uhd_2560_1440_24fps-20-1-p-500.jpg   500w,
												images/5607843-uhd_2560_1440_24fps-20-1-p-800.jpg   800w,
												images/5607843-uhd_2560_1440_24fps-20-1-p-1080.jpg 1080w,
												images/5607843-uhd_2560_1440_24fps-20-1-.jpg       1300w
											"
										 class="image-work-2" />
								</a>
								<div class="w-layout-vflex bottom-work-2">
									<div class="w-layout-vflex vertical-8">
										<div data-w-id="515982bc-bd23-5326-4f31-8d15a809a96d" class="clip">
											<div class="clip-text-wrapper"><a href="/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
											<div class="clip-text-wrapper bottom"><a href="/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
										</div>
										<div class="w-layout-hflex date-work-wrapp dark">
											<div>Yolo studio</div>
											<div>/</div>
											<div>2025</div>
										</div>
									</div>
									<a href="/works/fuji-mountain-cinematic" class="link-with-line w-inline-block">
										<div>View Project</div>
										<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
										<div class="hover-line"><div class="hover-line-fill"></div></div>
									</a>
								</div>
							</div>
							<div data-w-id="515982bc-bd23-5326-4f31-8d15a809a968" role="listitem" class="collection-item w-dyn-item">
								<a href="/works/love-story" class="w-inline-block">
									<img src="~/images/4873410-hd_1920_1080_25fps-20-3-.jpg"
										 loading="lazy"
										 alt="Work Image"
										 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 640px"
										 srcset="
												images/4873410-hd_1920_1080_25fps-20-3-p-500.jpg   500w,
												images/4873410-hd_1920_1080_25fps-20-3-p-800.jpg   800w,
												images/4873410-hd_1920_1080_25fps-20-3-p-1080.jpg 1080w,
												images/4873410-hd_1920_1080_25fps-20-3-.jpg       1300w
											"
										 class="image-work-2" />
								</a>
								<div class="w-layout-vflex bottom-work-2">
									<div class="w-layout-vflex vertical-8">
										<div data-w-id="515982bc-bd23-5326-4f31-8d15a809a96d" class="clip">
											<div class="clip-text-wrapper"><a href="/works/love-story" class="works-title">Love story</a></div>
											<div class="clip-text-wrapper bottom"><a href="/works/love-story" class="works-title">Love story</a></div>
										</div>
										<div class="w-layout-hflex date-work-wrapp dark">
											<div>Kate &amp; Daniel</div>
											<div>/</div>
											<div>2025</div>
										</div>
									</div>
									<a href="/works/love-story" class="link-with-line w-inline-block">
										<div>View Project</div>
										<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
										<div class="hover-line"><div class="hover-line-fill"></div></div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="w-layout-grid home-2-grid-videos _2-columns">
						<div class="video-wrapper">
							<div data-poster-url="images/work1-poster-00001.jpg"
								 data-video-urls="images/work1-transcode.mp4,images/work1-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="full-video-work w-background-video w-background-video-atom">
								<video id="515982bc-bd23-5326-4f31-8d15a809a982-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("images/work1-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="~/images/work1-transcode.mp4" data-wf-ignore="true" />
									<source src="~/images/work1-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
						</div>
						<div class="video-wrapper">
							<div data-poster-url="images/work2-poster-00001.jpg"
								 data-video-urls="images/work2-transcode.mp4,images/work2-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="full-video-work w-background-video w-background-video-atom">
								<video id="515982bc-bd23-5326-4f31-8d15a809a984-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("images/work2-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="~/images/work2-transcode.mp4" data-wf-ignore="true" />
									<source src="~/images/work2-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section overflow-hidden">
		<div class="w-layout-blockcontainer base-container position-relative w-container">
			<div class="w-layout-vflex vertical-40">
				<div class="w-layout-hflex subtitle">
					<div>the team</div>
					<div class="dot"></div>
				</div>
				<div class="w-layout-vflex vertical-20">
					<h2 data-w-id="e78a3fae-9229-5d6d-41fe-110d0d503219" style="opacity:0" class="quote-title">The Lab was founded by Eric Labbonski.</h2>
					<div data-w-id="bc8b7224-cdc7-949f-7716-6a24ed1c3740" style="opacity:0" class="quote-description">
						<div class="gray-color paragraph-large">A visionary in the world of video production with a deep passion for storytelling and creative excellence.</div>
					</div>
				</div>
				<div data-poster-url="images/523b-4675-8716-1b62195303ef-poster-00001.jpg"
					 data-video-urls="images/523b-4675-8716-1b62195303ef-transcode.mp4,images/523b-4675-8716-1b62195303ef-transcode.webm"
					 data-autoplay="true"
					 data-loop="true"
					 data-wf-ignore="true"
					 class="quote-video w-background-video w-background-video-atom">
					<video id="029678b6-8e6f-3d92-f3ee-8eb54893bd81-video"
						   autoplay=""
						   loop=""
						   style='background-image:url("images/523b-4675-8716-1b62195303ef-poster-00001.jpg")'
						   muted=""
						   playsinline=""
						   data-wf-ignore="true"
						   data-object-fit="cover">
						<source src="~/images/523b-4675-8716-1b62195303ef-transcode.mp4" data-wf-ignore="true" />
						<source src="~/images/523b-4675-8716-1b62195303ef-transcode.webm" data-wf-ignore="true" />
					</video>
				</div>
				<div class="w-layout-vflex quote-wrapper">
					<div class="quote-text-wrapper">
						<h3 data-w-id="d16eb59f-fa04-fd4d-6603-20b5b1781737" style="opacity:0" class="text-white">
							At The Lab, we believe that every frame tells a story. Our mission is to turn ideas into unforgettable experiences, where creativity and technology unite to inspire and engage.&quot;
						</h3>
					</div>
					<div data-w-id="69fa6a52-8995-ce21-369c-931946a50565" style="opacity:0" class="w-layout-vflex vertical-8">
						<h6 class="upper-text-600 text-white">Eric Labbonski</h6>
						<h6 class="upper-text gray-color">CEO of thelab</h6>
					</div>
				</div>
			</div>
			<div class="quote-absolute"></div>
		</div>
	</section>
	<section>
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-hflex subtitle">
					<div>the team</div>
					<div class="dot"></div>
				</div>
				<div class="team-title-wrapper center"><h2 data-w-id="967cb3ce-5097-2a07-b6ce-787077358755" style="opacity:0">Meet the people behind the camera</h2></div>
				<div class="w-layout-grid team-grid">
					<div data-w-id="967cb3ce-5097-2a07-b6ce-787077358758" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img"><img src="~images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Amélie Laurent</h6>
								<div class="upper-text gray-color">Creative Director</div>
							</div>
							<div class="gray-color">Visionary leader turning ideas into powerful stories.</div>
						</div>
					</div>
					<div data-w-id="967cb3ce-5097-2a07-b6ce-787077358763" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img second"><img src="~/images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Nikolas Gibbons</h6>
								<div class="upper-text gray-color">Producer</div>
							</div>
							<div class="gray-color">Organizes and manages projects from start to finish.</div>
						</div>
					</div>
					<div data-w-id="967cb3ce-5097-2a07-b6ce-78707735876e" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img third"><img src="~/images/image-20-6-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Sienna Hewitt</h6>
								<div class="upper-text gray-color">Director of Photography</div>
							</div>
							<div class="gray-color">Captures stunning visuals with precision.</div>
						</div>
					</div>
					<div data-w-id="967cb3ce-5097-2a07-b6ce-787077358779" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _04"><img src="~/images/image-20-7-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Lily-Rose Chedjou</h6>
								<div class="upper-text gray-color">Editor</div>
							</div>
							<div class="gray-color">Transforms raw footage into engaging content.</div>
						</div>
					</div>
					<div data-w-id="967cb3ce-5097-2a07-b6ce-787077358784" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _05"><img src="~/images/image-20-8-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Zahra Christensen</h6>
								<div class="upper-text gray-color">Motion Graphics Designer</div>
							</div>
							<div class="gray-color">Creates dynamic graphics to elevate projects.</div>
						</div>
					</div>
					<div data-w-id="967cb3ce-5097-2a07-b6ce-78707735878f" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _06"><img src="~/images/image-20-9-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Caitlyn King</h6>
								<div class="upper-text gray-color">Project Manager</div>
							</div>
							<div class="gray-color">Ensures smooth coordination and timely delivery.</div>
						</div>
					</div>
					<div data-w-id="967cb3ce-5097-2a07-b6ce-78707735879a" style="opacity:0" class="w-layout-vflex vertical-24 tablet-hidden">
						<div class="team-member-img _07"><img src="~/images/image-20-10-.webp" loading="lazy" alt="man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Zaid Schwartz</h6>
								<div class="upper-text gray-color">Assistant Director</div>
							</div>
							<div class="gray-color">Supports logistics and contributes fresh ideas.</div>
						</div>
					</div>
					<div data-w-id="967cb3ce-5097-2a07-b6ce-7870773587a5" style="opacity:0" class="w-layout-vflex vertical-24 tablet-hidden">
						<div class="team-member-img _08"><img src="~/images/image-20-11-.webp" loading="lazy" alt="Man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Marco Kelly</h6>
								<div class="upper-text gray-color">Customer Success</div>
							</div>
							<div class="gray-color">Lead CX at Wealthsimple. Former PagerDuty and Sqreen.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section overflow-hidden">
		<div class="w-layout-blockcontainer base-container position-relative w-container">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-hflex subtitle">
					<div>Reviews</div>
					<div class="dot"></div>
				</div>
				<div class="w-layout-vflex vertical-20 centered">
					<h2 data-w-id="8fc62fbc-aa9d-9b2f-4cd6-b794f3ec66da" style="opacity:0" class="home-3-testimonials-title">Our clients’ satisfaction is our top priority.</h2>
					<div class="rewiews-desription"><div data-w-id="8fc62fbc-aa9d-9b2f-4cd6-b794f3ec66dd" style="opacity:0" class="gray-color">We’re proud of the relationships we’ve built and the impact our videos have made.</div></div>
				</div>
				<div data-delay="4000"
					 data-animation="slide"
					 class="testimonials-slider-home-3 w-slider"
					 data-autoplay="false"
					 data-easing="ease"
					 style="opacity:0"
					 data-hide-arrows="false"
					 data-disable-swipe="false"
					 data-w-id="8fc62fbc-aa9d-9b2f-4cd6-b794f3ec66df"
					 data-autoplay-limit="0"
					 data-nav-spacing="3"
					 data-duration="500"
					 data-infinite="true">
					<div class="home-testimonials-mask w-slider-mask">
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s
										made a huge impact on our brand.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Daniel, CEO AZS Agency</div>
							</div>
						</div>
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect
										with our audience in a way we hadn’t imagined.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
							</div>
						</div>
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;We’ve worked with many studios, but The Lab stands out. Their expertise, communication, and passion for storytelling are unmatched. We couldn’t be happier with the final result, and it’s
										helping us reach new customers.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Rebecca, Creative Director, Urban</div>
							</div>
						</div>
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
										<img src="~/images/star-201.svg" loading="lazy" alt="star" /><img src="~/images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect
										with our audience in a way we hadn’t imagined.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
							</div>
						</div>
					</div>
					<div data-w-id="8fc62fbc-aa9d-9b2f-4cd6-b794f3ec6715" class="slider-left-arrow-center w-slider-arrow-left">
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="~/images/group-201-20-2-.svg" loading="lazy" alt="icon" />
							</div>
							<div class="clip-icon-wrapper left"><img src="~/images/group-201-20-3-.svg" loading="lazy" alt="icon" /></div>
						</div>
					</div>
					<div data-w-id="8fc62fbc-aa9d-9b2f-4cd6-b794f3ec671b" class="slider-left-arrow-center right w-slider-arrow-right">
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" /></div>
						</div>
					</div>
					<div class="hidden w-slider-nav w-round w-num"></div>
				</div>
			</div>
			<div class="testimonials-adsolute"></div>
		</div>
	</section>
	<section class="section dark-bg-without-bottom">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-vflex vertical-20 centered">
					<div data-w-id="0d795edd-fed0-ea28-ef3e-2bb4e1634fce" style="opacity:0" class="cta-text-wrapper center">
						<h2 class="text-white">Ready to bring your vision <span class="text-span-image">.</span> to life?</h2>
						<div data-poster-url="images/cta-poster-00001.jpg"
							 data-video-urls="images/cta-transcode.mp4,images/cta-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="cta-video-absolute center w-background-video w-background-video-atom">
							<video id="0d795edd-fed0-ea28-ef3e-2bb4e1634fd5-video" autoplay="" loop="" style='background-image:url("images/cta-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
								<source src="~/images/cta-transcode.mp4" data-wf-ignore="true" />
								<source src="~/images/cta-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<div class="cta-par-wrapper"><div class="gray-color">Our team at The Lab is here to make it happen. Get in touch with us today to start your next video project!</div></div>
				</div>
				<a data-w-id="0d795edd-fed0-ea28-ef3e-2bb4e1634fd6" style="opacity:0" href="/contact-us" class="primary-button-white w-inline-block">
					<div>Discover next project</div>
					<div class="clip">
						<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
							 class="clip-icon-wrapper">
							<img loading="lazy" src="~/images/group-201-20-1-.svg" alt="icon" class="btn-icon" />
						</div>
						<div class="clip-icon-wrapper right"><img loading="lazy" src="~/images/group-201.svg" alt="icon" class="btn-icon" /></div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<div class="footer">
		<div class="base-container w-container">
			<div class="footer-wrapper">
				<div data-w-id="daf981fd-9b17-a0fb-7466-2c35634f2c76" class="footer-brand-wrapper">
					<div class="footer-logo-wrapper">
						<a href="/home-1" class="footer-brand w-nav-brand"><img src="~/images/union-20-6-.svg" loading="lazy" alt="Logo" height="21" class="footer-logo" /></a>
						<p class="footer-brand-description">A premier video production studio.</p>
					</div>
				</div>
				<div data-w-id="28a08b63-10c1-c078-f5ef-16f350f684f8" class="w-layout-hflex footer-links-right">
					<div class="w-layout-hflex footer-links">
						<div class="w-layout-vflex vertical-20 mobile-center">
							<h5 class="upper-text text-white">Home</h5>
							<div class="footer-links-wrapper">
								<a href="/home-1" class="footer-link">Home 1.0</a><a href="/home-2" class="footer-link">Home 2.0</a><a href="/home-3" aria-current="page" class="footer-link w--current">Home 3.0</a>
							</div>
						</div>
						<div class="w-layout-vflex vertical-20 mobile-center">
							<h5 class="upper-text text-white">About</h5>
							<div class="footer-links-wrapper"><a href="/about-us" class="footer-link">Studio</a><a href="/our-team" class="footer-link">Our Team</a><a href="/services" class="footer-link">Services</a></div>
						</div>
						<div class="w-layout-vflex vertical-20 mobile-center">
							<h5 class="upper-text text-white">Our Works</h5>
							<div class="footer-links-wrapper"><a href="/works-1" class="footer-link">Works 1.0</a><a href="/works-2" class="footer-link">Works 2.0</a><a href="/works-3" class="footer-link">Works 3.0</a></div>
						</div>
						<div class="w-layout-vflex vertical-20 mobile-center">
							<h5 class="upper-text text-white">Resources</h5>
							<div class="footer-links-wrapper"><a href="/blog-1" class="footer-link">Blog</a><a href="/faq" class="footer-link">FAQ</a></div>
						</div>
					</div>
					<div class="footer-social-icons-wrapper">
						<a href="https://www.instagram.com/" target="_blank" class="footer-soc-link w-inline-block"><img src="~/images/frame-20-2-.svg" loading="lazy" alt="social icon" /></a>
						<a href="https://www.youtube.com/" target="_blank" class="footer-soc-link w-inline-block"><img src="~/images/frame-20-3-.svg" loading="lazy" alt="icon" /></a>
						<a href="https://www.facebook.com/" target="_blank" class="footer-soc-link w-inline-block"><img src="~/images/frame-20-4-.svg" loading="lazy" alt="icon" /></a>
					</div>
				</div>
			</div>
			<div data-w-id="51c7c942-7113-60ab-7408-d175931e075b" class="w-layout-hflex footer-bottom">
				<div class="footer-bottom-wrapper">
					<div class="footer-copyright">© TheLab. All Rights Reserved. <a href="/templates/licensing" class="footer-licensing-link">Licensing</a></div>
					<div class="footer-rights-wrapper">
						<div class="footer-rights">
							<a href="https://www.128.digital/webflow-templates" target="_blank" class="footer-copyright-link">Webflow Templates</a>by
							<a href="https://www.128.digital/" target="_blank" class="footer-copyright-link">128.digital. </a>
						</div>
						<div class="footer-rights">Powered by <a href="https://webflow.com/" target="_blank" class="footer-copyright-link">Webflow</a></div>
					</div>
				</div>
				<a href="#Hero-Top" class="to-top-link">back to top</a>
			</div>
		</div>
		<div id="Hero-Top" class="hero-top"></div>
		<div class="promotion-labels-wrapper-to-remove">
			<div class="promotion-label-left">
				<div class="promotion-label-holder">
					<div class="promotion-label-paragraph">Boost Your Webflow with Pro Apps! Get 20% Off with Code <span class="promotion-coupon">WEBFLOW20</span></div>
					<a href="~/https://webflow.com/flowstar" target="_blank" class="promotion-label-button w-inline-block"><div>Try Now!</div></a>
					<div data-w-id="e50b5e81-5fca-fc3c-ff00-a14f1c6f0557" class="promotion-label-close"><img loading="lazy" src="~/images/close-20pop-up.svg" alt="" class="close-image" /></div>
				</div>
			</div>
			<div class="promotion-label-right">
				<a href="https://webflow.com/templates/designers/128-digital" target="_blank" class="promotion-label-more-templates w-inline-block">
					<img width="16" height="16" alt="128 logo" src="~/images/logo-20dark.svg" loading="lazy" class="promotion-icon" />
					<div>More Templates</div>
				</a>
				<a href="https://webflow.com/dashboard/marketplace-checkout/redirect?rtype=Template&amp;rid=679aa222cf57f5c92ddf77d5" target="_blank" class="promotion-label-buy-this-template w-inline-block">
					<img width="16" height="16" alt="" src="~/images/icon.svg" loading="lazy" class="promotion-icon" />
					<div>Buy this Template</div>
				</a>
			</div>
		</div>
	</div>
