<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
	<section class="banner-home-2">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex home-2-banner-top">
				<div class="w-layout-vflex banner-text-wrapper">
					<div class="w-layout-vflex vertical-20">
						<div data-w-id="fdf683ad-2072-f948-1826-b58f464cea9d" style="opacity:0" class="position-relative">
							<div data-poster-url="/images/small-poster-00001.jpg"
								 data-video-urls="/images/small-transcode.mp4,/images/small-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="home-small-video w-background-video w-background-video-atom">
								<video id="da207321-64af-f698-127e-8b98ab0e0f70-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("/images/small-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="/images/small-transcode.mp4" data-wf-ignore="true" />
									<source src="/images/small-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
							<h1 class="home-2-banner-text">Innovation in every <span class="banner-text-video"></span> frame</h1>
						</div>
						<div data-w-id="f7acb4d3-efc7-ac66-5eb1-40b4cf9f3a18" style="opacity:0" class="banner-2-description">
							<div class="paragraph-large gray-color">From concept to final cut, our team specializes in crafting compelling visual stories that captivate and inspire.</div>
						</div>
					</div>
					<a data-w-id="f8bc0bfa-ff4f-2503-33f5-a52b21f2514f" style="opacity:0" href="/contact-us" class="primary-button w-inline-block">
						<div>Discover next project</div>
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						</div>
					</a>
				</div>
				<a data-w-id="15e52997-81b3-86ad-ab8c-190ad1dcddc2" style="opacity:0" href="#Scroll-link" class="scroll-link w-inline-block">
					<div>Scroll for more</div>
					<div class="dot"></div>
				</a>
			</div>
			<a href="#" id="Scroll-link" data-w-id="a976abd9-4bb3-164d-0aa7-36b7c1d0267a" style="opacity:0" class="lightbox-home-2 w-inline-block w-lightbox">
				<div class="relative-20">
					<div data-w-id="e1726222-131f-e773-70ba-ffc770417931" class="w-layout-hflex primary-button-white">
						<div>Watch reel</div>
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						</div>
					</div>
				</div>
				<div data-poster-url="/images/home-201-20video-poster-00001.jpg"
					 data-video-urls="/images/home-201-20video-transcode.mp4,/images/home-201-20video-transcode.webm"
					 data-autoplay="true"
					 data-loop="true"
					 data-wf-ignore="true"
					 class="full-video-bg z1 w-background-video w-background-video-atom">
					<video id="d0afdea7-4e8c-88f0-6ab7-14eaa14c1d91-video"
						   autoplay=""
						   loop=""
						   style='background-image:url("/images/home-201-20video-poster-00001.jpg")'
						   muted=""
						   playsinline=""
						   data-wf-ignore="true"
						   data-object-fit="cover">
						<source src="/images/home-201-20video-transcode.mp4" data-wf-ignore="true" />
						<source src="/images/home-201-20video-transcode.webm" data-wf-ignore="true" />
					</video>
				</div>
				<script type="application/json" class="w-json">
					{
					  "items": [
						{
						  "url": "https://www.youtube.com/watch?v=Q84Ji3PQWLM",
						  "originalUrl": "https://www.youtube.com/watch?v=Q84Ji3PQWLM",
						  "width": 940,
						  "height": 528,
						  "thumbnailUrl": "https://i.ytimg.com/vi/Q84Ji3PQWLM/hqdefault.jpg",
						  "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FQ84Ji3PQWLM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQ84Ji3PQWLM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FQ84Ji3PQWLM%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
						  "type": "video"
						}
					  ],
					  "group": ""
					}
				</script>
			</a>
		</div>
	</section>
	<section class="section light-background">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-100">
				<div class="w-layout-hflex subtitle white">
					<div>About Studio</div>
					<div class="dot"></div>
				</div>
				<div class="w-layout-hflex about-home-wrapper">
					<div class="w-layout-vflex vertical-20">
						<div data-w-id="da207321-64af-f698-127e-8b98ab0e0f6a" style="opacity:0" class="about-2-title-wrapper">
							<h2>A premier video production studio where creativity and innovation come together to craft visually stunning and impactful content.</h2>
						</div>
						<div data-w-id="b96a4ca7-d0b9-12a8-2d56-920ac4f1bb95" style="opacity:0" class="about-description">
							<p class="paragraph-large paragraph-no-margin">With a focus on both artistry and technical precision, we work closely with our clients to bring their unique stories to life.</p>
						</div>
					</div>
					<div data-w-id="da207321-64af-f698-127e-8b98ab0e0f71" style="opacity:0" class="w-layout-vflex">
						<a href="/about-us" class="link-with-line w-inline-block">
							<div>About Us</div>
							<div class="hover-line"><div class="hover-line-fill"></div></div>
						</a>
					</div>
				</div>
				<div class="w-layout-grid about-grid">
					<div data-w-id="2c35a63a-0c33-4ca4-e3b9-7a7414335281" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">01.</div>
							<div class="upper-text-600">Creative Excellence</div>
						</div>
						<div class="proces-item-description"><div class="gray-color">We start by getting to know your brand, your vision, and your target audience.</div></div>
					</div>
					<div data-w-id="11ed96b8-35f9-d2e7-3d94-386cf3dcf001" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">02.</div>
							<div class="upper-text-600">End-to-End Service</div>
						</div>
						<div class="proces-item-description"><div class="gray-color">From concept development to final delivery, we handle every aspect of video production.</div></div>
					</div>
					<div data-w-id="57e92687-c7bc-e929-7abc-fd2f5b5a5f7b" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">03.</div>
							<div class="upper-text-600">Tailored Solutions</div>
						</div>
						<div class="proces-item-description"><div class="gray-color">We tailor our approach to meet your specific needs, ensuring that your video perfectly.</div></div>
					</div>
					<div data-w-id="283d3af7-91cc-94b4-9f92-420788b31baa" style="opacity:0" class="w-layout-vflex vertical-16">
						<div class="w-layout-hflex horizontal-20">
							<div class="upper-text-600 gray-color">04.</div>
							<div class="upper-text-600">Cutting-Edge Technology</div>
						</div>
						<div class="proces-item-description"><div class="gray-color">Invest in the latest technology to ensure that every video we produce is of the highest quality.</div></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section light-bg-without-top">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-grid home-2-work-content">
				<div id="w-node-f30fc8e4-baf9-14a2-5d26-7765e3ffd84c-1425c528" class="w-layout-hflex subtitle white">
					<div>Latest Work</div>
					<div class="dot"></div>
				</div>
				<div id="w-node-d7ec17ea-afb7-7cb2-6dd7-dc920b3c4ec3-1425c528" class="w-layout-vflex vertical-20">
					<h2 data-w-id="7613e123-92c9-b5b8-61d9-ff5dff7bb248" style="opacity:0">Our latest projects</h2>
					<div class="mobile-hidden">
						<a data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd850" style="opacity:0" href="/works-1" class="link-with-line w-inline-block">
							<div>All Works<span class="gray-color">(34)</span></div>
							<div class="hover-line">
								<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
									 class="hover-line-fill"></div>
							</div>
						</a>
					</div>
				</div>
				<div id="w-node-f30fc8e4-baf9-14a2-5d26-7765e3ffd857-1425c528" data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd857" style="opacity:0" class="position-relative">
					<div class="collection-list-wrapper w-dyn-list">
						<div role="list" class="collection-grid-3-column w-dyn-items">
							<div data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd85a" role="listitem" class="collection-item w-dyn-item">
								<a href="/works/fuji-mountain-cinematic" class="w-inline-block">
									<img src="/images/5607843-uhd_2560_1440_24fps-20-1-.jpg"
										 loading="lazy"
										 alt="Work Image"
										 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 31vw, (max-width: 1439px) 32vw, 420px"
										 srcset="
												/images/5607843-uhd_2560_1440_24fps-20-1-p-500.jpg   500w,
												/images/5607843-uhd_2560_1440_24fps-20-1-p-800.jpg   800w,
												/images/5607843-uhd_2560_1440_24fps-20-1-p-1080.jpg 1080w,
												/images/5607843-uhd_2560_1440_24fps-20-1-.jpg       1300w
											"
										 class="image-work-2" />
								</a>
								<div class="w-layout-vflex bottom-work-2">
									<div class="w-layout-vflex vertical-8">
										<div data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd85f" class="clip">
											<div class="clip-text-wrapper"><a href="/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
											<div class="clip-text-wrapper bottom"><a href="/works/fuji-mountain-cinematic" class="works-title">Fuji mountain cinematic</a></div>
										</div>
										<div class="w-layout-hflex date-work-wrapp dark">
											<div>Yolo studio</div>
											<div>/</div>
											<div>2025</div>
										</div>
									</div>
									<a href="/works/fuji-mountain-cinematic" class="link-with-line w-inline-block">
										<div>View Project</div>
										<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
										<div class="hover-line"><div class="hover-line-fill"></div></div>
									</a>
								</div>
							</div>
							<div data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd85a" role="listitem" class="collection-item w-dyn-item">
								<a href="/works/love-story" class="w-inline-block">
									<img src="/images/4873410-hd_1920_1080_25fps-20-3-.jpg"
										 loading="lazy"
										 alt="Work Image"
										 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 31vw, (max-width: 1439px) 32vw, 420px"
										 srcset="
												/images/4873410-hd_1920_1080_25fps-20-3-p-500.jpg   500w,
												/images/4873410-hd_1920_1080_25fps-20-3-p-800.jpg   800w,
												/images/4873410-hd_1920_1080_25fps-20-3-p-1080.jpg 1080w,
												/images/4873410-hd_1920_1080_25fps-20-3-.jpg       1300w
											"
										 class="image-work-2" />
								</a>
								<div class="w-layout-vflex bottom-work-2">
									<div class="w-layout-vflex vertical-8">
										<div data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd85f" class="clip">
											<div class="clip-text-wrapper"><a href="/works/love-story" class="works-title">Love story</a></div>
											<div class="clip-text-wrapper bottom"><a href="/works/love-story" class="works-title">Love story</a></div>
										</div>
										<div class="w-layout-hflex date-work-wrapp dark">
											<div>Kate &amp; Daniel</div>
											<div>/</div>
											<div>2025</div>
										</div>
									</div>
									<a href="/works/love-story" class="link-with-line w-inline-block">
										<div>View Project</div>
										<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
										<div class="hover-line"><div class="hover-line-fill"></div></div>
									</a>
								</div>
							</div>
							<div data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd85a" role="listitem" class="collection-item w-dyn-item">
								<a href="/works/winter-arcane" class="w-inline-block">
									<img src="/images/4873410-hd_1920_1080_25fps-20-2-.jpg"
										 loading="lazy"
										 alt="Work Image"
										 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 31vw, (max-width: 1439px) 32vw, 420px"
										 srcset="
												/images/4873410-hd_1920_1080_25fps-20-2-p-500.jpg   500w,
												/images/4873410-hd_1920_1080_25fps-20-2-p-800.jpg   800w,
												/images/4873410-hd_1920_1080_25fps-20-2-p-1080.jpg 1080w,
												/images/4873410-hd_1920_1080_25fps-20-2-.jpg       1300w
											"
										 class="image-work-2" />
								</a>
								<div class="w-layout-vflex bottom-work-2">
									<div class="w-layout-vflex vertical-8">
										<div data-w-id="f30fc8e4-baf9-14a2-5d26-7765e3ffd85f" class="clip">
											<div class="clip-text-wrapper"><a href="/works/winter-arcane" class="works-title">Winter Arcane</a></div>
											<div class="clip-text-wrapper bottom"><a href="/works/winter-arcane" class="works-title">Winter Arcane</a></div>
										</div>
										<div class="w-layout-hflex date-work-wrapp dark">
											<div>Prompt studio</div>
											<div>/</div>
											<div>2025</div>
										</div>
									</div>
									<a href="/works/winter-arcane" class="link-with-line w-inline-block">
										<div>View Project</div>
										<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
										<div class="hover-line"><div class="hover-line-fill"></div></div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="w-layout-grid home-2-grid-videos">
						<div class="video-wrapper">
							<div data-poster-url="/images/work1-poster-00001.jpg"
								 data-video-urls="/images/work1-transcode.mp4,/images/work1-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="full-video-work w-background-video w-background-video-atom">
								<video id="f30fc8e4-baf9-14a2-5d26-7765e3ffd874-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("/images/work1-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="/images/work1-transcode.mp4" data-wf-ignore="true" />
									<source src="/images/work1-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
						</div>
						<div class="video-wrapper">
							<div data-poster-url="/images/work2-poster-00001.jpg"
								 data-video-urls="/images/work2-transcode.mp4,/images/work2-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="full-video-work w-background-video w-background-video-atom">
								<video id="f30fc8e4-baf9-14a2-5d26-7765e3ffd876-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("/images/work2-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="/images/work2-transcode.mp4" data-wf-ignore="true" />
									<source src="/images/work2-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
						</div>
						<div class="video-wrapper">
							<div data-poster-url="/images/cta-poster-00001.jpg"
								 data-video-urls="/images/cta-transcode.mp4,/images/cta-transcode.webm"
								 data-autoplay="true"
								 data-loop="true"
								 data-wf-ignore="true"
								 class="full-video-work w-background-video w-background-video-atom">
								<video id="53485349-cfa3-c0d7-0d64-ff12fa1ba0f9-video"
									   autoplay=""
									   loop=""
									   style='background-image:url("/images/cta-poster-00001.jpg")'
									   muted=""
									   playsinline=""
									   data-wf-ignore="true"
									   data-object-fit="cover">
									<source src="/images/cta-transcode.mp4" data-wf-ignore="true" />
									<source src="/images/cta-transcode.webm" data-wf-ignore="true" />
								</video>
							</div>
						</div>
					</div>
				</div>
				<div id="w-node-c7759df4-a8bb-6576-2181-1d9bd486293d-1425c528" class="mobile-visible">
					<a data-w-id="c7759df4-a8bb-6576-2181-1d9bd486293e" style="opacity:0" href="/works-1" class="link-with-line w-inline-block">
						<div>All Works<span class="gray-color">(34)</span></div>
						<div class="hover-line">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="hover-line-fill"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-vflex vertical-100 centered">
					<div class="w-layout-hflex subtitle">
						<div>We are more than just a video production studio</div>
						<div class="dot"></div>
					</div>
					<h2 data-w-id="a7d68c39-2215-6a0f-7bba-44e3053d7a30" style="opacity:0" class="values-2-title">We are a creative powerhouse dedicated to transforming ideas into captivating visual stories.</h2>
				</div>
				<a data-w-id="9bd92860-6bb5-780d-36ec-bc8e8faeaae5" style="opacity:0" href="/contact-us" class="primary-button w-inline-block">
					<div>Discover next project</div>
					<div class="clip">
						<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
							 class="clip-icon-wrapper">
							<img src="/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
						</div>
						<div class="clip-icon-wrapper right"><img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
					</div>
				</a>
				<div class="w-layout-grid values-grid">
					<div class="values-left-wrapper">
						<div class="w-layout-vflex vertical-40">
							<div data-w-id="a7d68c39-2215-6a0f-7bba-44e3053d7a56" style="opacity:0" class="w-layout-vflex vertical-30">
								<img src="/images/group-206.svg" loading="lazy" alt="svg element" class="values-icon" />
								<div class="w-layout-vflex vertical-20">
									<h3>Cutting-edge technology</h3>
									<div class="gray-color">
										We invest in the latest technology to ensure that every video we produce is of the highest quality. From cameras and drones to advanced editing software, we use state-of-the-art tools to bring
										your ideas to life.
									</div>
								</div>
							</div>
							<div data-w-id="e372b0d6-df58-377c-11fb-0a0748c1acaf" style="opacity:0" class="w-layout-vflex vertical-30">
								<img src="/images/group-207.svg" loading="lazy" alt="svg element" class="values-icon" />
								<div class="w-layout-vflex vertical-20">
									<h3>Proven results</h3>
									<div class="gray-color">
										Our videos don’t just look great—they drive results. Our clients experience increased brand awareness, engagement, and conversions because we focus on delivering content that speaks directly to
										your target audience.
									</div>
								</div>
							</div>
							<div data-w-id="8cef2a2d-ad29-c899-d6df-e6112c8e7e39" style="opacity:0" class="w-layout-vflex vertical-30">
								<img src="/images/group-208.svg" loading="lazy" alt="svg element" class="values-icon" />
								<div class="w-layout-vflex vertical-20">
									<h3>A passion for storytelling</h3>
									<div class="gray-color">Above all, we are storytellers. We understand the power of a great story, and we’re committed to making sure yours is told in the most impactful way possible.</div>
								</div>
							</div>
						</div>
					</div>
					<div id="w-node-a7d68c39-2215-6a0f-7bba-44e3053d7a29-1425c528" class="our-process-video-wrapper home-2">
						<div data-poster-url="/images/process-poster-00001.jpg"
							 data-video-urls="/images/process-transcode.mp4,/images/process-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="absolute-video w-background-video w-background-video-atom">
							<video id="a7d68c39-2215-6a0f-7bba-44e3053d7a2a-video"
								   autoplay=""
								   loop=""
								   style='background-image:url("/images/process-poster-00001.jpg")'
								   muted=""
								   playsinline=""
								   data-wf-ignore="true"
								   data-object-fit="cover">
								<source src="/images/process-transcode.mp4" data-wf-ignore="true" />
								<source src="/images/process-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
				</div>
			</div>
			<div class="w-layout-grid numbers-grid top-100">
				<div data-w-id="da207321-64af-f698-127e-8b98ab0e0f7a" style="opacity:0" class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">500+</div>
						<div class="upper-text">Projects Completed</div>
					</div>
					<p class="margin-top-20">Successful video productions for clients across various industries.</p>
				</div>
				<div data-w-id="da207321-64af-f698-127e-8b98ab0e0f82" style="opacity:0" class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">100+</div>
						<div class="upper-text">happy clients</div>
					</div>
					<p class="margin-top-20">Trusted by top brands and businesses worldwide.</p>
				</div>
				<div data-w-id="da207321-64af-f698-127e-8b98ab0e0f8a" style="opacity:0" class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">2,000+</div>
						<div class="upper-text">Hours of Footage</div>
					</div>
					<p class="margin-top-20">Capturing every angle, every moment, and every emotion.</p>
				</div>
				<div data-w-id="da207321-64af-f698-127e-8b98ab0e0f92" style="opacity:0" class="w-layout-vflex">
					<div class="w-layout-vflex vertical-8">
						<div class="number">20+</div>
						<div class="upper-text">Award-Winning Videos</div>
					</div>
					<p class="margin-top-20">Recognized for outstanding creativity and production quality.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section without-top-spacing">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex home-2-testimonials">
				<div class="w-layout-hflex subtitle">
					<div>reviews</div>
					<div class="dot"></div>
				</div>
				<div data-delay="4000"
					 data-animation="cross"
					 class="home-2-reviews-slider w-slider"
					 data-autoplay="false"
					 data-easing="ease"
					 style="opacity:0"
					 data-hide-arrows="false"
					 data-disable-swipe="false"
					 data-w-id="b717df06-cbea-07f0-facf-bed1300fbaa2"
					 data-autoplay-limit="0"
					 data-nav-spacing="3"
					 data-duration="500"
					 data-infinite="true">
					<div class="home-2-testimonials-mask w-slider-mask">
						<div class="reviews-slide w-slide">
							<div class="w-layout-hflex testimonials-2-intro">
								<div class="testimonials-2-text-wrapper">
									<div class="clip">
										<h2 class="testimonial-text-home-2">
											&quot;The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s
											made a huge impact on our brand.&quot;
										</h2>
									</div>
								</div>
								<div class="w-layout-vflex testimonials-member-wrapper">
									<div class="clip">
										<div class="w-layout-vflex vertical-20 mobile-flex-hor">
											<img src="/images/rectangle-2064-20-1-.webp"
												 loading="lazy"
												 width="132"
												 sizes="(max-width: 767px) 90px, (max-width: 991px) 20vw, (max-width: 1279px) 90px, 132px"
												 alt="man"
												 srcset="/images/rectangle-2064-20-1-p-500.webp 500w, /images/rectangle-2064-20-1-.webp 528w"
												 class="testimonials-image" />
											<div class="position-testimonials">
												<div class="upper-text-600">Martin, <span class="gray-color">CEO GreenEarth Solutions</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div data-w-id="a1d3d395-1233-f1b1-e00c-01692ad510ac" class="reviews-slide w-slide">
							<div class="w-layout-hflex testimonials-2-intro">
								<div class="testimonials-2-text-wrapper">
									<div class="clip">
										<h2 style="-webkit-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);-moz-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);-ms-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);opacity:0"
											class="testimonial-text-home-2">
											&quot;From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us
											connect with our audience in a way we hadn’t imagined.&quot;
										</h2>
									</div>
								</div>
								<div class="w-layout-vflex testimonials-member-wrapper">
									<div class="clip">
										<div class="w-layout-vflex vertical-20 mobile-flex-hor">
											<img src="/images/member-photo-2.webp" loading="lazy" width="132" alt="photo" class="testimonials-image" />
											<div class="position-testimonials">
												<div class="upper-text-600">Daniel, <span class="gray-color">CEO AZS Agency</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div data-w-id="580edefc-4ee5-4cee-d4a9-aef8fa9f2cf7" class="reviews-slide w-slide">
							<div class="w-layout-hflex testimonials-2-intro">
								<div class="testimonials-2-text-wrapper">
									<div class="clip">
										<h2 style="-webkit-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);-moz-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);-ms-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);opacity:0"
											class="testimonial-text-home-2">
											&quot;The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s
											made a huge impact on our brand.&quot;
										</h2>
									</div>
								</div>
								<div class="w-layout-vflex testimonials-member-wrapper">
									<div class="clip">
										<div class="w-layout-vflex vertical-20 mobile-flex-hor">
											<img src="/images/member-photo-9.webp" loading="lazy" width="132" alt="photo" class="testimonials-image" />
											<div class="position-testimonials">
												<div class="upper-text-600">Rebecca, <span class="gray-color">Creative Director, Urban Designs</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div data-w-id="d56a211a-7dcc-18ef-9056-5733ccb553c1" class="reviews-slide w-slide">
							<div class="w-layout-hflex testimonials-2-intro">
								<div class="testimonials-2-text-wrapper">
									<div class="clip">
										<h2 style="-webkit-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);-moz-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);-ms-transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);transform:translate3d(0, 100%, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 5deg);opacity:0"
											class="testimonial-text-home-2">
											&quot;We’ve worked with many studios, but The Lab stands out. Their expertise, communication, and passion for storytelling are unmatched. We couldn’t be happier with the final result, and it’s
											helping us reach new customers.&quot;
										</h2>
									</div>
								</div>
								<div class="w-layout-vflex testimonials-member-wrapper">
									<div class="clip">
										<div class="w-layout-vflex vertical-20 mobile-flex-hor">
											<img src="/images/member-photo.webp" loading="lazy" width="132" alt="photo" class="testimonials-image" />
											<div class="position-testimonials">
												<div class="upper-text-600">Anna, <span class="gray-color">CEO flowers shop</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-w-id="b717df06-cbea-07f0-facf-bed1300fbaa6" class="slider-2-arrow w-slider-arrow-left">
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="/images/group-201-20-2-.svg" loading="lazy" alt="icon" />
							</div>
							<div class="clip-icon-wrapper left"><img src="/images/group-201-20-3-.svg" loading="lazy" alt="icon" /></div>
						</div>
					</div>
					<div data-w-id="b717df06-cbea-07f0-facf-bed1300fbaa8" class="slider-2-arrow right w-slider-arrow-right">
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="/images/group-201-20-1-.svg" loading="lazy" alt="icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="/images/group-201-20-4-.svg" loading="lazy" alt="icon" /></div>
						</div>
					</div>
					<div class="hidden w-slider-nav w-round w-num"></div>
				</div>
				<div data-w-id="ed62fee3-10d6-bc97-2cd7-39cbbc87715d" style="opacity:0" class="bg-testimonils-block"></div>
			</div>
		</div>
	</section>
	<section class="section dark-bg-without-bottom">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-40">
				<div class="w-layout-hflex subtitle dark">
					<div>the team</div>
					<div class="dot white"></div>
				</div>
				<div class="team-title-wrapper"><h2 data-w-id="12068dfa-d333-a4c6-e335-e97176b32cd4" style="opacity:0" class="text-white">Meet the people behind the camera</h2></div>
				<div class="w-layout-grid team-grid">
					<div data-w-id="62b27354-6b56-9252-06a9-ab2f122b981c" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img"><img src="/images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Amélie Laurent</h6>
								<div class="upper-text gray-color">Creative Director</div>
							</div>
							<div class="gray-color">Visionary leader turning ideas into powerful stories.</div>
						</div>
					</div>
					<div data-w-id="8b255bb1-3cba-b555-99e1-739fe242502f" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img second"><img src="/images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Nikolas Gibbons</h6>
								<div class="upper-text gray-color">Producer</div>
							</div>
							<div class="gray-color">Organizes and manages projects from start to finish.</div>
						</div>
					</div>
					<div data-w-id="4e77ade0-cdcf-fd57-b278-cb5c7de2ef2e" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img third"><img src="/images/image-20-6-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Sienna Hewitt</h6>
								<div class="upper-text gray-color">Director of Photography</div>
							</div>
							<div class="gray-color">Captures stunning visuals with precision.</div>
						</div>
					</div>
					<div data-w-id="99f61de1-4524-f0af-765d-813983646f2c" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _04"><img src="/images/image-20-7-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Lily-Rose Chedjou</h6>
								<div class="upper-text gray-color">Editor</div>
							</div>
							<div class="gray-color">Transforms raw footage into engaging content.</div>
						</div>
					</div>
					<div data-w-id="b880a65c-3836-5f72-4fbf-d486df2f87f4" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _05"><img src="/images/image-20-8-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Zahra Christensen</h6>
								<div class="upper-text gray-color">Motion Graphics Designer</div>
							</div>
							<div class="gray-color">Creates dynamic graphics to elevate projects.</div>
						</div>
					</div>
					<div data-w-id="ac739270-3092-da98-e7b2-0e37ec3cadec" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _06"><img src="/images/image-20-9-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Caitlyn King</h6>
								<div class="upper-text gray-color">Project Manager</div>
							</div>
							<div class="gray-color">Ensures smooth coordination and timely delivery.</div>
						</div>
					</div>
					<div data-w-id="c2192e42-9e81-94c5-57a3-842418399bbb" style="opacity:0" class="w-layout-vflex vertical-24 tablet-hidden">
						<div class="team-member-img _07"><img src="/images/image-20-10-.webp" loading="lazy" alt="man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Zaid Schwartz</h6>
								<div class="upper-text gray-color">Assistant Director</div>
							</div>
							<div class="gray-color">Supports logistics and contributes fresh ideas.</div>
						</div>
					</div>
					<div data-w-id="c2e720e3-88a0-a4bc-41c6-45b4c23a58a8" style="opacity:0" class="w-layout-vflex vertical-24 tablet-hidden">
						<div class="team-member-img _08"><img src="/images/image-20-11-.webp" loading="lazy" alt="Man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600 text-white">Marco Kelly</h6>
								<div class="upper-text gray-color">Customer Success</div>
							</div>
							<div class="gray-color">Lead CX at Wealthsimple. Former PagerDuty and Sqreen.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Начало dark-bg-without-bottom -->
@Html.Partial("DarkBgWithoutBottom")
<!-- Конец dark-bg-without-bottom -->