@{
    // ViewData["Title"] = "Home Page";
}

<!-- Index -->
<form action="/search" class="search-desktop w-form">
    <div class="search-wrapper">
        <input class="search-wrap-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Enter search keyword" type="search" id="search-2" required="" />
        <div class="search-bottom-line"></div>
        <input type="submit" class="primary-button serch-button w-button" value="Search" />
    </div>
    <div data-w-id="cffaa0d6-0cd7-3509-9f08-dbbd1e309db4" class="search-close-button"></div>
</form>
<div class="section landing-banner">
    <div class="base-container w-container">
        <div class="landing-banner-title-wrapper">
            <h1 class="text-white">Video Production Webflow Template</h1>
            <p class="banner-description text-white">3 Landing Pages. 16 Inner Pages.</p>
        </div>
    </div>
    <img src="images/landing-banner-screens-20-6-20-1-.webp"
         loading="lazy"
         sizes="(max-width: 991px) 95vw, (max-width: 1797px) 85vw, 1528px"
         srcset="
					images/landing-banner-screens-20-6-20-1-p-500.webp   500w,
					images/landing-banner-screens-20-6-20-1-p-800.webp   800w,
					images/landing-banner-screens-20-6-20-1-p-1080.webp 1080w,
					images/landing-banner-screens-20-6-20-1-.webp       1528w
                "
         alt="Page screen"
         class="landing-banner-image" />
</div>
<div class="section without-bottom-spacing">
    <div class="base-container w-container">
        <div class="section-title-wrapper">
            <h2 class="section-title">3 pre-built ready demos</h2>
            <p class="section-title-description">Every of our demos is unique and has different elements that are interchangeable between demos</p>
        </div>
    </div>
    <div class="landing-home-pages-wrapper">
        <a data-w-id="fcefde20-23d8-3d0c-ab21-dcb34920d5f3" href="/home-1" class="landing-inner-page-item home-screen w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/team-20-1-.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1919px) 30vw, 444.6640625px"
                     alt="Page screen"
                     srcset="images/team-20-1-p-500.webp 500w, images/team-20-1-.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h4 style="color:rgb(0,0,0)" class="landing-inner-page-title">Home 1</h4>
        </a>
        <a data-w-id="fcefde20-23d8-3d0c-ab21-dcb34920d5fc" href="/home-2" class="landing-inner-page-item home-screen w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/h2.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1919px) 30vw, 444.6640625px"
                     alt="Page screen"
                     srcset="images/h2-p-500.webp 500w, images/h2.webp 900w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h4 style="color:rgb(0,0,0)" class="landing-inner-page-title">Home 2</h4>
        </a>
        <a data-w-id="fcefde20-23d8-3d0c-ab21-dcb34920d605" href="/home-3" class="landing-inner-page-item home-screen w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/h3.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1919px) 30vw, 444.6640625px"
                     alt="Page screen"
                     srcset="images/h3-p-500.webp 500w, images/h3.webp 900w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h4 style="color:rgb(0,0,0)" class="landing-inner-page-title">Home 3</h4>
        </a>
    </div>
</div>
<div data-w-id="cebc9d91-8eeb-e29f-7aca-98d92c657da3" class="section">
    <div class="base-container w-container">
        <div class="section-title-wrapper">
            <h2 class="section-title">Ultra Performance</h2>
            <p class="section-title-description">Load your site with a lightning-fast responsiveness. An optimized code lets Thelab load fast under any traffic conditions.</p>
        </div>
        <div class="w-layout-grid landing-performance-grid">
            <div id="w-node-_372136d8-e829-64ef-67e2-838d3299aaf5-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">Google PageSpeed</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%;opacity:0" class="landing-progress-bar-95"><div class="landing-progress-bar-number">95%</div></div>
                </div>
            </div>
            <div id="w-node-_3046d385-00ef-1a39-a240-eeadbd211d20-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">Performance Grade</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%" class="landing-progress-bar-92"><div class="landing-progress-bar-number">92%</div></div>
                </div>
            </div>
            <div id="w-node-f8dcdfff-88b2-174f-772a-e4e26476447c-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">PageSpeed Score</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%" class="landing-progress-bar-100"><div class="landing-progress-bar-number">97%</div></div>
                </div>
            </div>
            <div id="w-node-_2e780f7e-ddc2-b018-b89f-b3fe073d5c8c-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">GTmetrix YSlow Score</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%" class="landing-progress-bar-88"><div class="landing-progress-bar-number">88%</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blue background -->
<div class="section blue-background">
    <div class="base-container w-container">
        <div class="section-title-wrapper"><h2 class="section-title text-white">Key Features</h2></div>
        <div class="w-layout-grid landing-features-grid">
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">Friendly Support<br /></h6>
                <p class="text-white">
                    Found a bug, or have any problem, feel free to send us an email at <a href="mailto:hello@128.digital" class="white-link"><strong>hello@128.digital</strong></a>
                </p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">Search Engine Optimised</h6>
                <p class="text-white">Get ranking in SERPs. Template is optimised for search engines requirements.</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">Custom Typography</h6>
                <p class="text-white">Template allows you to adjust Typography and choose custom Colors to suit your needs.</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">Essential Inner pages</h6>
                <p class="text-white">Limitless potential in creating the pages you need. We’ve created essential page layouts including: About, Pricing, Contact, and more.</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">Modern Technologies</h6>
                <p class="text-white">Template is well designed and highly targeted for conversions. Built with HTML, CSS, and Javascript in a visual canvas.</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">High-Speed Performance<br /></h6>
                <p class="text-white">Load your site with a lightning-fast responsiveness. An optimized code lets template load fast under any traffic conditions.</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">Lifetime Updates</h6>
                <p class="text-white">Stay up-to-date with the latest version of our template without having to do it manually.</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">Highly Customisable</h6>
                <p class="text-white">Make your website look the way you want it to by customising it with our built-in tools and settings - with no coding skills required!</p>
            </div>
        </div>
    </div>
</div>
<!-- End Blue background -->
<!-- Without-bottom-spacing -->
<div class="section without-bottom-spacing">
    <div class="base-container w-container">
        <div class="section-title-wrapper">
            <h2 class="section-title">Inner Pages</h2>
            <p class="section-title-description">Limitless potential in creating the pages you need. We’ve created essential page layouts including: About Us, Services, Works, and more.</p>
        </div>
    </div>
    <div class="landing-inner-pages-wrapper">
        <a data-w-id="1965ce89-baf9-5f99-3809-4b5b1964fdc8" style="background-color:rgba(0,0,0,0)" href="/about-us" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/about.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/about-p-500.webp 500w, images/about.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">About Us</h5>
        </a>
        <a data-w-id="3790f269-261a-a6a2-e4b6-711106fe86c9" style="background-color:rgba(0,0,0,0)" href="/our-team" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/team.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/team-p-500.webp 500w, images/team.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">OUR TEAM</h5>
        </a>
        <a data-w-id="3fc9cb0b-68f5-8cbd-499e-007f4101168b" style="background-color:rgba(0,0,0,0)" href="/services" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/services.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/services-p-500.webp 500w, images/services.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Our services</h5>
        </a>
        <a data-w-id="e2a3a053-df28-895e-8409-52ed13066b45" style="background-color:rgba(0,0,0,0)" href="https://thelab-128.webflow.io/services/cinematic-storytelling" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/service-20det.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/service-20det-p-500.webp 500w, images/service-20det.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Service Details</h5>
        </a>
        <a data-w-id="327c4765-5586-5303-19f1-5bc424585bdd" style="background-color:rgba(0,0,0,0)" href="/works-1" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/work-201.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/work-201-p-500.webp 500w, images/work-201.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Works 1</h5>
        </a>
        <a data-w-id="3aa32675-f424-c85f-767b-51f9b450ee6a" style="background-color:rgba(0,0,0,0)" href="/works-2" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/works-202.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/works-202-p-500.webp 500w, images/works-202.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Works 2</h5>
        </a>
        <a data-w-id="67356be1-c2f5-2e7e-1e2b-363a54ca1d1e" style="background-color:rgba(0,0,0,0)" href="/works-3" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/works-203.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/works-203-p-500.webp 500w, images/works-203.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Works 3</h5>
        </a>
        <a data-w-id="34a659f3-0ca0-016b-67db-00c403c6623b" style="background-color:rgba(0,0,0,0)" href="https://thelab-128.webflow.io/projects/fuji-mountain-cinematic" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/works-20det.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/works-20det-p-500.webp 500w, images/works-20det.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Work details</h5>
        </a>
        <a data-w-id="c3da1160-a097-02c5-b94d-f9ec9397d6b5" style="background-color:rgba(0,0,0,0)" href="/faq" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/faq.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/faq-p-500.webp 500w, images/faq.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">FAQ</h5>
        </a>
        <a data-w-id="3e516fb8-5aed-3132-b6ec-e3df72f1fa41" style="background-color:rgba(0,0,0,0)" href="/testimonials" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/test.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/test-p-500.webp 500w, images/test.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Testimonials</h5>
        </a>
        <a data-w-id="6600e0c4-6368-036d-7b27-a6cfd13cfb5e" style="background-color:rgba(0,0,0,0)" href="/pricing" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/pricing.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/pricing-p-500.webp 500w, images/pricing.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Pricing</h5>
        </a>
        <a data-w-id="0bedde0e-dccc-f0dd-8ae1-b1abe648a496" style="background-color:rgba(0,0,0,0)" href="/contact-us" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/contact.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/contact-p-500.webp 500w, images/contact.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Contact us</h5>
        </a>
        <a data-w-id="84eea742-fdf5-b2cd-95ce-b4c9b18e4549" style="background-color:rgba(0,0,0,0)" href="/blog-1" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/blog-201.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/blog-201-p-500.webp 500w, images/blog-201.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Blog 1</h5>
        </a>
        <a data-w-id="852f71c5-5dec-3d56-bfb2-05369c7ec9b1" style="background-color:rgba(0,0,0,0)" href="/blog-2" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/blog-202.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/blog-202-p-500.webp 500w, images/blog-202.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Blog 2</h5>
        </a>
        <a data-w-id="74e5d9ba-7c9c-c2f8-6213-9489974dae30" style="background-color:rgba(0,0,0,0)" href="/blog-3" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/image.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/image-p-500.webp 500w, images/image.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Blog 3</h5>
        </a>
        <a data-w-id="f9a60c0a-fb2e-ffb6-cb54-a843bd6bde7d" style="background-color:rgba(0,0,0,0)" href="https://thelab-128.webflow.io/blog-posts/the-power-of-minimalist-design" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="images/blog-20det.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="images/blog-20det-p-500.webp 500w, images/blog-20det.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Blog Details</h5>
        </a>
    </div>
</div>
<!-- End Without-bottom-spacing -->
<!-- Purchase Section -->
<div class="section-purchase">
    <div class="landing-download-block-wrapper">
        <div class="landing-download-block-wrap">
            <h3 class="text-white mb-20">Balance of External and Internal Beauty</h3>
            <p class="text-white">Start building your next gorgeous website now.</p>
        </div>
        <a href="https://webflow.com/dashboard/marketplace-checkout/redirect?rtype=Template&amp;rid=679aa222cf57f5c92ddf77d5" target="_blank" class="primary-button-white w-button">
            <span class="download-button-icon"></span>Purchase
        </a>
    </div>
</div>
<!-- End Purchase Section-->