	<!-- Form -->
	<form action="/search" class="search-desktop w-form">
		<div class="search-wrapper">
			<input class="search-wrap-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Enter search keyword" type="search" id="search-2" required="" />
			<div class="search-bottom-line"></div>
			<input type="submit" class="primary-button serch-button w-button" value="Search" />
		</div>
		<div data-w-id="cffaa0d6-0cd7-3509-9f08-dbbd1e309db4" class="search-close-button"></div>
	</form>
	<!-- Form End -->
	<section class="banner-home-2 dark-background">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex home-2-banner-top">
				<div class="w-layout-vflex about-title small">
					<div class="w-layout-vflex vertical-20">
						<div data-w-id="7db66374-2470-9837-164e-bae7797ad9d0" style="opacity:0" class="position-relative"><h1 class="text-white">The Minds Behind the Magic</h1></div>
						<div data-w-id="7db66374-2470-9837-164e-bae7797ad9d3" style="opacity:0" class="banner-2-description">
							<div class="paragraph-large gray-color">Meet the creative visionaries who make it all happen at TheLab. Our team work together to push boundaries and deliver exceptional results.</div>
						</div>
					</div>
				</div>
				<a data-w-id="7db66374-2470-9837-164e-bae7797ad9d6" style="opacity:0" href="#Scroll-link" class="scroll-link-light w-inline-block">
					<div>Scroll for more</div>
					<div class="dot"></div>
				</a>
			</div>
			<a href="#" id="Scroll-link" data-w-id="7db66374-2470-9837-164e-bae7797ad9da" style="opacity:0" class="lightbox-home-2 w-inline-block w-lightbox">
				<div class="relative-20">
					<div data-w-id="7db66374-2470-9837-164e-bae7797ad9dc" class="w-layout-hflex primary-button-white">
						<div>Watch reel</div>
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						</div>
					</div>
				</div>
				<div data-poster-url="images/6883825-sd_960_506_25fps-poster-00001.jpg"
					 data-video-urls="images/6883825-sd_960_506_25fps-transcode.mp4,images/6883825-sd_960_506_25fps-transcode.webm"
					 data-autoplay="true"
					 data-loop="true"
					 data-wf-ignore="true"
					 class="full-video-bg z1 w-background-video w-background-video-atom">
					<video id="7db66374-2470-9837-164e-bae7797ad9e4-video"
						   autoplay=""
						   loop=""
						   style='background-image:url("images/6883825-sd_960_506_25fps-poster-00001.jpg")'
						   muted=""
						   playsinline=""
						   data-wf-ignore="true"
						   data-object-fit="cover">
						<source src="images/6883825-sd_960_506_25fps-transcode.mp4" data-wf-ignore="true" />
						<source src="images/6883825-sd_960_506_25fps-transcode.webm" data-wf-ignore="true" />
					</video>
				</div>
				<script type="application/json" class="w-json">
					{
					  "items": [
						{
						  "url": "https://www.youtube.com/watch?v=Q84Ji3PQWLM",
						  "originalUrl": "https://www.youtube.com/watch?v=Q84Ji3PQWLM",
						  "width": 940,
						  "height": 528,
						  "thumbnailUrl": "https://i.ytimg.com/vi/Q84Ji3PQWLM/hqdefault.jpg",
						  "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FQ84Ji3PQWLM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQ84Ji3PQWLM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FQ84Ji3PQWLM%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
						  "type": "video"
						}
					  ],
					  "group": ""
					}
				</script>
			</a>
		</div>
	</section>
	<section class="section overflow-hidden">
		<div class="w-layout-blockcontainer base-container position-relative w-container">
			<div class="w-layout-vflex vertical-40">
				<div class="w-layout-vflex vertical-20">
					<h2 data-w-id="711ea4ca-fe02-6325-80e5-93a17a51829a" style="opacity:0" class="quote-title">The Lab was founded by Eric Labbonski.</h2>
					<div data-w-id="711ea4ca-fe02-6325-80e5-93a17a51829c" style="opacity:0" class="quote-description">
						<div class="gray-color paragraph-large">A visionary in the world of video production with a deep passion for storytelling and creative excellence.</div>
					</div>
				</div>
				<div data-poster-url="images/523b-4675-8716-1b62195303ef-poster-00001.jpg"
					 data-video-urls="images/523b-4675-8716-1b62195303ef-transcode.mp4,images/523b-4675-8716-1b62195303ef-transcode.webm"
					 data-autoplay="true"
					 data-loop="true"
					 data-wf-ignore="true"
					 class="quote-video w-background-video w-background-video-atom">
					<video id="711ea4ca-fe02-6325-80e5-93a17a51829f-video"
						   autoplay=""
						   loop=""
						   style='background-image:url("images/523b-4675-8716-1b62195303ef-poster-00001.jpg")'
						   muted=""
						   playsinline=""
						   data-wf-ignore="true"
						   data-object-fit="cover">
						<source src="images/523b-4675-8716-1b62195303ef-transcode.mp4" data-wf-ignore="true" />
						<source src="images/523b-4675-8716-1b62195303ef-transcode.webm" data-wf-ignore="true" />
					</video>
				</div>
				<div class="w-layout-vflex quote-wrapper">
					<div class="quote-text-wrapper">
						<h3 data-w-id="711ea4ca-fe02-6325-80e5-93a17a5182a2" style="opacity:0" class="text-white">
							At The Lab, we believe that every frame tells a story. Our mission is to turn ideas into unforgettable experiences, where creativity and technology unite to inspire and engage.&quot;
						</h3>
					</div>
					<div data-w-id="711ea4ca-fe02-6325-80e5-93a17a5182a4" style="opacity:0" class="w-layout-vflex vertical-8">
						<h6 class="upper-text-600 text-white">Eric Labbonski</h6>
						<h6 class="upper-text gray-color">CEO of thelab</h6>
					</div>
				</div>
			</div>
			<div class="quote-absolute"></div>
		</div>
	</section>
	<section>
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-hflex subtitle">
					<div>the team</div>
					<div class="dot"></div>
				</div>
				<div class="team-title-wrapper center"><h2 data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f8259" style="opacity:0">Meet the people behind the camera</h2></div>
				<div class="w-layout-grid team-grid">
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f825c" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img"><img src="images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Amélie Laurent</h6>
								<div class="upper-text gray-color">Creative Director</div>
							</div>
							<div class="gray-color">Visionary leader turning ideas into powerful stories.</div>
						</div>
					</div>
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f8267" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img second"><img src="images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Nikolas Gibbons</h6>
								<div class="upper-text gray-color">Producer</div>
							</div>
							<div class="gray-color">Organizes and manages projects from start to finish.</div>
						</div>
					</div>
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f8272" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img third"><img src="images/image-20-6-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Sienna Hewitt</h6>
								<div class="upper-text gray-color">Director of Photography</div>
							</div>
							<div class="gray-color">Captures stunning visuals with precision.</div>
						</div>
					</div>
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f827d" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _04"><img src="images/image-20-7-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Lily-Rose Chedjou</h6>
								<div class="upper-text gray-color">Editor</div>
							</div>
							<div class="gray-color">Transforms raw footage into engaging content.</div>
						</div>
					</div>
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f8288" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _05"><img src="images/image-20-8-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Zahra Christensen</h6>
								<div class="upper-text gray-color">Motion Graphics Designer</div>
							</div>
							<div class="gray-color">Creates dynamic graphics to elevate projects.</div>
						</div>
					</div>
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f8293" style="opacity:0" class="w-layout-vflex vertical-24">
						<div class="team-member-img _06"><img src="images/image-20-9-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Caitlyn King</h6>
								<div class="upper-text gray-color">Project Manager</div>
							</div>
							<div class="gray-color">Ensures smooth coordination and timely delivery.</div>
						</div>
					</div>
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f829e" style="opacity:0" class="w-layout-vflex vertical-24 tablet-hidden">
						<div class="team-member-img _07"><img src="images/image-20-10-.webp" loading="lazy" alt="man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Zaid Schwartz</h6>
								<div class="upper-text gray-color">Assistant Director</div>
							</div>
							<div class="gray-color">Supports logistics and contributes fresh ideas.</div>
						</div>
					</div>
					<div data-w-id="d4fd625b-4f24-c5cd-311d-b4d1bb7f82a9" style="opacity:0" class="w-layout-vflex vertical-24 tablet-hidden">
						<div class="team-member-img _08"><img src="images/image-20-11-.webp" loading="lazy" alt="Man" class="cover-image" /></div>
						<div class="w-layout-vflex vertical-16">
							<div class="w-layout-vflex vertical-2">
								<h6 class="upper-text-600">Marco Kelly</h6>
								<div class="upper-text gray-color">Customer Success</div>
							</div>
							<div class="gray-color">Lead CX at Wealthsimple. Former PagerDuty and Sqreen.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section overflow-hidden">
		<div class="w-layout-blockcontainer base-container position-relative w-container">
			<div class="w-layout-vflex vertical-40 centered">
				<div class="w-layout-hflex subtitle">
					<div>Reviews</div>
					<div class="dot"></div>
				</div>
				<div class="w-layout-vflex vertical-20 centered">
					<h2 data-w-id="093727ad-bad6-f0eb-e69b-e6daf6471801" style="opacity:0" class="home-3-testimonials-title">Our clients’ satisfaction is our top priority.</h2>
					<div class="rewiews-desription"><div data-w-id="093727ad-bad6-f0eb-e69b-e6daf6471804" style="opacity:0" class="gray-color">We’re proud of the relationships we’ve built and the impact our videos have made.</div></div>
				</div>
				<div data-delay="4000"
					 data-animation="slide"
					 class="testimonials-slider-home-3 w-slider"
					 data-autoplay="false"
					 data-easing="ease"
					 style="opacity:0"
					 data-hide-arrows="false"
					 data-disable-swipe="false"
					 data-w-id="093727ad-bad6-f0eb-e69b-e6daf6471806"
					 data-autoplay-limit="0"
					 data-nav-spacing="3"
					 data-duration="500"
					 data-infinite="true">
					<div class="home-testimonials-mask w-slider-mask">
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;The Lab took our vision and turned it into a reality. The team was incredibly professional, creative, and attentive to every detail. The final product exceeded our expectations, and it’s
										made a huge impact on our brand.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Daniel, CEO AZS Agency</div>
							</div>
						</div>
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect
										with our audience in a way we hadn’t imagined.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
							</div>
						</div>
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;We’ve worked with many studios, but The Lab stands out. Their expertise, communication, and passion for storytelling are unmatched. We couldn’t be happier with the final result, and it’s
										helping us reach new customers.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Rebecca, Creative Director, Urban</div>
							</div>
						</div>
						<div class="home-testimonials-slide w-slide">
							<div class="w-layout-vflex slide-intro">
								<div class="w-layout-vflex vertical-20">
									<div class="w-layout-hflex stars-wrapper">
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
										<img src="images/star-201.svg" loading="lazy" alt="star" /><img src="images/star-201.svg" loading="lazy" alt="star" />
									</div>
									<h5>
										&quot;From start to finish, The Lab made the process easy and enjoyable. Their team understood our goals and brought fresh, innovative ideas to the table. The video they produced helped us connect
										with our audience in a way we hadn’t imagined.&quot;
									</h5>
								</div>
								<div class="upper-text-600 gray-color">Martin, CEO GreenEarth Solutions</div>
							</div>
						</div>
					</div>
					<div data-w-id="093727ad-bad6-f0eb-e69b-e6daf647183c" class="slider-left-arrow-center w-slider-arrow-left">
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="images/group-201-20-2-.svg" loading="lazy" alt="icon" />
							</div>
							<div class="clip-icon-wrapper left"><img src="images/group-201-20-3-.svg" loading="lazy" alt="icon" /></div>
						</div>
					</div>
					<div data-w-id="093727ad-bad6-f0eb-e69b-e6daf6471842" class="slider-left-arrow-center right w-slider-arrow-right">
						<div class="clip">
							<div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
								 class="clip-icon-wrapper">
								<img src="images/group-201-20-1-.svg" loading="lazy" alt="icon" />
							</div>
							<div class="clip-icon-wrapper right"><img src="images/group-201-20-4-.svg" loading="lazy" alt="icon" /></div>
						</div>
					</div>
					<div class="hidden w-slider-nav w-round w-num"></div>
				</div>
			</div>
			<div class="testimonials-adsolute"></div>
		</div>
	</section>
	<section class="section dark-bg-without-bottom">
		<div class="w-layout-blockcontainer base-container w-container">
			<div class="w-layout-hflex cta-wrapper">
				<div class="w-layout-hflex subtitle dark">
					<div>Contact us</div>
					<div class="dot white"></div>
				</div>
				<div class="w-layout-vflex cta-right">
					<div data-w-id="09466230-4a3c-b128-8268-bf2e95416850" class="cta-text-wrapper">
						<h2 class="text-white">
							<span class="text-span-image">.</span> Ready to bring your vision to life?
							<span class="gray-color">Our team at The Lab is here to make it happen. Get in touch with us today to start your next video project!</span>
						</h2>
						<div data-poster-url="images/cta-poster-00001.jpg"
							 data-video-urls="images/cta-transcode.mp4,images/cta-transcode.webm"
							 data-autoplay="true"
							 data-loop="true"
							 data-wf-ignore="true"
							 class="cta-video-absolute w-background-video w-background-video-atom">
							<video id="09466230-4a3c-b128-8268-bf2e95416857-video" autoplay="" loop="" style='background-image:url("images/cta-poster-00001.jpg")' muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
								<source src="images/cta-transcode.mp4" data-wf-ignore="true" />
								<source src="images/cta-transcode.webm" data-wf-ignore="true" />
							</video>
						</div>
					</div>
					<a data-w-id="09466230-4a3c-b128-8268-bf2e95416858" href="/contact-us" class="primary-button-white w-inline-block">
						<div>Discover next project</div>
						<div class="clip">
							<div class="clip-icon-wrapper"><img src="images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
							<div class="clip-icon-wrapper right"><img src="images/group-201.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	